@font-face {
  font-family: "Typold-Black";
  src: url("../assets/fonts/Typold-Black.otf");
  src: url("../assets/fonts/Typold-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Bold";
  src: url("../assets/fonts/Typold-Bold.otf");
  src: url("../assets/fonts/Typold-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Bold-Italic";
  src: url("../assets/fonts/Typold-Bold-Italic.otf");
  src: url("../assets/fonts/Typold-Bold-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Book";
  src: url("../assets/fonts/Typold-Book.otf");
  src: url("../assets/fonts/Typold-Book.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Regular";
  src: url("../assets/fonts/Typold-Regular.otf");
  src: url("../assets/fonts/Typold-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Condensed-Bold";
  src: url("../assets/fonts/Typold-Condensed-Bold.otf");
  src: url("../assets/fonts/Typold-Condensed-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Condensed-Regular";
  src: url("../assets/fonts/Typold-Condensed-Regular.otf");
  src: url("../assets/fonts/Typold-Condensed-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Condensed-Medium";
  src: url("../assets/fonts/Typold-Condensed-Medium.otf");
  src: url("../assets/fonts/Typold-Condensed-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Condensed-Book";
  src: url("../assets/fonts/Typold-Condensed-Book.otf");
  src: url("../assets/fonts/Typold-Condensed-Book.ttf") format("truetype");
}

@font-face {
  font-family: "";
  src: url("../assets/fonts/.otf");
  src: url("../assets/fonts/.ttf") format("truetype");
}

@font-face {
  font-family: "";
  src: url("../assets/fonts/.otf");
  src: url("../assets/fonts/.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Thin";
  src: url("../assets/fonts/Typold Thin.otf");
}

@font-face {
  font-family: "Typold-Medium";
  src: url("../assets/fonts/Typold Medium.otf");
}

.aboutUsComponent {
  background-color: #ffffff;
}
.aboutUsHeading {
  color: #724ef4;
  font-family: "Typold-Book";
  font-size: 1.1vw;
  font-weight:600;
  text-transform: uppercase;
  position: relative;
  padding-left: 5vw;
}

.aboutUsHeading:before {
  content: "";
  width: 4.7vw;
  height: 2px;
  background: #724ef4;
  position: absolute;
  left: 0;
  top: 0.7vw;
  transition: 0.2s;
}
.aboutUsRow {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 3vw 0vw 8vw 0vw;
}

.aboutUsBox {
  padding-left: 1vw;
}
.aboutUsMainHeading {
  font-family: "Typold-Bold";
  color: #724ef4;
  font-size: 3.6vw;
  padding-bottom: 1vw;
  line-height: 1.2;
}

.aboutUsDesc {
  font-family: "Typold-Thin";
  font-size: 1vw;
  padding-bottom: 1vw;
  margin: 0;
  color:#777777;
  font-weight:600;
}


.officeImg {
  width: 40vw;
  height: 30vw;
  position: absolute;
  right: 0px;
}

.directorRow {
  display: grid;
  grid-template-columns: 27% 73%;
  position: relative;
}

.directorDescRow {
  position: absolute;
  z-index: 1;
  display: grid;
  grid-template-columns: 28% 70%;
  left: 20%;
  top: 15%;
}
.directorDescColumn {
  padding: 2vw 0vw;
}

.directorImg {
  width: 20vw;
}

.directorDescBox {
  padding: 0vw 2vw 0vw 1vw;
}

.yellowBox {
  position: relative;
  min-height: 30vw;
  background-color: #fabc60;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.topQuote {
  position: absolute;
  left: 40%;
  top: 10%;
  width: 4vw;
  height: 4vw;
}

.greyColumn {
  padding: 2.4vw 2vw 2.4vw 0vw;
}

.greyBox {
  min-height: 30vw;
  background-color: #f4f1f1;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.btmQuote {
  position: absolute;
  right: 4%;
  bottom: 20%;
  width: 4vw;
  height: 4vw;
}

@media screen and (max-width: 1240px) {
  .aboutUsHeading {
    font-size: 1.2vw;
  }

  .aboutUsMainHeading {
    font-size: 3.4vw;
    padding-bottom: 1vw;
  }

  .aboutUsDesc {
    font-size: 1.2vw;
    padding-bottom: 1vw;
  }

  .btmQuote {
    right: 5%;
    bottom: 16%;
    width: 4vw;
    height: 4vw;
  }
}

@media screen and (max-width: 768px) {
  .aboutUsRow {
    display: flex;
    flex-direction: column-reverse;
    padding: 0vw 0vw 4vw 0vw;
  }
  .aboutUsHeading {
    font-size: 1.8vw;
    padding-left: 5.5vw;
  }
  .aboutUsHeading:before {
    height: 0.2vw;
    top: 0.9vw;
  }
  .aboutUsMainHeading {
    font-size: 5vw;
    padding-bottom: 3vw;
  }
  .aboutUsDesc {
    font-size: 1.8vw;
    padding-bottom: 3vw;
    margin: 0;
  }
  .officeImg {
    width: 100%;
    height: 50vw;
    position: relative;
    right: 0px;
    padding-bottom: 4vw;
  }

  .directorDescRow {
    grid-template-columns: 28% 71%;
    left: 10%;
    top: 15%;
  }
  .yellowBox {
    min-height: 45vw;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .topQuote {
    left: 12%;
    top: 5%;
    width: 4vw;
    height: 4vw;
  }

  .directorImg {
    width: 22vw;
  }

  .greyColumn {
    padding: 2.4vw 2vw 2.4vw 0vw;
  }

  .greyBox {
    min-height: 55vw;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .btmQuote {
    right: 5%;
    bottom: 17%;
    width: 4vw;
    height: 4vw;
  }
}

@media screen and (max-width: 540px) {
  .aboutUsHeading {
    font-size: 1.125rem;
    padding-left: 45.5px;
  }
  .aboutUsHeading:before {
    height: 0.2vw;
    top:9px;
    width:40px;
  }
  .aboutUsRow {
    display: flex;
    flex-direction: column-reverse;
    padding: 0vw 0vw 8vw 0vw;
  }

  .aboutUsBox {
    padding: 0vw 6vw;
  }
  .aboutUsMainHeading {
    font-size: 2.4rem;
    padding-bottom: 1vw;
  }

  .aboutUsDesc {
    font-size: 1.125rem;
    padding-bottom: 1vw;
    margin: 0;
  }

  .officeImg {
    width: 100vw;
    height: 60vw;
    position: relative;
    right: 0px;
    padding-bottom: 4vw;
  }

  .directorRow {
    display: grid;
    grid-template-columns: 27% 73%;
    position: relative;
  }

  .directorDescRow {
    grid-template-columns: 33% 64%;
    left: 3%;
    top: 13%;
  }
  .directorDescColumn {
    padding: 2vw 0vw;
  }

  .directorImg {
    width: 30vw;
  }

  .directorDescBox {
    padding: 0vw 2vw 0vw 1vw;
  }

  .yellowBox {
    min-height: 65vw;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .topQuote {
    left: 12%;
    top: 5%;
    width: 4vw;
    height: 4vw;
  }

  .greyColumn {
    padding: 2.4vw 2vw 2.4vw 0vw;
  }

  .greyBox {
    min-height: 100vw;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .btmQuote {
    right: 5%;
    bottom: 10%;
    width: 4vw;
    height: 4vw;
  }
}
