.aboutUsBanner {
  min-height: 28vw;
  background-image: linear-gradient(to right top, #01b599 25%, #724ef4 75%);
}

.aboutUsBannerHeading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.75vw;
  font-family: "Typold-Medium";
  color: #ffffff;
  text-align: center;
  line-height: 1.3;
  min-width: 50vw;
} 

.aboutUsBannerHeading > span {
  font-size: 3.4vw;
  color: #444444;
  text-transform: uppercase;
  font-family: "Typold-Bold";
  font-weight: 600;
}

@media screen and (max-width: 1240px) {
  .aboutUsBanner {
    min-height: 28vw;
  }

  .aboutUsBannerHeading {
    min-width: 80vw;
    font-size: 2.4vw;
  }

  .aboutUsBannerHeading > span {
    font-size: 3vw;
  }
}

@media screen and (max-width: 768px) {
  .aboutUsBanner {
    min-height: 40vw;
  }

  .aboutUsBannerHeading {
    min-width: 80vw;
    font-size: 3.5vw;
  }

  .aboutUsBannerHeading > span {
    font-size: 5vw;
  }
}

@media screen and (max-width: 540px) {
  .aboutUsBanner {
    min-height: 40vw;
  }

  .aboutUsBannerHeading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.5vw;
    font-family: "Typold-Medium";
    color: #ffffff;
    text-align: center;
    line-height: 1.3;
    min-width: 80vw;
  }

  .aboutUsBannerHeading > span {
    font-size: 6vw;
  }
}
