@font-face {
  font-family: 'Typold-Black';
  src: url("../assets/fonts/Typold-Black.otf");
  src: url("../assets/fonts/Typold-Black.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Bold';
  src: url("../assets/fonts/Typold-Bold.otf");
  src: url("../assets/fonts/Typold-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Bold-Italic';
  src: url("../assets/fonts/Typold-Bold-Italic.otf");
  src: url("../assets/fonts/Typold-Bold-Italic.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Book';
  src: url("../assets/fonts/Typold-Book.otf");
  src: url("../assets/fonts/Typold-Book.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Regular';
  src: url("../assets/fonts/Typold-Regular.otf");
  src: url("../assets/fonts/Typold-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Condensed-Bold';
  src: url("../assets/fonts/Typold-Condensed-Bold.otf");
  src: url("../assets/fonts/Typold-Condensed-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Condensed-Regular';
  src: url("../assets/fonts/Typold-Condensed-Regular.otf");
  src: url("../assets/fonts/Typold-Condensed-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Condensed-Medium';
  src: url("../assets/fonts/Typold-Condensed-Medium.otf");
  src: url("../assets/fonts/Typold-Condensed-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Condensed-Book';
  src: url("../assets/fonts/Typold-Condensed-Book.otf");
  src: url("../assets/fonts/Typold-Condensed-Book.ttf") format("truetype");
}

@font-face {
  font-family: '';
  src: url("../assets/fonts/.otf");
  src: url("../assets/fonts/.ttf") format("truetype");
}

@font-face {
  font-family: '';
  src: url("../assets/fonts/.otf");
  src: url("../assets/fonts/.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Thin';
  src: url("../assets/fonts/Typold Thin.otf");
}

@font-face {
  font-family: 'Typold-Medium';
  src: url("../assets/fonts/Typold Medium.otf");
}


.banner {
  position: relative;
  min-height: 51vw;
  background: linear-gradient(45deg, rgba(0, 182, 152, 0.5), rgba(114, 78, 244, 0.5));
  background-size: cover;
}

.banner .banner-content #myVideo {
 width:100%;
 height:100%;
 position: absolute;
 object-fit: cover;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .banner {
    min-height: 60vw;
  }
}

@media screen and (max-width: 540px) {
  .banner {
    min-height: 70vw;
  }
}

.banner .logo {
  position: absolute;
  left: 36%;
  transform: translate(-50%);
  top: 10%;
}

@media screen and (min-width: 1241px) {
  .banner .logo {
    width: 25vw;
    height:auto;
  }
}


@media screen and (max-width: 1240px) {
  .banner .logo {
    width: 25vw;
    height:auto;
  }
}

@media screen and (max-width: 768px) {
  .banner .logo {
    width: 30vw;
    height:auto;
    left: 35% !important;
  }
}

@media screen and (max-width: 540px) {
  .banner .logo {
    width: 40vw;
    height:auto;
    left: 30% !important;
  }
}

.banner h1.banner-text {
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  line-height: 1.35em;
  letter-spacing: 2px;
  transition: .2s;
  font-family: 'Typold-Bold';
  font-weight: bold;
  margin:0;
}

@media screen and (min-width: 1241px) {
  .banner h1.banner-text {
    font-size: 2.4vw;
    width: 50vw;
    top: 36%;
    /* left: 24%; */
  }
}

@media screen and (max-width: 1200px) {
  .banner h1.banner-text {
    font-size: 3vw;
    top: 45%;
    width: 51vw;
  }
}

@media screen and (max-width: 768px) {
  .banner h1.banner-text {
    font-size: 4vw;
    top: 45%;
    width: 70vw;
    font-size: 25px;
    left: 15%;
  }
}

@media screen and (max-width: 540px) {
  
.banner h1.banner-text {
  position: absolute;
  margin: 0 10% !important;
  left: 5%;
  font-size: 15px !important;
  top: 35%;
  transform: translate(-50%, -50%);
  /* width: 94vw; */
  line-height: 1.35em;
  letter-spacing: 4px;
  transition: .2s;
  font-family: 'Typold-Medium';
  margin:0;
}
  
}



@media screen and (max-width: 767px) {
  .banner h1.banner-text {
    font-size: 2.38vw;
    transition: .2s;
  }
}

@media screen and (max-width: 540px) {
  .banner h1.banner-text {
    font-size: 1.8rem;
    transition: .2s;
  }

}

.banner button {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%) skewX(-10deg);
}

@media screen and (max-width: 540px) {
  .banner button {
    font-size: 3.2vw;
    transition: .2s;
  }
}



.banner .banner-content .section-heading {
  font-family: 'Typold-Regular';
  font-size: 18px;
  padding: 26px 2vw;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  color: #fff;
  bottom: 3vw;
  background: transparent;
  transform: translate(-50%, -8px);
  
}

.banner .banner-content .section-heading span:before {
  content: '';
  position: absolute;
  display: inline-block;
  margin: -26px -2vw;
  height: 100%;
  width: 100%;
  transform: skew(-6.7deg);
  z-index: -1;
  transition: all linear .6s;
}

.banner .banner-content .section-heading::after, .banner .banner-content .section-heading::before {
  top: 0px;
  height: 100%;
  width: 100%;
  border-color: #ffffff;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  -webkit-box-sizing: border-box;
  border-top: none;
  border-bottom: none;
  transform: skew(-6.7deg);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient(left, #ffffff 0%, #ffffff 100%), -webkit-linear-gradient(left, #ffffff 0%, #ffffff 100%);
  background-image: -moz-linear-gradient(left, #ffffff 0%, #ffffff 100%), -moz-linear-gradient(left, #ffffff 0%, #ffffff 100%);
  background-image: -o-linear-gradient(left, #ffffff 0%, #ffffff 100%), -o-linear-gradient(left, #ffffff 0%, #ffffff 100%);
  background-image: linear-gradient(to right, #ffffff 0%, #ffffff 100%), linear-gradient(to right, #ffffff 0%, #ffffff 100%);
  transition: background-size ease 1s;
  -webkit-background-size: 100% 2px;
  -moz-background-size: 100% 2px;
  background-size: 100% 2px;
}

.banner .banner-content .section-heading::after {
  background-position: 100% 0, 100% 0;
  border-left: none;
}

.banner .banner-content .section-heading::before {
  background-position: 0 100%, 0 100%;
  border-right: none;
}

.banner .banner-content .section-heading:hover {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transform: translate(-50%, -8px);
}

.banner .banner-content .section-heading:hover span {
  background: -webkit-linear-gradient(45deg, #00B698, #724EF4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner .banner-content .section-heading:hover span:before {
  background: white;
  transition: all linear .6s;
}

@media screen and (min-width: 1241px) {
  .banner .banner-content .section-heading {
    font-size: 1.6vw;
    padding: 2vw 0vw;
    bottom: 6vw;
    min-width:18vw;
    margin-left: 50% !important;
  }

  .banner .banner-content .section-heading span:before {
    margin: 0;
    left:0;
    bottom: 0;
  }

}

@media screen and (min-width: 1024px) {
  .banner .banner-content .section-heading {
    margin-left: 50% !important;
  }
}

@media screen and (max-width: 768px) {
  .banner button {
    font-size: 3vw;
    transition: .2s;
  }

.banner .logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 10%;
}

.banner .banner-content .section-heading {
  font-family: 'Typold-Regular';
  font-size: 2vw;
  padding: 2.8vw 0vw;
  margin-left: 50% !important;
  bottom: 4vw;
  min-width:22vw;
}

.banner .banner-content .section-heading span:before {
  margin: 0;
  left:0;
  bottom: 0;
}

}

@media screen and (max-width: 540px) {
  .banner .banner-content .section-heading {
    font-size: 2.8vw;
    padding: 3.5vw 3vw;
    bottom:3vw;
    min-width:30vw;
    margin-left: 50%;
  }
  
  .banner .banner-content .section-heading span:before {
    content: '';
    position: absolute;
    display: inline-block;
    margin:0px;
    bottom: 0vw;
    left:0vw;
    height: 100%;
    width: 100%;
    transform: skew(-6.7deg);
    z-index: -1;
    transition: all linear .6s;
  }
  
  .banner .banner-content .section-heading::after, .banner .banner-content .section-heading::before {
    top: 0px;
    height: 100%;
    width: 100%;
    border-color: #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    -webkit-box-sizing: border-box;
    border-top: none;
    border-bottom: none;
    transform: skew(-6.7deg);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-image: -webkit-linear-gradient(left, #ffffff 0%, #ffffff 100%), -webkit-linear-gradient(left, #ffffff 0%, #ffffff 100%);
    background-image: -moz-linear-gradient(left, #ffffff 0%, #ffffff 100%), -moz-linear-gradient(left, #ffffff 0%, #ffffff 100%);
    background-image: -o-linear-gradient(left, #ffffff 0%, #ffffff 100%), -o-linear-gradient(left, #ffffff 0%, #ffffff 100%);
    background-image: linear-gradient(to right, #ffffff 0%, #ffffff 100%), linear-gradient(to right, #ffffff 0%, #ffffff 100%);
    transition: background-size ease 1s;
    -webkit-background-size: 100% 2px;
    -moz-background-size: 100% 2px;
    background-size: 100% 2px;
  }
  
  .banner .banner-content .section-heading::after {
    background-position: 100% 0, 100% 0;
    border-left: none;
  }
  
  .banner .banner-content .section-heading::before {
    background-position: 0 100%, 0 100%;
    border-right: none;
  }
  
  .banner .banner-content .section-heading:hover {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transform: translate(-50%, -8px);
  }
  
  .banner .banner-content .section-heading:hover span {
    background: -webkit-linear-gradient(45deg, #00B698, #724EF4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .banner .banner-content .section-heading:hover span:before {
    background: white;
    transition: all linear .6s;
  }
}

.internal.banner .section-heading {
  user-select: none;
  margin-top: 30vh;
  color: #ffffff;
}

.internal.banner .section-heading:after {
  border-color: #ffffff;
}

.internal.banner .section-heading:before {
  border-color: #ffffff;
}
