.banner {
    position: relative;
    min-height: 100vh;
    background: linear-gradient(45deg, rgba(0, 182, 152, 0.5), rgba(114, 78, 244, 0.5)), url('../assets/banner-bg.png') center center no-repeat fixed;
    background-size: cover;
    h1.banner-text {
        position: absolute;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 50vw;
        line-height: 1.35em;
        font-weight: 900;
        letter-spacing: 4px;
        transition: .2s;
        @media screen and (min-width: 768px) {
            font-size: 2.71vw;
            transition: .2s;
        }
        @media screen and (max-width: 767px) {
            font-size: 2.38vw;
            transition: .2s;
        }
        @media screen and (max-width: 540px) {
            font-size: 3.5vw;
            transition: .2s;
        }
    }
    button {
        position: absolute;
        bottom: 100px;
        left: 50%;
        transform: translateX(-50%) skewX(-10deg);
        @media screen and (max-width: 540px) {
            font-size: 3.2vw;
            transition: .2s;
        }
    }
    .logo {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 10%;
    }
}