.firstRow {
  padding: 2vw 7vw;
  background-color: #ffffff;
}
.carrer2Logo {
  width: 17vw;
}
.jobDescHeading {
  color: #492f5c;
  font-size: 2.15vw;
  font-family: "Typold-Regular";
  font-weight: bold;
  padding-top: 2vw;
}
.location {
  padding-right: 1vw;
  font-size: 1.3vw;
}
.clk {
  padding-right: 1vw;
  font-size: 1.1vw;
}
.jobDesc {
  font-family: "Typold-Thin";
  font-size: 1vw;
  color: #777777;
  font-weight: bold;
}
.secondRow {
  background-image: linear-gradient(#b7eae2 3%, #ffffff 8%);
  padding: 3vw 6vw;
}
.backheading {
  color: #724ef4;
  font-family: "Typold-Book";
  font-size: 1.1vw;
  padding-left: 1vw;
  padding-bottom: 2vw;
  font-weight: bold;
}
.carrer2Heading {
  color: #724ef4;
  font-family: "Typold-Book";
  font-size: 1.1vw;
  text-transform: uppercase;
  position: relative;
  padding-left: 5vw;
  font-weight: bold;
}
.carrer2Heading:before {
  content: "";
  width: 4.7vw;
  height: 2px;
  background: #724ef4;
  position: absolute;
  left: 0;
  top: 0.7vw;
  transition: 0.2s;
}

.carrer2List {
  padding: 1vw 1vw;
}

.carrer2List li {
  color: #777777;
  font-family: "Typold-Thin";
  font-size: 1vw;
  list-style-type: none;
  position: relative;
  padding-left: 1vw;
  font-weight: bold;
}

.carrer2List li::before {
  content: "";
  width: 0.5vw;
  height: 1px;
  background: #777777;
  position: absolute;
  left: 0;
  top: 0.7vw;
}

.requiredCandidateRow {
  padding-bottom: 1.5vw;
}

.requiredCandidateRow div:nth-child(odd) {
  color: #b4b3b3;
}

.career2Desc ul {
  display: grid;
  grid-template-columns: 13% 33%;
}

.career2Desc li {
  list-style-type: none;
}

.career2SkillBox {
  margin-top: 0.75vw;
  margin-bottom: 2.5vw;
}

.career2Skill {
  font-size: 1vw;
  font-family: "Typold-Thin";
  color: #777777;
  padding: 0vw 1vw;
  font-weight: bold;
}

.career2Desc {
  font-size: 1vw;
  font-family: "Typold-Thin";
  color: #777777;
  padding-left: 1vw;
  padding-bottom: 1vw;
  font-weight: bold;
}

.career2formRow {
  display: grid;
  grid-template-columns: 50%;
  padding: 1vw 0vw;
}

.carrer2input {
  border-radius: 6px;
  border: 1px solid #777777;
  padding: 1.5vw 1.5vw;
}

.carrer2textarea {
  border-radius: 6px;
  border: 1px solid #777777;
  padding: 1vw 1.5vw;
  resize: none;
}

.carrer2input::placeholder {
  color: #777777;
  font-family: "Typold-Thin";
  font-size: 1.1vw;
  font-weight: bold;
}

.carrer2textarea::placeholder {
  color: #777777;
  font-family: "Typold-Thin";
  font-size: 1.1vw;
  font-weight: bold;
}

.attachBtnBox {
  padding-bottom: 2vw;
}

.attachInput::-webkit-file-upload-button {
  visibility: hidden;
}
.attachInput::before {
  content: "Choose File";
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid #777777;
  border-radius: 8px;
  color: #777777;
  font-size: 1vw;
  font-family: "Typold-Thin";
  font-weight: bold;
  padding: 0.3vw 0.7vw;
  cursor: pointer;
}

@media screen and (max-width: 1240px) {
  .firstRow {
    padding: 2vw 7vw;
  }
  .carrer2Logo {
    width: 19vw;
  }
  .jobDescHeading {
    font-size: 2.4vw;
    padding-top: 2vw;
  }
  .clk {
    padding-right: 1vw;
    font-size: 1.6vw;
  }
  .location {
    padding-right: 1vw;
    font-size: 1.8vw;
  }
  .jobDesc {
    font-size: 1.2vw;
  }
  .secondRow {
    background-image: linear-gradient(#b7eae2 3%, #ffffff 7%);
    padding: 3vw 6vw;
  }
  .backheading {
    font-size: 1.2vw;
    padding-left: 1vw;
    padding-bottom: 2vw;
  }
  .carrer2Heading {
    font-size: 1.2vw;
    padding-left: 5vw;
  }

  .carrer2List {
    padding: 1vw 1vw;
  }

  .carrer2List li {
    font-size: 1.2vw;
    padding-left: 1vw;
  }

  .carrer2List li::before {
    content: "";
    width: 0.5vw;
    height: 1px;
    position: absolute;
    left: 0;
    top: 0.7vw;
  }

  .requiredCandidateRow {
    grid-template-columns: 16% 40%;
    padding-bottom: 1.5vw;
  }
  .career2SkillBox {
    margin-top: 0.75vw;
    margin-bottom: 2.5vw;
  }

  .career2Skill {
    font-size: 1.2vw;
    padding: 0vw 1vw;
  }

  .career2Desc {
    font-size: 1.2vw;
    padding-left: 1vw;
    padding-bottom: 1vw;
  }

  .career2Desc ul {
    grid-template-columns: 18% 50%;
  }

  .career2formRow {
    grid-template-columns: 50%;
    padding: 1vw 0vw;
  }

  .carrer2input {
    border-radius: 6px;
    padding: 1.75vw 1.5vw;
  }

  .carrer2textarea {
    border-radius: 6px;
    padding: 1vw 1.5vw;
  }

  .carrer2input::placeholder {
    font-size: 1.2vw;
  }

  .carrer2textarea::placeholder {
    font-size: 1.2vw;
  }

  .attachBtnBox {
    padding-bottom: 2vw;
  }

  .attachInput::before {
    border-radius: 8px;
    font-size: 1.2vw;
    padding: 0.3vw 1vw;
  }
}

@media screen and (max-width: 768px) {
  .firstRow {
    padding: 3vw 3vw 2vw 8vw;
  }
  .carrer2Logo {
    width: 22vw;
  }
  .jobDescHeading {
    font-size: 2.75vw;
    padding-top: 2vw;
  }
  .clk {
    padding-right: 1vw;
    font-size: 1.6vw;
  }
  .location {
    padding-right: 1vw;
    font-size: 1.8vw;
  }
  .jobDesc {
    font-size: 1.6vw;
  }
  .secondRow {
    background-image: linear-gradient(#b7eae2 2%, #ffffff 6%);
    padding: 3vw 6vw;
  }
  .backheading {
    font-size: 1.8vw;
    padding-left: 1vw;
    padding-bottom: 2vw;
  }
  .carrer2Heading {
    font-size: 1.8vw;
    padding-left: 5vw;
  }
  .carrer2Heading:before {
    height: 0.2vw;
    top: 0.9vw;
  }
  .carrer2List {
    padding:2vw 1vw;
  }

  .carrer2List li {
    font-size: 1.6vw;
    padding-left: 1.3vw;
  }

  .carrer2List li::before {
    width: 0.7vw;
    height: 1px;
    left: 0;
    top: 1.1vw;
  }

  .requiredCandidateRow {
    grid-template-columns: 16% 40%;
    padding-bottom: 1.5vw;
  }
  .career2SkillBox {
    margin-top: 0.75vw;
    margin-bottom: 3vw;
  }

  .career2Skill {
    font-size: 1.6vw;
    padding: 0vw 1vw;
  }

  .career2Desc {
    font-size: 1.6vw;
    padding-left: 1vw;
    padding-bottom: 2vw;
  }

  .career2Desc ul {
    grid-template-columns: 22% 55%;
  }

  .career2formRow {
    grid-template-columns: 50%;
    padding: 1vw 0vw;
  }

  .carrer2input {
    border-radius: 6px;
    padding: 1.75vw 1.5vw;
  }

  .carrer2textarea {
    border-radius: 6px;
    padding: 1vw 1.5vw;
  }

  .carrer2input::placeholder {
    font-size: 1.8vw;
  }

  .carrer2textarea::placeholder {
    font-size: 1.8vw;
  }

  .attachBtnBox {
    padding-bottom: 2vw;
  }

  .attachInput::before {
    border-radius: 8px;
    font-size: 1.6vw;
    padding: 0.5vw 1.5vw;
  }
}

@media screen and (max-width: 520px) {
  .firstRow {
    padding: 5vw 3vw 2vw 8vw;
  }
  .carrer2Logo {
    width: 18.25rem;
  }
  .jobDescHeading {
    font-size: 2.25rem;
    padding-top: 2vw;
  }
  .location {
    font-size: 1.125rem;
  }
  .clk {
    font-size: 1.1rem;
  }
  .jobDesc {
    font-size: 1rem;
  }
  .secondRow {
    background-image: linear-gradient(#b7eae2 2%, #ffffff 6%);
    padding: 10vw 6vw;
  }
  .backheading {
    font-size: 1.125rem;
    padding-left: 2vw;
    padding-bottom: 2vw;
  }
  .carrer2Heading {
    font-size: 1.125rem;
    padding-left: 45.5px;
  }
  .carrer2Heading:before {
    height: 1.25px;
    top: 9px;
    width: 40px;
  }
  .carrer2List {
    padding: 1vw 1vw 1vw 2vw;
  }

  .carrer2List li {
    font-size: 1rem;
    padding-left: 10px;
  }

  .carrer2List li::before {
    width: 6px;
    height: 1.3px;
    top: 8px;
  }

  .requiredCandidateRow {
    grid-template-columns: 26% 68%;
    padding-bottom: 1.5vw;
    padding-left: 1vw;
  }
  .career2SkillBox {
    margin-top: 0.75vw;
    margin-bottom: 2.5vw;
  }

  .career2Skill {
    font-size: 1rem;
    padding: 0vw 1vw;
  }

  .career2Desc {
    font-size: 1rem;
    padding-left: 1vw;
    padding-bottom: 1vw;
  }

  .career2Desc ul {
    grid-template-columns: 35% 65%;
  }

  .career2formRow {
    grid-template-columns: 100%;
    padding: 1vw 0vw;
  }

  .carrer2input {
    border-radius: 6px;
    padding: 1.75vw 1.5vw;
  }

  .carrer2textarea {
    border-radius: 6px;
    padding: 1vw 1.5vw;
  }

  .carrer2input::placeholder {
    font-size: 1.125rem;
  }

  .carrer2textarea::placeholder {
    font-size: 1.125rem;
  }

  .attachBtnBox {
    padding-bottom: 5vw;
    padding-top: 1vw;
  }

  .attachInput::before {
    border-radius: 8px;
    font-size: 1.125rem;
    padding: 0.5vw 1.5vw;
  }
}
