body {
    background-color: #FFFFFF;
}
.footer {
    clear: both;
}
.career-banner {
    position: relative;
    background: linear-gradient(to right top, rgba(0, 182, 152, 1) 15%, rgba(176, 78, 244, 1) 100%);
    background-size: cover;
    text-align: center;
}
body .body > div.career-banner {
    padding: 15vh;
}
@media screen and (min-width: 768px) {
    body .body > div.career-banner {
        padding: 20vh;
    }
}
  
@media screen and (max-width: 767px) {
    body .body > div.career-banner {
        padding: 12vh;
    }
}
  
@media screen and (max-width: 540px) {
    body .body > div.career-banner {
        padding: 8vh;
    }
}

.career-banner .banner-text {
    text-align: center;
    color: #fff;
    line-height: 1.35em;
    font-weight: 900;
    transition: .2s;
    max-width: 55vw;
    margin: 0 auto;
    font-family: 'Typold Book';
    letter-spacing: 1px;
}

@media screen and (min-width: 768px) {
    .career-banner .banner-text {
      font-size: 2.75vw;
      transition: .2s;
    }
}
  
@media screen and (max-width: 767px) {
    .career-banner .banner-text {
      font-size: 2.38vw;
      transition: .2s;
      max-width: 45vw;
    }
}
  
@media screen and (max-width: 540px) {
    .career-banner .banner-text {
      font-size: 3.5vw;
      transition: .2s;
      max-width: initial;
    }
}

.career-banner .banner-title {
    text-align: center;
    line-height: 1.35em;
    font-weight: 600;
    transition: .2s;
    max-width: 30vw;
    margin: 0 auto;
    font-family: 'Typold Bold';
    letter-spacing: 1px;
    color: #444444;
}

@media screen and (min-width: 768px) {
    .career-banner .banner-title {
      font-size: 3.4vw;
      transition: .2s;
    }
}
  
@media screen and (max-width: 767px) {
    .career-banner .banner-title {
      font-size: 2.18vw;
      transition: .2s;
      max-width: 45vw;
    }
}
  
@media screen and (max-width: 540px) {
    .career-banner .banner-title {
      font-size: 4.2vw;
      transition: .2s;
      max-width: initial;
      margin-top: 10px;
    }
}

/* Body */
@media screen and (max-width: 540px) {
    body .body > div.career-openings {
        padding-left: 4vw;
        padding-right: 4vw;
        /* max-width: calc(100% - 14vw); */
    }
}

.career-openings .pre-heading {
    color: #724EF4;
    font-family: 'Typold Regular';
    text-transform: uppercase;
    font-size: 14px;
    padding-left: 6vw;
    margin-top: 3.5em;
    transition: .2s;
}

.career-openings .pre-heading:hover {
    padding-left: 6.2vw;
}

.career-openings .pre-heading:before {
    content: '';
    width: 5vw;
    height: 2px;
    background: #724EF4;
    position: absolute;
    left: 0;
    top: 7px;
    transition: .2s;
}

@media screen and (max-width: 540px) {
    .career-openings .pre-heading {
        padding-left: 12vw;
        margin-top: 1.5em;
    }
    .career-openings .pre-heading:before {
        width: 10vw;
        left: 4vw;
    }
}

.career-openings .opening-title {
    font-family: 'Typold Bold';
    line-height: 1.15em;
    max-width: 50vw;
    color: #444444;
    transition: .2s;
}

@media screen and (min-width: 768px) {
    .career-openings .opening-title {
      font-size: 2.85vw;
      transition: .2s;
      padding: 0 15px;
    }
}
  
@media screen and (max-width: 767px) {
    .career-openings .opening-title {
      font-size: 2.48vw;
      transition: .2s;
      max-width: 45vw;
    }
}
  
@media screen and (max-width: 540px) {
    .career-openings .opening-title {
      font-size: 4.5vw;
      transition: .2s;
      max-width: initial;
    }
}

.opening-grid {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: table;
    content: " ";
    margin-right: 0;
}

@media screen and (min-width: 541px) {
    .opening-grid {
        margin-left: 0;
    }
}

.opening-grid .job-container {
    margin-right: 7vw;
}

@media screen and (max-width: 767px) and (min-width: 541px) {
    .opening-grid .col-xs-12 {
        width: 50%;
    }
}


.opening-grid .job-container .job-heading {
    color: #492f5c;
    font-family: 'Typold Bold';
    transition: 0.2s;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}

@media screen and (min-width: 768px) {
    .opening-grid .job-container .job-heading {
      font-size: 2.15em;
      transition: .2s;
    }
}
  
@media screen and (max-width: 767px) {
    .opening-grid .job-container .job-heading {
      font-size: 2em;
      transition: .2s;
    }
}
  
@media screen and (max-width: 540px) {
    .opening-grid .job-container .job-heading {
      font-size: 4.5vw;
      transition: .2s;
    }
}

.opening-grid .job-container .job-description {
    color: #777777;
    font-family: 'Typold Regular';
    transition: 0.2s;
    margin-bottom: 1.5rem;
}

.opening-grid .job-container .job-links a {
    color: #724EF4;
    font-family: 'Typold Regular';
    text-transform: uppercase;
    font-size: 12px;
    transition: .2s;
    text-decoration: none;
}

.opening-grid .job-container .job-links a:after {
    display: block;
    content: '';
    margin-top: 2px;
    transform: scaleX(0.2);
    transition: transform 400ms ease-in-out;
    border-bottom: 2px solid #724EF4;
    transform-origin: 0% 0%;
}

.opening-grid .job-container .job-links a:hover:after{
    transform: scaleX(1);
    transform-origin: 0% 0%;
}

body .body > div.reasons-to-work-here {
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 40%, rgba(0, 182, 152, 0.3) 100%);
    clear: both;
    margin-top: 4em;
}

.reasons-to-work-here > .row {
    margin-right: 0;
}
.reasons-to-work-here .reasons-content {
    padding: 0 5vw;
}

.reasons-to-work-here .pre-heading {
    color: #724EF4;
    font-family: 'Typold Regular';
    text-transform: uppercase;
    font-size: 14px;
    padding-left: 6vw;
    margin-top: 3.5em;
    transition: .2s;
    position: relative;
}

.reasons-to-work-here .pre-heading:hover {
    padding-left: 6.2vw;
}

.reasons-to-work-here .pre-heading:before {
    content: '';
    width: 5vw;
    height: 2px;
    background: #724EF4;
    position: absolute;
    left: 0;
    top: 7px;
    transition: .2s;
}

@media screen and (max-width: 540px) {
    .reasons-to-work-here .pre-heading {
        padding-left: 12vw;
        margin-top: 1.5em;
    }
    .reasons-to-work-here .pre-heading:before {
        width: 10vw;
        left: 0;
    }
}

.reasons-to-work-here .reasons-heading {
    font-family: 'Typold Bold';
    line-height: 1.15em;
    max-width: 50vw;
    color: #444444;
    transition: .2s;
}

@media screen and (min-width: 768px) {
    .reasons-to-work-here .reasons-heading {
      font-size: 2.85vw;
      transition: .2s;
    }
}
  
@media screen and (max-width: 767px) {
    .reasons-to-work-here .reasons-heading {
      font-size: 2.48vw;
      transition: .2s;
      max-width: 45vw;
    }
}
  
@media screen and (max-width: 540px) {
    .reasons-to-work-here .reasons-heading {
      font-size: 4.5vw;
      transition: .2s;
      max-width: initial;
    }
}

.reasons-to-work-here .reasons-content-blocks {
    display: table;
    content: '';
    position: relative;
}

.reasons-to-work-here .reasons-content-desc {
    color: #777777;
    font-family: 'Typold Regular';
    transition: 0.2s;
    margin-bottom: 1.5rem;
}

.reasons-to-work-here .reasons-content-desc p {
    margin-top: 2em;
}

@media screen and (min-width: 768px) {
    .reasons-to-work-here .reasons-content-main {
        padding-right: 16vw;
    }
}

.reasons-to-work-here .reasons-content-values-main .values-heading {
    color: #724EF4;
    font-family: 'Typold Regular';
    text-transform: uppercase;
    font-size: 14px;
    transition: .2s;
    position: relative;
}

.reasons-to-work-here .reasons-content-values-main .values-desc {
    font-family: 'Typold Regular';
}

.reasons-to-work-here .reasons-content-values-main .values-desc p {
    margin: 0 0 4px;
}

.reasons-to-work-here .reasons-content-values-main .values-desc p:before {
    content: '-';
    margin-right: 4px;
}

@media screen and (min-width: 768px) {
    .reasons-to-work-here .reasons-content-values-main {
        position: absolute;
        left: 75%;
        bottom: 4em;
    }
}

.reasons-content .perk-points {
    padding: 0;
    margin-top: 4em;
}

.reasons-content .perk-points .col-5.perk-point .icon-container {
    text-align: center;
}

.reasons-content .perk-points .col-5.perk-point .icon.img {
    display: inline-block;
    transition: all 400ms cubic-bezier(1, -0.1, 0, 1.07);
}

.reasons-content .perk-points .col-5.perk-point .icon.img:hover {
    margin-right: 2px;
    margin-top: -2px;
    margin-bottom: 2px;
}

.reasons-content .perk-points .col-5.perk-point .icon.img img {
    max-width: 4.2em;
    transition: 0.2s;
}

.reasons-content .perk-points .col-5.perk-point .perk-point-title {
    color: #492f5c;
    font-family: 'Typold Bold';
    font-size: 1.5rem;
    margin-top: 1.4em;
    transition: .2s;
}

.reasons-content .perk-points .col-5.perk-point .perk-point-description {
    color: #777777;
    font-family: 'Typold Regular';
    transition: 0.2s;
    font-size: 1.3rem;
}

@media screen and (min-width: 768px) {
    .reasons-content .perk-points .col-5.perk-point {
        width: 20%;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media screen and (max-width: 540px) {
    .reasons-content .perk-points .col-xxs-12.perk-point:not(:first-child) {
        margin-top: 20px;
    }
}