@font-face {
  font-family: 'Typold-Black';
  src: url("../assets/fonts/Typold-Black.otf");
  src: url("../assets/fonts/Typold-Black.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Bold';
  src: url("../assets/fonts/Typold-Bold.otf");
  src: url("../assets/fonts/Typold-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Bold-Italic';
  src: url("../assets/fonts/Typold-Bold-Italic.otf");
  src: url("../assets/fonts/Typold-Bold-Italic.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Book';
  src: url("../assets/fonts/Typold-Book.otf");
  src: url("../assets/fonts/Typold-Book.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Regular';
  src: url("../assets/fonts/Typold-Regular.otf");
  src: url("../assets/fonts/Typold-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Condensed-Bold';
  src: url("../assets/fonts/Typold-Condensed-Bold.otf");
  src: url("../assets/fonts/Typold-Condensed-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Condensed-Regular';
  src: url("../assets/fonts/Typold-Condensed-Regular.otf");
  src: url("../assets/fonts/Typold-Condensed-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Condensed-Medium';
  src: url("../assets/fonts/Typold-Condensed-Medium.otf");
  src: url("../assets/fonts/Typold-Condensed-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Condensed-Book';
  src: url("../assets/fonts/Typold-Condensed-Book.otf");
  src: url("../assets/fonts/Typold-Condensed-Book.ttf") format("truetype");
}

@font-face {
  font-family: '';
  src: url("../assets/fonts/.otf");
  src: url("../assets/fonts/.ttf") format("truetype");
}

@font-face {
  font-family: '';
  src: url("../assets/fonts/.otf");
  src: url("../assets/fonts/.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Light';
  src: url("../assets/fonts/Typold Light.otf");
}

@font-face {
  font-family: 'Typold-Thin';
  src: url("../assets/fonts/Typold Thin.otf");
}


.clients {
  background: #f7f7f7;
  overflow-x: hidden;
}

.clients .clients-list {
  padding: 30px 0;
  color: #585858;
}

.sub-heading{
line-height: 1.5;
font-size: 1.3vw;
font-family: 'Typold-Light';
margin:0px;
padding:2vw 0vw;
}

.clients .clients-list {
  padding: 0 0 15px;
  width: 768px;
  background: #f7f7f7;
}



.clients .clients-list .clients-view {
  padding-top: 15px;
}

.clients .clients-list .clients-view .bg-gradient {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-grow: 1;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .sub-heading{
    font-size: 1.7vw;
    padding:2vw 0vw;
    }
}


@media screen and (max-width: 768px) {
  .clients .clients-list .clients-view .bg-gradient > div {
    width: 37%;
  }
}


@media screen and (max-width: 768px) {
  .clients .clients-list .clients-view .bg-gradient > div:nth-child(3) {
    margin-right: -5%;
    margin-left: -5%;
  }
}

@media screen and (max-width: 768px) {
  .clients .clients-list .clients-view .bg-gradient > div span {
    margin-right: -5%;
    font-size: 1.8vw;
  }
}




.clients .clients-list .clients-view .bg-gradient > div {
  position: relative;
  float: left;
  width: 36%;
  background: #724EF4;
  padding: 7vw 2vw;
  color: #ffffff;
  transform: skew(-6.7deg);
  transition: all ease .4s;
}




.clients .clients-list .clients-view .bg-gradient > div::before {
  content: "";
  background-size: 100% 100% !important;
  background-position: center center !important;
  background-repeat: no-repeat;
  transition: all ease .4s;
  padding: 12px;
  position: absolute;
  left: -10%;
  width: 120%;
  top: 0;
  transform: skew(6.7deg);
  height: 100%;
}



.clients .clients-list .clients-view .bg-gradient > div:nth-child(1)::before {
  background: url("../assets/png/large/testimonial1.png"), url("../assets/png/large/left.png");
}

.clients .clients-list .clients-view .bg-gradient > div:nth-child(2)::before {
  background: url("../assets/png/large/testimonial2.png"), url("../assets/png/large/middle.png");
}

.clients .clients-list .clients-view .bg-gradient > div:nth-child(3) {
  margin-right: -2%;
}

.clients .clients-list .clients-view .bg-gradient > div:nth-child(3)::before {
  background: url("../assets/png/large/testimonial3.png"), url("../assets/png/large/right.png");
}

.clients .clients-list .clients-view .bg-gradient > div span {
  position: relative;
  color: #ffffff;
  font-size: 1.9vw;
  font-family: 'Typold-Condensed-Bold';
  transform: skew(6.7deg);
  letter-spacing: 0%;
  z-index: 1;
}




.clients .clients-list .clients-view .bg-gradient > div p {
  font-family: 'Typold-Bold';
  width: 80%;
  margin: 20px auto 0;
  transform: skew(6.7deg);
}

.clients .clients-list .clients-view .bg-gradient > div:hover {
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.2), 0px -6px 12px 0px rgba(0, 0, 0, 0.2);
  transition: all ease .6s;
}

.clients .clients-list .clients-view .bg-gradient > div:hover::before {
  background-size: 110% 110% !important;
  transition: all ease .6s;
}

.clients .clients-list .clients-view .bg-gradient .skew {
  border-left: 10px solid white;
  border-right: 10px solid white;
  transform: skewX(-6.7deg);
  z-index: 4;
  overflow: hidden;
}

.clients .clients-list .clients-view .bg-gradient .skew div {
  transform: skewX(0deg);
}

.clients .testimonials .section-heading{
  color:#6b53ef;
}

@media screen and (max-width: 540px) {
 h2 .section-heading {
   margin-left: 25% !important;
 }
}

.clients .testimonials {
  margin-left: -1vw;
  background-color: #ffffff;
  padding:3vw 0vw;
}


.clients .slider-parent .client-slider {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  overflow-x: hidden;
  height: 26vw;
  margin-left: -15px;
}

.clients .testimonials .slider-parent .client-slider > div {
  width: 36vw;
  height: 24vw;
  position: absolute;
  float: left;
  transform: skewX(-6.7deg) scale(0.6, 0.6);
  margin: 10px -11vw;
  opacity: .6;
  transition: all ease-in-out 1s;
  left: 0;
}

.clients .testimonials .slider-parent .client-slider > div.left {
  left: 19.5vw;
  z-index: 3;
  transition: all ease-in-out 1s;
}

.clients .testimonials .slider-parent .client-slider > div.center {
  opacity: 1;
  transition: .6s;
  z-index: 4;
  transform: skewX(-6.7deg) scale(0.9);
  left: 42.4vw;
  transition: all ease-in-out 1s;
  background-position: center -1vw !important;
}

.clients .testimonials .slider-parent .client-slider > div.center.active:after {
  content: '';
  position: absolute;
  left: -15%;
  right: -11%;
  top: -16%;
  bottom: -10%;
  transform: scale(0.8);
  border-left: 4px solid #00b698;
  border-right: 4px solid #6e51f1;
  border-radius: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-position: 0 0, 100% 100%;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 4px;
  -moz-background-size: 100% 4px;
  background-size: 100% 4px;
  background-image: -webkit-linear-gradient(left, #00b698 0%, #6e51f1 100%), -webkit-linear-gradient(left, #00b698 0%, #6e51f1 100%);
  background-image: -moz-linear-gradient(left, #00b698 0%, #6e51f1 100%), -moz-linear-gradient(left, #00b698 0%, #6e51f1 100%);
  background-image: -o-linear-gradient(left, #00b698 0%, #6e51f1 100%), -o-linear-gradient(left, #00b698 0%, #6e51f1 100%);
  background-image: linear-gradient(to right, #00b698 0%, #6e51f1 100%), linear-gradient(to right, #00b698 0%, #6e51f1 100%);
  z-index: 2;
}

.clients .testimonials .slider-parent .client-slider > div.right {
  left: 65vw;
  z-index: 3;
  transition: all ease-in-out 1s;
}

.clients .testimonials .slider-parent .client-slider > div:nth-child(1) {
  background: url("../assets/png/clients/client1.png") no-repeat;
  background-size: 112%;
}

.clients .testimonials .slider-parent .client-slider > div:nth-child(2) {
  background: url("../assets/png/clients/client2.png") no-repeat;
}

.clients .testimonials .slider-parent .client-slider > div:nth-child(3) {
  background: url("../assets/png/clients/client3.png") no-repeat;
  background-size: 112%;
}

.clients .testimonials .slider-parent .client-slider > div:after {
  transition: 1s;
}

.clients .testimonials .slider-parent .testimonials-comments {
  /* width: 100vw; */
  transition: 1s;
  margin-left: -20px;
}

.clients .testimonials .slider-parent .testimonials-comments {
  /* width: 80%; */
}


@media screen and (max-width: 768px) {
  .clients .testimonials .slider-parent .testimonials-comments .heading {
    font-size: 4vw;
  }
}




.clients .testimonials .slider-parent .testimonials-comments > div {
  padding: 2vw 30vw 0vw 30vw;
  text-align: center;
}

.clients .testimonials .slider-parent .testimonials-comments > div:nth-child(odd) {
  display:none;
}

.clients .testimonials .slider-parent .testimonials-comments > div h2,
.clients .testimonials .slider-parent .testimonials-comments > div h4,
.clients .testimonials .slider-parent .testimonials-comments > div p{
  color: #00b698;
}

.clients .testimonials .slider-parent .testimonials-comments > div h2 {
  font-size: 2vw;
  font-family: 'Typold-Light';
  margin:0;
}

.clients .testimonials .slider-parent .testimonials-comments > div h4 {
  font-family: 'Typold-Bold';
}

.clients .testimonials .slider-parent .bullets {
  padding-bottom:2.5vw ;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: 5px;
}

.clients .testimonials .slider-parent .bullets i {
  display: inline-block;
  padding: 5px;
  background: #ffffff;
  border: 1px solid #7a7af4;
  position: relative;
  float: left;
  border-radius: 100%;
  margin: 3px;
  transition: .6s;
}

.clients .testimonials .slider-parent .bullets i.active {
  background: #7a7af4;
  transition: .6s;
}

@media (min-width: 768px) and (max-width: 1240px) {
  .clients .testimonials .slider-parent .testimonials-comments > div h2 {
    font-size: 1.8vw;
    font-family: 'Typold-Light';
    margin:0;
  }
  .clients .testimonials .slider-parent .testimonials-comments > div h4 {
    font-size: 1.6vw;
  }
  .clients .testimonials .slider-parent .testimonials-comments > div p {
    font-size: 1.4vw;
  }
  
}
@media screen and (max-width: 540px) {
  .sub-heading{
    line-height: 1.5;
    font-size: 1.6rem;
    margin:0px;
    padding:2vw 6vw;
    }

  .clients .testimonials {
    width: 100%;
  }

  .clients .clients-list .sub-heading {
    font-size: 4vw;
  }
  .clients .clients-list .clients-view .bg-gradient {
    display: block;
  }

  .clients .clients-list .clients-view .bg-gradient > div {
    min-width: 100%;
    width: 100%;
    float: none;
    margin: 10px;
    margin-right: 0px;
  }

  .clients .clients-list .clients-view .bg-gradient > div::before {
    transform: skewX(0deg);
  }

  .clients .clients-list .clients-view .bg-gradient > div span {
    margin-right: 0;
    font-size: 5vw;
  }

  .clients .clients-list .clients-view .bg-gradient .skew {
    transform: skewX(0deg);
    border: 0 solid transparent;
  }

  .clients .clients-list .clients-view .bg-gradient .skew div {
    transform: skewX(0deg);
  }

  .clients .slider-parent .client-slider {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    overflow-x: hidden;
    height: 30vw;
    left: 15px;
  }

  .clients .testimonials .slider-parent .testimonials-comments {
    margin-left: 0;
  }

  .clients .testimonials .slider-parent .testimonials-comments > div {
    padding:0vw 2vw;
  }
  
  .clients .testimonials .slider-parent .testimonials-comments > div h2 {
    font-size: 3.6vw;
    margin:0;
  }
  
  .clients .testimonials .slider-parent .testimonials-comments > div h4 {
    font-size: 2.8vw;
  }

  .clients .testimonials .slider-parent .testimonials-comments > div p {
    font-size: 2.4vw;
  }
  
  .clients .testimonials .slider-parent .bullets {
    padding-bottom:2.5vw ;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 5px;
  }
  
  .clients .testimonials .slider-parent .bullets i {
    display: inline-block;
    padding: 4px;
    border: 1px solid #7a7af4;
    position: relative;
    float: left;
    border-radius: 100%;
    margin: 3px;
    transition: .6s;
  }
  
  .clients .testimonials .slider-parent .bullets i.active {
    background: #7a7af4;
    transition: .6s;
  }
  
}