@font-face {
  font-family: "Typold-Black";
  src: url("../assets/fonts/Typold-Black.otf");
  src: url("../assets/fonts/Typold-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Bold";
  src: url("../assets/fonts/Typold-Bold.otf");
  src: url("../assets/fonts/Typold-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Bold-Italic";
  src: url("../assets/fonts/Typold-Bold-Italic.otf");
  src: url("../assets/fonts/Typold-Bold-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Book";
  src: url("../assets/fonts/Typold-Book.otf");
  src: url("../assets/fonts/Typold-Book.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Regular";
  src: url("../assets/fonts/Typold-Regular.otf");
  src: url("../assets/fonts/Typold-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Condensed-Bold";
  src: url("../assets/fonts/Typold-Condensed-Bold.otf");
  src: url("../assets/fonts/Typold-Condensed-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Condensed-Regular";
  src: url("../assets/fonts/Typold-Condensed-Regular.otf");
  src: url("../assets/fonts/Typold-Condensed-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Condensed-Medium";
  src: url("../assets/fonts/Typold-Condensed-Medium.otf");
  src: url("../assets/fonts/Typold-Condensed-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Condensed-Book";
  src: url("../assets/fonts/Typold-Condensed-Book.otf");
  src: url("../assets/fonts/Typold-Condensed-Book.ttf") format("truetype");
}

@font-face {
  font-family: "";
  src: url("../assets/fonts/.otf");
  src: url("../assets/fonts/.ttf") format("truetype");
}

@font-face {
  font-family: "";
  src: url("../assets/fonts/.otf");
  src: url("../assets/fonts/.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Thin";
  src: url("../assets/fonts/Typold Thin.otf");
}

@font-face {
  font-family: "Typold-Medium";
  src: url("../assets/fonts/Typold Medium.otf");
}

.section {
  background-color: #ffffff;
  padding: 2vw 0vw 2.5vw 0vw;
}

.greyHeading {
  font-size: 1.6vw;
  color: #777777;
  padding: 0.6vw 0vw;
  margin: 0;
  font-family: "Typold-Bold";
  
}

.greenHeading {
  color: #00b698;
}

.blackHeading {
  font-size: 2vw;
  margin: 0;
  line-height: 1.2;
  padding: 0.6vw;
  font-family: "Typold-Bold";
}

p.expanding-line {
  font-size: 0.8vw;
  display: inline-block;
  text-decoration: none;
  color: #6b53ef;
  font-family: "Typold-Book";
  font-weight: 600;
}
p.expanding-line:after {
  display: block;
  content: "";
  margin-top: 2px;
  transform: scaleX(0.2);
  transition: transform 600ms ease-in-out;
  border-bottom: 2px solid #6b53ef;
  transform-origin: 0% 0%;
}
p.expanding-line:hover:after {
  transform: scaleX(1);
  transform-origin: 0% 0%;
}

@media (min-width: 768px) and (max-width: 1240px) {
  .section {
    padding: 2vw 0vw 2.5vw 0vw;
  }

  .greyHeading {
    font-size: 1.8vw;
    padding: 0.6vw 0vw;
  }

  .blackHeading {
    font-size: 2.4vw;
    line-height: 1.2;
    padding: 0.9vw 0vw;
  }

  p.expanding-line {
    font-size: 1.2vw;
    display: inline-block;
    text-decoration: none;
  }
  p.expanding-line:after {
    display: block;
    content: "";
    margin-top: 2px;
    transform: scaleX(0.2);
    transition: transform 600ms ease-in-out;
    border-bottom: 2px solid #6b53ef;
    transform-origin: 0% 0%;
  }
  p.expanding-line:hover:after {
    transform: scaleX(1);
    transform-origin: 0% 0%;
  }
}

@media screen and (max-width: 768px) {
  .section {
    padding: 2vw 0vw 2.8vw 0vw;
  }

  .greyHeading {
    font-size: 2.8vw;
    color: #777777;
    padding: 2.5vw 0vw;
    margin: 0;
  }


  .blackHeading {
    font-size: 3.6vw;
    line-height: 1.2;
    padding: 0.6vw 0;
  }

  p.expanding-line {
    font-size: 1.6vw;
    margin: 0;
  }

  p.expanding-line:after {
    display: block;
    content: "";
    margin: 0;
    border-bottom: 2px solid #6b53ef;
  }
  p.expanding-line:hover:after {
    transform: scaleX(1);
    transform-origin: 0% 0%;
  }
}

@media screen and (max-width: 540px) {
  .section {
    padding: 4vw 4vw 2.5vw 4vw;
  }

  .greyHeading {
    font-size: 1.6rem;
    padding: 3.5vw 0vw;
    margin: 0;
  }


  .blackHeading {
    font-size: 2rem;
    margin: 0;
    line-height: 1.2;
    padding: 0.6vw;
  }

  p.expanding-line {
    font-size: 1.125rem;
    margin: 0;
  }
  p.expanding-line:after {
    display: block;
    content: "";
    margin: 0;
    border-bottom: 0.3vw solid #6b53ef;
  }
  p.expanding-line:hover:after {
    transform: scaleX(1);
    transform-origin: 0% 0%;
  }
}
