@import 'general.scss';
.clients {
    background: $light-grey-bg;
    overflow-x: hidden;
    .clients-list {
        padding: 30px 0;
        color: $black;
        .clients-view {
            padding-top: 15px;
            .bg-gradient {
                margin-top: 10px;
                width: 100%;
                text-align: center;
                display: flex;
                flex-grow: 1;
                @media screen and (max-width: 540px) {
                    display: block;
                }
                >div {
                    position: relative;
                    float: left;
                    width: 36%;
                    padding: 90px 0px 70px;
                    color: $white;
                    background-size: 100%;
                    @media screen and (max-width: 768px) {
                        padding: 70px 0px 50px;
                        width: 37%;
                    }
                    @media screen and (max-width: 540px) {
                        padding: 50px 0px 30px;
                        min-width: 100%;
                        width: 100%;
                        float: none;
                        margin: 10px;
                        margin-right: 0px;
                    }
                    &:nth-child(1) {
                        background: linear-gradient(45deg, rgba(0, 182, 152, 0.7) 30%, rgba(114, 78, 244, 0.5) 175%), url(../assets/client1.png) no-repeat center center;
                        margin-right: -4%;
                        z-index: 3;
                        padding-right: 2vw;
                        background-size: cover;
                        margin-right: -4%;
                        z-index: 3;
                        padding-right: 2vw;
                        @media screen and (max-width: 768px) {
                            margin-right: -5%;
                        }
                        @media screen and (max-width: 540px) {
                            margin-right: 0;
                        }
                    }
                    &:nth-child(2)::before {
                        content: "";
                        background: linear-gradient(45deg, rgba(0, 182, 152, 0.6) -100%, rgba(114, 78, 244, 0.6) 200%), url(../assets/client2.png) no-repeat center center;
                        padding: 12px;
                        position: absolute;
                        left: -10%;
                        width: 120%;
                        top: 0;
                        transform: skew(10deg);
                        height: 100%;
                        @media screen and (max-width: 540px) {
                            transform: skewX(0deg);
                        }
                    }
                    &:nth-child(3) {
                        background: linear-gradient(45deg, rgba(0, 182, 152, 0.5) -150%, rgba(114, 78, 244, 0.7)), url("../assets/client3.png") no-repeat center center;
                        margin-left: -4%;
                        z-index: 3;
                        padding-left: 2vw;
                        @media screen and (max-width: 768px) {
                            margin-left: -5%;
                        }
                        @media screen and (max-width: 540px) {
                            margin-left: 10px;
                        }
                    }
                    span {
                        font-weight: 700;
                        font-size: 1.9vw;
                        @media screen and (max-width: 768px) {
                            margin-right: -5%;
                            font-size: 1.8vw;
                        }
                        @media screen and (max-width: 540px) {
                            margin-right: -5%;
                            font-size: 1.8vw;
                        }
                    }
                    p {
                        width: 80%;
                        margin: 20px auto 0;
                    }
                }
                .skew {
                    border-left: 10px solid white;
                    border-right: 10px solid white;
                    transform: skewX(-10deg);
                    z-index: 4;
                    overflow: hidden;
                    @media screen and (max-width: 540px) {
                        transform: skewX(0deg);
                        border: 0 solid transparent;
                    }
                    div {
                        transform: skewX(10deg);
                        @media screen and (max-width: 540px) {
                            transform: skewX(0deg);
                        }
                    }
                }
            }
        }
    }
    .testimonials {
        .sub-heading {
            width: 60%;
        }
        .slider-parent {
            .client-slider {
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-flow: row wrap;
                justify-content: space-around;
                overflow-x: hidden;
                >div {
                    width: 30%;
                    min-height: 30vw;
                    position: relative;
                    float: left;
                    transform: skewX(-10deg) scale(.9, 0.8);
                    margin: 10px 0;
                    opacity: .6;
                    transition: 1.5s;
                    &:nth-child(1) {
                        background: url('../assets/testimonial1.png') no-repeat center center;
                        background-size: 112%;
                        margin-right: -3%;
                    }
                    &:nth-child(2) {
                        background: url('../assets/testimonial2.png') no-repeat center center;
                        background-size: 130%;
                        transform: skewX(-10deg) scale(1.1, 1);
                    }
                    &:nth-child(3) {
                        background: url('../assets/testimonial3.png') no-repeat center center;
                        background-size: 112%;
                        margin-left: -3%;
                    }
                    &:after {
                        transition: 1s;
                    }
                    &.active,
                    &:hover {
                        opacity: 1;
                        transition: .6s;
                        &:after {
                            content: '';
                            position: absolute;
                            left: -15%;
                            right: -10%;
                            top: -15%;
                            bottom: -10%;
                            transform: scale(.8);
                            border-left: 3px solid $gradient-green;
                            border-right: 3px solid #4E90A4;
                            border-radius: 1px;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            background-position: 0 0, 100% 100%;
                            background-repeat: no-repeat;
                            -webkit-background-size: 100% 3px;
                            -moz-background-size: 100% 3px;
                            background-size: 100% 3px;
                            background-image: -webkit-linear-gradient(left, $gradient-green 0%, #4E90A4 100%), -webkit-linear-gradient(left, $gradient-green 0%, #4E90A4 100%);
                            background-image: -moz-linear-gradient(left, $gradient-green 0%, #4E90A4 100%), -moz-linear-gradient(left, $gradient-green 0%, #4E90A4 100%);
                            background-image: -o-linear-gradient(left, $gradient-green 0%, #4E90A4 100%), -o-linear-gradient(left, $gradient-green 0%, #4E90A4 100%);
                            background-image: linear-gradient(to right, $gradient-green 0%, #4E90A4 100%), linear-gradient(to right, $gradient-green 0%, #4E90A4 100%);
                            z-index: 2;
                        }
                    }
                }
            }
            .testimonials-comments {
                width: 300vw;
                transition: 1s;
                margin-left: -60px;
                &.two {
                    margin-left: calc(-100vw - 50px);
                    transition: 1s;
                }
                &.three {
                    margin-left: calc(-200vw - 50px);
                    transition: 1s;
                }
                >div {
                    padding: 5vh 30vw;
                    background: $white;
                    text-align: center;
                    @media screen and (max-width: 540px) {
                        padding: 5vh 10vw 3vh 20vw;
                    }
                    h3,
                    h4 {
                        color: $light-green;
                    }
                    h3 {
                        font-weight: 300;
                    }
                    h4 {
                        font-weight: 800;
                    }
                }
            }
            .bullets {
                padding: 5px;
                background: $white;
                display: flex;
                text-align: center;
                justify-content: center;
                i {
                    display: inline-block;
                    padding: 5px;
                    background: $white;
                    border: 1px solid $bullet-purple;
                    position: relative;
                    float: left;
                    border-radius: 100%;
                    margin: 3px;
                    transition: .6s;
                    &.active {
                        background: $bullet-purple;
                        transition: .6s;
                    }
                }
            }
        }
    }
}