body {
    background-color: #FFF;
    width: initial;
}

body .body {
    width: initial;
}

body h2.section-heading {
    font-family: 'Typold-Bold';
    position: relative;
    color: #6D5BEF;
    overflow: visible;
    font-weight: bold;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    padding: 16px 2vw;
    width: auto;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 3vw;
  }
  
@media screen and (min-width: 1241px) {
    body h2.section-heading {
        font-size: 2.6em;
        padding: 1.5vw 2vw;
        min-width: 28vw;
        margin-top: 2em;
    }
}
  
  
@media screen and (max-width: 768px) {
  body h2.section-heading {
      font-size: 3.4vw;
      padding: 2vw 2vw;
      min-width: 48vw;
      margin-top: 1.7em;
    }
  }
  
  
@media screen and (max-width: 540px) {
  body h2.section-heading {
      font-size: 3.5vw;
      padding: 3vw 1vw;
      min-width: 50vw;
    }
    .col-xs-12.col-xxs-12 {
      width: 100%;
    }
}
  
body h2.section-heading::before, body h2.section-heading::after {
    content: '';
    position: absolute;
    width: 90px;
    height: 90px;
    opacity: 0;
    border: 2px solid #6D5BEF;
    width: 90%;
    height: 100%;
    opacity: 1;
    transform: skew(-10deg);
    transition: ease-in .3s;
}
  
@media screen and (max-width: 540px) {
  body h2.section-heading::before, body h2.section-heading::after{
      width: 90%;
    }
}
  
body h2.section-heading::before {
    top: 0px;
    left: 0px;
    border-width: 0px 0px 2px 2px;
  }
  
body h2.section-heading::after {
    right: 0px;
    bottom: 0px;
    border-width: 2px 2px 0px 0px;
  }
  
body h2.section-heading:hover::before, body h2.section-heading:hover::after {
    width: 100%;
    transition: ease-in .2s;
}
  

.contact-heading .contactHeadingSectionBox .sub-heading {
    font-family: 'Typold Light';
    font-size: 1.35em;
    padding-bottom: 3em;
}

.contact-forms .forms-container {
    /* max-width: 70vw; */
    max-width: 850px;
}

@media screen and (max-width: 992px) {
    .contact-heading {
        overflow-x: hidden;
    }
    .contact-forms .forms-container {
        max-width: 100%;
        overflow-x: hidden;
    }
}


.contact-forms .nav-tabs>li {
    width: calc(100% / 3);
    z-index: 2;
}

.contact-forms .nav-tabs {
    position: relative;
}

.contact-forms .nav-tabs>li.nav-zoomout {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    background-color: #d3f2ed;
    border-radius: 10px;
    z-index: 0;
    transition: all .300s cubic-bezier(0.46, 0.03, 0.21, 0.93);
}

.contact-forms .nav-tabs>li:nth-child(1) {
    text-align: left;
}

.contact-forms .nav-tabs>li:nth-child(2) {
    text-align: center;
}

.contact-forms .nav-tabs>li:nth-child(3) {
    text-align: right;
}

.contact-forms .nav-tabs>li a,
.contact-forms .nav-tabs>li a:active {
    color: #444444;
    background-color: transparent !important;
    border: none !important;
}

.contact-forms .nav-tabs {
    border: none;
}

.contact-forms .nav-tabs>li a {
    text-align: center;
    display: inline-block;
    padding: 15px 25px;
    border-radius: 10px;
    /* transition: all 300ms ease-in-out; */
    border: none;
}

.contact-forms .nav-tabs>li.active a {
    /* background-color: #d3f2ed; */
    /* border-color: #d3f2ed; */
    color: #444444;
}

.contact-forms .nav-tabs>li.active a:hover {
    background-color: transparent;
    border-color: transparent;
}

.contact-forms .nav-tabs>li a:hover {
    background-color: #f5f5f5;
    color: #444444;
    border-color: #f5f5f5;
    border: none;
}

.contact-forms .nav-tabs>li a .count span {
    font-family: 'Typold Book';
    font-size: 1.2rem;
}

.contact-forms .nav-tabs>li a h3.step-name {
    font-family: 'Typold Medium';
    font-size: 1.8em;
    margin-top: 10px;
}

@media screen and (max-width: 540px) {
    .contact-forms .nav-tabs>li a h3.step-name {
        font-size: 1em;
    }
}

.contact-forms .forms-container.first-load .nav-tabs>li:first-child a {
    background-color: #d3f2ed !important;
    border-radius: 10px;
    z-index: 0;
    /* transition: all .300s cubic-bezier(0.46, 0.03, 0.21, 0.93); */
}

/* Tab Content */
.contact-forms {
    margin-top: 2em;
}

.contact-forms .tab-content {
    padding: 15px 0;
}

.contact-us .tab-content .sub-heading {
    color: #777777;
    font-size: 14px;
    padding-bottom: 45px;
}


.submit-button-container {
    text-align: center;
    margin-top: 1.2em;
}

.submitBtn {
    background: -webkit-linear-gradient(#00b698,#8e71f6 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    padding: 12px 18px;
    transition: .8s;
    font-family: 'Typold-Regular';
    outline: none;
    position: relative;
    border: none;
    font-size: 1.2em;
}

.submitBtn::before,
.submitBtn::after {
    content: '';
    position: absolute;
    width: 90px;
    height: 90px;
    opacity: 0;
    border: 2px solid;
    width: 100%;
    height: 100%;
    opacity: 1;
    transform: skew(-10deg);
    transition: ease-in .3s;
    border-image: linear-gradient(45deg,#00b698, #8e71f6) 1;
}

.submitBtn::before {
    top: 0px;
    left: 0px;
    border-width: 0px 0px 2px 2px;
}

.submitBtn::after {
    right: 0px;
    bottom: 0px;
    border-width: 2px 2px 0px 0px;
}

.submitBtn:hover {
    -webkit-text-fill-color: #fff;
}

.submitBtn:hover::before,
.submitBtn:hover::after {
    background: -webkit-linear-gradient(#00b698,#8e71f6 );
    z-index: -1;
}

.contact-forms .form-control,
.contact-forms .form-control:focus {
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-color: #444444;
    color: #777777;
    font-size: 13px;
    font-family: 'Typold Regular';
    transition: 0.2s;
    padding: 8px 12px;
    height: 38px;
}

.contact-forms textarea.form-control.textarea {
    min-height: 132px;
}

/* .form-group.required input::-webkit-input-placeholder {
    padding-left: 10px;
}

.form-group.required input::-moz-placeholder {
    padding-left: 10px;
}

.form-group.required input:-ms-input-placeholder {
    padding-left: 10px;
} */

/* Contact Details Section */
body .body > div.contact-details {
    margin-top: 40px;
}

.contact-details-container {
    position: relative;
    overflow: hidden;
}

.contact-details-container::before {
    background-image: url("../assets/contact-us/address-background.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .300s cubic-bezier(0.46, 0.03, 0.21, 0.93);
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.contact-details-container:hover::before {
    /* width: calc(100% + 20px); */
    top: -20px;
    bottom: -20px;
    left: -20px;
    right: -20px;
}


.contact-details-container .contact-content-main {
    font-family: 'Typold Regular';
    text-align: center;
    color: #777777;
}

.contact-details-container .contact-content-main {
    padding: 20px 15px;
}

body .contact-details-container h4.sub-heading + .row {
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 15px;
}

@media screen and (min-width: 541px) {
    .contact-details-container .contact-content-main {
        border-right: 1px solid #cccccc;
    }

    .contact-details-container .contact-content-main:last-child {
        border-right: none;
    }

    body .contact-details-container h4.sub-heading + .row {
        display: flex;
        flex-flow: row wrap;
    }
    body .contact-details-container h4.sub-heading + .row::before {
        display: block;
    }
}

.contact-details-container .contact-content-main .contact-address h5 {
    font-weight: 600;
    color: #492f5c;
    margin-top: 20px;
    font-size: 12px;
}

.contact-details-container .contact-content-main .contact-address a {
    text-decoration: none;
    color: #777777;
}

.contact-details-container .contact-content-main .icon-container i {
    color: #777777;
    font-size: 28px;
}

.contact-details-container .contact-content-main .contact-address p {
    font-size: 14px;
    margin: 0 0 5px;
    word-wrap: break-word;
}


.contact-details-container .contact-content-main.contact-details-conntainer .icon-container i.fa-at-bold {
    font-family: 'Typold Book';
    position: relative;
    color: #fff;
    height: 28px;
    width: 28px;
}

.contact-details-container .contact-content-main.contact-details-conntainer .icon-container i.fa-at-bold::before {
    content: '@';
    line-height: 1px;
    z-index: 5;
    position: absolute;
    left: 4px;
    top: 11px;
    font-size: 18px;
}

.contact-details-container .contact-content-main.contact-details-conntainer .icon-container i.fa-at-bold::after {
    content: '';
    background: #777;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    border-radius: 50%;
}

