.coreServices {
  padding: 4vw 0vw !important;
  background-color: #ffffff;
}
.servicesRow {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 0vw 1vw;
  margin-top: 2vw;
}
.servicesHeading {
  color: #724ef4;
  font-family: "Typold-Book";
  font-weight:600;
  font-size: 1.1vw;
  text-transform: uppercase;
  position: relative;
  padding-left: 5vw;
}
.servicesHeading:before {
  content: "";
  width: 4.7vw;
  height: 2px;
  background: #724ef4;
  position: absolute;
  left: 0;
  top: 0.7vw;
  transition: 0.2s;
}

.servicesCoreHeading {
  font-size: 1.6vw;
  font-family: "Typold Bold";
  color: #444444;
}

.number {
  font-size: 1vw;
  font-family: "Typold Thin";
  margin-top: 0.5vw;
  color: #777777;
}
.servicesBox {
  padding: 0vw 1vw;
}
.servicesInnerBox {
  padding: 1vw 0vw;
}
.servicesInnerBox:hover {
  background-color: #d3f2ed;
  border-radius: 15px;
}
.coreServiceImgBox {
  padding: 1.5vw 0vw;
}
.coreServiceImg {
  width: 4vw;
  height: 4vw;
}

@media screen and (max-width: 1240px) {
  .coreServices {
    padding: 4vw 0vw !important;
  }
  .servicesRow {
    padding: 0vw 1vw;
    margin-top: 2vw;
  }
  .servicesHeading {
    font-size: 1.2vw;
  }
  .servicesHeading:before {
    height: 1px;
  }
  .number {
    font-size: 1.1vw;
    margin-top: 0.5vw;
  }
  .servicesCoreHeading {
    font-size: 1.8vw;
  }
  .coreServiceImg {
    width: 5vw;
    height: 5vw;
  }
}

@media screen and (max-width: 768px) {
  .coreServices {
    padding: 4vw 0vw !important;
  }
  .servicesRow {
    grid-template-columns: 50% 50%;
    padding: 0vw 1vw;
    margin-top: 2vw;
  }
  .servicesHeading {
    font-size: 1.8vw;
    padding-left: 5.5vw;
  }
  .servicesHeading:before {
    height: 0.2vw;
    top: 0.96vw;
  }
  .servicesBox {
    padding: 0vw 5vw;
  }
  .coreServiceImg {
    width: 8vw;
    height: 8vw;
  }
  .number {
    font-size: 1.6vw;
    margin-top: 0.75vw;
    margin-bottom: 0.5vw;
  }
  .servicesCoreHeading {
    font-size: 2.4vw;
  }
}

@media screen and (max-width: 540px) {
  .coreServices {
    padding: 4vw 0vw !important;
  }
  .servicesRow {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0vw 2vw;
    margin-top: 2vw;
  }
  .servicesHeading {
    
    font-size: 1.125rem;
    padding-left: 45.5px;
  }
  .servicesHeading:before {
    height: 0.2vw;
    top: 9px;
    width:40px;
  }

  .servicesCoreHeading {
    font-size: 1.6rem;
  }

  .number {
    font-size: 1rem;
    margin-top: 1.5vw;
    margin-bottom: 0.5vw;
  }
  .servicesBox {
    padding: 0vw 2vw;
  }
  .servicesInnerBox {
    padding: 1vw 0vw;
  }
  .coreServiceImgBox {
    padding: 1.5vw 0vw;
  }
  .coreServiceImg {
    width: 12vw;
    height: 12vw;
  }
}
