.footer {
    background-color: #f7f7f7;
    padding-top: 4em !important;
    overflow-x: hidden;
    width: 100%;
    .row {
        background: #fff;
        padding-top: 3em;
        padding-bottom: 3em;
        text-align: center;
        .col-xs-12 {
            margin-top: 1em;
        }
        .menu-footer {
            li {
                a {
                    padding: 10px 24px;
                    color: #857C7C;
                    text-decoration: none;
                    font-weight: 600;
                }
                @media screen and (max-width: 560px) {
                    display: block;
                }
            }
        }
        .copyright {
                color: #00B698;
                font-size: 12px;
        }
    }
}