@font-face {
  font-family: "Typold-Black";
  src: url("../assets/fonts/Typold-Black.otf");
  src: url("../assets/fonts/Typold-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Bold";
  src: url("../assets/fonts/Typold-Bold.otf");
  src: url("../assets/fonts/Typold-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Bold-Italic";
  src: url("../assets/fonts/Typold-Bold-Italic.otf");
  src: url("../assets/fonts/Typold-Bold-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Book";
  src: url("../assets/fonts/Typold-Book.otf");
  src: url("../assets/fonts/Typold-Book.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Regular";
  src: url("../assets/fonts/Typold-Regular.otf");
  src: url("../assets/fonts/Typold-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Condensed-Bold";
  src: url("../assets/fonts/Typold-Condensed-Bold.otf");
  src: url("../assets/fonts/Typold-Condensed-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Condensed-Regular";
  src: url("../assets/fonts/Typold-Condensed-Regular.otf");
  src: url("../assets/fonts/Typold-Condensed-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Condensed-Medium";
  src: url("../assets/fonts/Typold-Condensed-Medium.otf");
  src: url("../assets/fonts/Typold-Condensed-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Condensed-Book";
  src: url("../assets/fonts/Typold-Condensed-Book.otf");
  src: url("../assets/fonts/Typold-Condensed-Book.ttf") format("truetype");
}

@font-face {
  font-family: "";
  src: url("../assets/fonts/.otf");
  src: url("../assets/fonts/.ttf") format("truetype");
}

@font-face {
  font-family: "";
  src: url("../assets/fonts/.otf");
  src: url("../assets/fonts/.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Thin";
  src: url("../assets/fonts/Typold Thin.otf");
}

@font-face {
  font-family: "Typold-Medium";
  src: url("../assets/fonts/Typold Medium.otf");
}

@font-face {
  font-family: "Typold-Light";
  src: url("../assets/fonts/Typold Light.otf");
}
.footerRow {
  background-image: linear-gradient(#8b74f4, #55a4c9);
  padding: 4vw 6vw;
  display: grid;
  grid-template-columns: 25% 75%;
}

.footerListRow {
  display: grid;
  grid-template-columns: 20% 30% 50%;
}

.footerList {
  list-style: none;
  color: #ffffff;
  font-size: 1vw;
  font-family: "Typold-Thin";
  font-weight:600;
}

.footerList li {
  padding: 0.3vw 0;
}
.footerHeading {
  font-family: "Typold-Regular";
  color: #ffffff;
  margin: 0px;
}
.headingBox {
  padding: 1vw 0vw;
}

.technologiesListRow {
  display: grid;
  grid-template-columns: 50% 50%;
}

.technologiesSecondList {
  padding-left: 4vw;
}

.copyright {
  color: #ffffff;
  font-size: 1vw;
  padding: 1.5vw 0;
}

.socialBox {
  display: flex;
  padding-top: 0.5vw;
}
.socialImgBox {
  padding: 0 1vw;
}
.socialImage {
  width: 3vw;
  height: 3vw;
}

.expanding-link {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  font-weight: 600;
}

.expanding-link:after {
  display: block;
  content: "";
  margin-top: 4px;
  transform: scaleX(0.2);
  transition: transform 600ms ease-in-out;
  border-bottom: 3px solid #ffffff;
  transform-origin: 0% 0%;
}

.expanding-link:hover:after {
  transform: scaleX(1);
  transform-origin: 0% 0%;
}

@media screen and (max-width: 1240px) {
  .footerRow {
    background-image: linear-gradient(#8b74f4, #55a4c9);
    padding: 4vw 6vw;
    display: grid;
    grid-template-columns: 25% 75%;
  }

  .footerListRow {
    display: grid;
    grid-template-columns: 25% 25% 50%;
  }

  .footerListBox {
    padding: 0vw 2vw;
    margin-bottom: 2vw;
  }

  .footerList {
    list-style: none;
    color: #ffffff;
    font-size: 1.2vw;
  }
  .footerList li {
    padding: 0.3vw 0;
  }
  .footerHeading {
    font-size: 1.2vw;
  }

  .technologiesListRow {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .headingBox {
    padding: 1vw 0vw;
  }
  .copyright {
    font-size: 1vw;
    padding: 1.5vw 0;
  }

  .socialBox {
    display: flex;
    padding-top: 0.5vw;
  }
  .socialImgBox {
    padding: 0 1vw;
  }

  .socialImage {
    width: 3vw;
    height: 3vw;
  }

  .expanding-link {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    font-weight: 600;
  }

  .expanding-link:after {
    display: block;
    content: "";
    margin-top: 4px;
    transform: scaleX(0.2);
    transition: transform 600ms ease-in-out;
    border-bottom: 2px solid #ffffff;
    transform-origin: 0% 0%;
  }

  .expanding-link:hover:after {
    transform: scaleX(1);
    transform-origin: 0% 0%;
  }
}

@media screen and (max-width: 768px) {
  .footerRow {
    background-image: linear-gradient(#8b74f4, #55a4c9);
    padding: 4vw 4vw;
    display: grid;
    grid-template-columns: 30% 70%;
  }

  .footerHeading {
    font-size: 1.8vw;
  }

  .footerListRow {
    display: grid;
    grid-template-columns: 30% 33% 45%;
  }

  .footerList {
    list-style: none;
    font-size: 1.8vw;
    margin: 0;
  }
  .footerList li {
    padding: 0.3vw 0;
  }

  .headingBox {
    padding: 1vw 0vw;
  }

  .copyright {
    font-size: 1.6vw;
    padding: 1.5vw 3vw 1.5vw 0vw;
  }

  .technologiesListRow {
    display: grid;
    grid-template-columns: 100%;
  }

  .technologiesSecondList {
    padding-left: 0vw;
  }

  .socialBox {
    display: flex;
    padding-top: 0.5vw;
  }
  .socialImgBox {
    padding: 0 1vw;
  }

  .socialImage {
    width: 4vw;
    height: 4vw;
  }

  .expanding-link {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    font-weight: 600;
  }

  .expanding-link:after {
    display: block;
    content: "";
    margin-top: 4px;
    transform: scaleX(0.2);
    transition: transform 600ms ease-in-out;
    border-bottom: 2px solid #ffffff;
    transform-origin: 0% 0%;
  }

  .expanding-link:hover:after {
    transform: scaleX(1);
    transform-origin: 0% 0%;
  }
}

@media screen and (max-width: 540px) {
  .footerRow {
    background-image: linear-gradient(#8b74f4, #55a4c9);
    padding: 4vw 6vw;
    display: grid;
    grid-template-columns: 100%;
  }

  .footerHeading {
    font-size: 1.125rem;
  }

  .footerListRow {
    display: grid;
    grid-template-columns: 100%;
  }

  .footerListBox {
    padding: 0vw;
    margin-bottom: 2vw;
  }

  .footerList {
    list-style: none;
    font-size: 1.125rem;
    margin: 0;
  }
  .footerList li {
    padding: 0.3vw 0;
  }

  .headingBox {
    padding: 1vw 0vw;
  }

  .copyright {
    font-size: 1.125rem;
    padding: 1.5vw 3vw 1.5vw 0vw;
    margin: 0;
  }

  .technologiesListRow {
    display: grid;
    grid-template-columns: 100%;
  }

  .socialBox {
    display: flex;
    padding-top: 1.5vw;
    padding-bottom: 2vw;
  }
  .socialImgBox {
    padding: 0 2vw;
  }
  .socialImage {
    width: 6vw;
    height: 6vw;
  }

  .expanding-link {
    display: inline-block;
    text-decoration: none;
  }

  .expanding-link:after {
    display: block;
    content: "";
    margin-top: 4px;
    transform: scaleX(0.2);
    transition: transform 600ms ease-in-out;
    border-bottom: 2px solid #ffffff;
    transform-origin: 0% 0%;
  }

  .expanding-link:hover:after {
    transform: scaleX(1);
    transform-origin: 0% 0%;
  }
}
