$light-grey-bg: #f7f7f7;

$black: #585858;
$white: #ffffff;
$light-green: #00B698;
$gradient-green: #3EC8AC;
$gradient-purple: #724EF4;
$bullet-purple: #7a7af4;

$gradient-45-green-purple-alpha-70: linear-gradient(to right top, rgba(0, 182, 152, 0.7), rgba(176, 78, 244, 0.7));