@import 'general.scss';

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100vw;
    background-color: $light-grey-bg;
    // background-image: linear-gradient(to right, $light-green, $gradient-purple);
    overflow-x: hidden;
    @media screen and (max-width: 768px) {
        overflow-x: hidden !important;
    }
    .body {
        position: relative;
        width: calc(100vw - 50px);
        margin-left: 50px;
        >div {
            position: relative;
            width: 100%;
            margin: 0;
            padding: 0;
        }
    }
    .s-white-button {
        background: transparent;
        color: #fff;
        font-weight: 400;
        padding: 10px 20px;
        border: 2px solid #fff;
        transform: skewX(-10deg);
        transition: .8s;
        span {
            transform: skewX(10deg);
        }
        &:hover {
            background: #fff;
            transition: .3s;
            color: #2d536f;
            border: 2px solid transparent;
        }
    }
    h2.section-heading {
        position: relative;
        color: $light-green;
        overflow: visible;
        font-family: 'Typold';
        font-size: 2vw;
        font-weight: bold;
        text-align: center;
        font-weight: bold;
        display: inline-block;
        padding: 2vw;
        width: auto;
        margin-left: 50%;
        transform: translateX(-50%);
        @media screen and (max-width: 540px) {
            font-size: 3.2vw;
            padding: 4vw;
        }
        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 100px;
            height: 100px;
            opacity: 0;
            border: 1px solid $light-green;
            width: 90%;
            height: 70%;
            opacity: 1;
            transform: skew(-10deg);
            transition: ease-in .3s;
        }
        &::before {
            top: 16px;
            left: 0px;
            border-width: 0px 0px 1px 1px;
        }
        &::after {
            right: 0px;
            bottom: 16px;
            border-width: 1px 1px 0px 0px;
        }
        &:hover {
            &::before,
            &::after {
                width: 80%;
                height: 65%;
                transition: ease-in .2s;
            }
            &::before {
                top: 19px;
            }
            &::after {
                bottom: 19px;
            }
        }
    }
    h4.sub-heading {
        max-width: 75%;
        margin: 1em auto;
        letter-spacing: 1px;
        line-height: 1.5;
        text-align: center;
    }
}

.btn-shadow {
    box-shadow: 0px 5px 10px 2px rgba(88, 103, 221, 0.19) !important;
}

.btn-shadow:hover {
    box-shadow: 0px 5px 10px 2px rgba(88, 103, 221, 0.36) !important;
}