* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  background-color: #f7f7f7;
  overflow-x: hidden;
}

  
  body {
    overflow-x: hidden !important;
  }

body .body {
  position: relative;
  width: calc(100vw - 60px);
  margin-left: 60px;
}

@media screen and (max-width: 540px) {
  body .body {
    width: 100%;
    margin:0;
    margin-top: 11vw;
  }
}

body .body > div {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

body .s-white-button {
  background: transparent;
  color: #fff;
  font-weight: 400;
  padding: 10px 20px;
  border: 2px solid #fff;
  transform: skewX(-10deg);
  transition: .8s;
}

body .s-white-button span {
  transform: skewX(10deg);
}

body .s-white-button:hover {
  background: #fff;
  transition: .3s;
  color: #2d536f;
  border: 2px solid transparent;
}

body h2.section-heading {
  font-family: 'Typold-Bold';
  position: relative;
  color: #8975f3;
  overflow: visible;
  font-weight: bold;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  padding: 16px 2vw;
  width: auto;
  margin-left: 35% !important;
  transform: translateX(-50%);
  font-size: 3vw;
}

@media screen and (min-width: 1241px) {
  body h2.section-heading {
    font-size: 2.4vw;
    padding: 1.5vw 2vw;
    min-width: 28vw;
  }
}


@media screen and (max-width: 768px) {
  body h2.section-heading {
    font-size: 3.3vw;
    padding: 2vw 2vw;
    min-width: 45vw;
  }
}


@media screen and (max-width: 540px) {
  body h2.section-heading {
    font-size: 3.5vw;
    padding: 3vw 1vw;
    min-width: 50vw;
    margin-left: 25% !important;
  }
  .col-xs-12.col-xxs-12 {
    width: 100%;
  }
}

body h2.section-heading::before, body h2.section-heading::after {
  content: '';
  position: absolute;
  width: 90px;
  height: 90px;
  opacity: 0;
  border: 1px solid #8975f3;
  width: 90%;
  height: 100%;
  opacity: 1;
  transform: skew(-10deg);
  transition: ease-in .3s;
}

@media screen and (max-width: 540px) {
  html {
    font-size:12px;
  }
  body h2.section-heading::before, body h2.section-heading::after{
    width: 90%;
  }
}

body h2.section-heading::before {
  top: 0px;
  left: 0px;
  border-width: 0px 0px 1px 1px;
}

body h2.section-heading::after {
  right: 0px;
  bottom: 0px;
  border-width: 1px 1px 0px 0px;
}

body h2.section-heading:hover::before, body h2.section-heading:hover::after {
  width: 100%;
  transition: ease-in .2s;
}

/* body h2.section-heading:hover::before {
  top: 19px;
} */

/* body h2.section-heading:hover::after {
  bottom: 19px;
} */

body h4.sub-heading {
  text-align: center;
}

.btn-shadow {
  box-shadow: 0px 5px 10px 2px rgba(88, 103, 221, 0.19) !important;
}

.btn-shadow:hover {
  box-shadow: 0px 5px 10px 2px rgba(88, 103, 221, 0.36) !important;
}

[data-aos="FadeOutCustom"] {
  opacity: 0;
  transition-property: transform, opacity;
}
[data-aos="FadeOutCustom"].aos-animate {
  opacity: 1;
}
