.inside-work-banner {
  position: relative;
  min-height: 538px;
  background: linear-gradient(45deg, rgba(0, 182, 152, 0.5), rgba(114, 78, 244, 0.5)), url(../assets/banner-bg.png) center center no-repeat fixed;
  background-size: cover;
}

.inside-work-banner .inside-work-banner-heading {
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  line-height: 1.35em;
  font-weight: 900;
  letter-spacing: 4px;
  transition: .2s;
}

.inside-work-banner .inside-work-banner-heading .section-heading {
  color: #fff;
}

.inside-work-banner .inside-work-banner-heading .section-heading::before, .inside-work-banner .inside-work-banner-heading .section-heading::after {
  border-color: #fff;
}

.clients-list .sub-heading {
  background: #fff;
  max-width: 98%;
  padding: 3em 20%;
  transition: .2s;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .clients-list .sub-heading {
    padding: 2em 8em;
    font-size: 12px;
    transition: .2s;
  }
}

@media screen and (max-width: 540px) {
  .clients-list .sub-heading {
    padding: 2em 6em;
    font-size: 10px;
    transition: .2s;
  }
}

.projects .slider-container {
  background: #fff;
  padding-bottom: 2em;
}

.projects .slider-container .slides {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.projects .slider-container .slide {
  width: 100vw;
  text-align: center;
  flex: none;
}

@media screen and (max-width: 768px) {
  .projects .slider-container .slide {
    width: 95vw;
    transition: .2s;
  }
}

@media screen and (max-width: 540px) {
  .projects .slider-container .slide {
    width: 85vw;
    transition: .2s;
  }
}

.projects .slider-container .slide img {
  padding: 4em;
  max-width: 70%;
}

@media screen and (max-width: 768px) {
  .projects .slider-container .slide img {
    padding: 3em;
    transition: .2s;
  }
}

@media screen and (max-width: 540px) {
  .projects .slider-container .slide img {
    padding: 2em;
    transition: .2s;
  }
}

.projects .slider-container .slide p {
  padding: 0em 20em;
}

@media screen and (max-width: 768px) {
  .projects .slider-container .slide p {
    padding: 0em 10em;
    transition: .2s;
  }
}

@media screen and (max-width: 540px) {
  .projects .slider-container .slide p {
    padding: 0em 2em;
    transition: .2s;
  }
}

.projects .slider-container .pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects .slider-container .pagination img {
  float: left;
  width: 12px;
  margin: 0em 4em;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .projects .slider-container .pagination img {
    margin: 0em 2em;
    transition: .2s;
  }
}

@media screen and (max-width: 540px) {
  .projects .slider-container .pagination img {
    margin: 0em 1em;
    transition: .2s;
  }
}

.projects .slider-container .pagination .bullets {
  border: 2px solid #7a7af4;
  padding: 5px;
  width: 5px;
  float: left;
  display: inline-block;
  position: relative;
  margin: 0 2.6em;
  cursor: pointer;
  transition: .5s;
}

@media screen and (max-width: 768px) {
  .projects .slider-container .pagination .bullets {
    margin: 0 2em;
    transition: .2s;
  }
}

@media screen and (max-width: 540px) {
  .projects .slider-container .pagination .bullets {
    margin: 0 1em;
    transition: .2s;
  }
}

.projects .slider-container .pagination .bullets::before {
  content: '';
  cursor: default;
  border: 1px solid #7a7af4;
  position: absolute;
  width: 40px;
  left: -40px;
  top: 4px;
}

@media screen and (max-width: 768px) {
  .projects .slider-container .pagination .bullets::before {
    width: 30px;
    left: -30px;
    transition: .2s;
  }
}

@media screen and (max-width: 540px) {
  .projects .slider-container .pagination .bullets::before {
    width: 16px;
    left: -16px;
    transition: .2s;
  }
}

.projects .slider-container .pagination .bullets::after {
  content: '';
  cursor: default;
  border: 1px solid #7a7af4;
  position: absolute;
  width: 40px;
  right: -40px;
  top: 4px;
}

@media screen and (max-width: 768px) {
  .projects .slider-container .pagination .bullets::after {
    width: 30px;
    right: -30px;
    transition: .2s;
  }
}

@media screen and (max-width: 540px) {
  .projects .slider-container .pagination .bullets::after {
    width: 16px;
    right: -16px;
    transition: .2s;
  }
}

.projects .slider-container .pagination .bullets.active {
  background-color: #7a7af4;
  transition: .5s;
}

.projects .project-pagination {
  text-align: center;
  background: #fff;
  padding: 0em 0 4em 0;
  color: #724EF4;
}

.projects .project-pagination .text {
  display: inline-block;
  border-bottom: 2px solid #724EF4;
  position: relative;
  margin-top: 20px;
}

.projects .project-pagination .text.left-arrow {
  padding-left: 20px;
}

.projects .project-pagination .text.left-arrow:before {
  content: "";
  width: 10px;
  height: 36px;
  background: url(../assets/left-arrow.svg) no-repeat;
  background-size: contain;
  top: 12px;
  position: absolute;
  display: inline-block;
  left: 0px;
}

.projects .project-pagination .text.right-arrow {
  padding-right: 20px;
}

.projects .project-pagination .text.right-arrow:after {
  content: "";
  width: 10px;
  height: 36px;
  background: url(../assets/right-arrow.svg) no-repeat;
  background-size: contain;
  top: 12px;
  position: absolute;
  display: inline-block;
  right: 0px;
}
