@font-face {
  font-family: "Typold-Black";
  src: url("../assets/fonts/Typold-Black.otf");
  src: url("../assets/fonts/Typold-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Bold";
  src: url("../assets/fonts/Typold-Bold.otf");
  src: url("../assets/fonts/Typold-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Bold-Italic";
  src: url("../assets/fonts/Typold-Bold-Italic.otf");
  src: url("../assets/fonts/Typold-Bold-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Book";
  src: url("../assets/fonts/Typold-Book.otf");
  src: url("../assets/fonts/Typold-Book.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Regular";
  src: url("../assets/fonts/Typold-Regular.otf");
  src: url("../assets/fonts/Typold-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Condensed-Bold";
  src: url("../assets/fonts/Typold-Condensed-Bold.otf");
  src: url("../assets/fonts/Typold-Condensed-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Condensed-Regular";
  src: url("../assets/fonts/Typold-Condensed-Regular.otf");
  src: url("../assets/fonts/Typold-Condensed-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Condensed-Medium";
  src: url("../assets/fonts/Typold-Condensed-Medium.otf");
  src: url("../assets/fonts/Typold-Condensed-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Condensed-Book";
  src: url("../assets/fonts/Typold-Condensed-Book.otf");
  src: url("../assets/fonts/Typold-Condensed-Book.ttf") format("truetype");
}

@font-face {
  font-family: "";
  src: url("../assets/fonts/.otf");
  src: url("../assets/fonts/.ttf") format("truetype");
}

@font-face {
  font-family: "";
  src: url("../assets/fonts/.otf");
  src: url("../assets/fonts/.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Thin";
  src: url("../assets/fonts/Typold Thin.otf");
}

@font-face {
  font-family: "Typold-Medium";
  src: url("../assets/fonts/Typold Medium.otf");
}

.joinTheTeam {
  background-color: #ffffff;
}

.joinHeading {
  color: #724ef4;
  font-family: "Typold-Book";
  font-weight:600;
  font-size: 1.1vw;
  text-transform: uppercase;
  padding-top: 4vw;
  position: relative;
  padding-left: 5vw;
  /* animation-duration: 2s;
  animation-name: joinTeam; */
}

/* @keyframes joinTeam {
  0% { opacity: 0; transform: translateX(-100%);}
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
} */

.joinHeading:before {
  content: "";
  width: 4.7vw;
  height: 2px;
  background: #724ef4;
  position: absolute;
  left: 0;
  top: 0.7vw;
  transition: 0.2s;
  margin-top: 4vw;
}

.motivationHeading {
  font-family: "Typold-Bold";
  color: #724ef4;
  font-size: 3.6vw;
  padding-bottom: 2vw;
  padding-left: 1vw;
  /* animation-duration: 2s;
  animation-name: motivationHeading; */
}

/* @keyframes motivationHeading {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to { opacity: 1 }
} */

.teamRow {
  display: grid;
  grid-template-columns: 36% 36%;
  grid-column-gap: 23vw;
  padding: 1vw 0vw 2vw 1vw;
}

.teamCard {
  margin-bottom: 3vw;
}

.teamHeading {
  font-family: "Typold-Bold";
  font-size: 2.1vw;
  min-height: 3vw;
  color:#444444;
}

.teamDesc {
  font-family: "Typold-Thin";
  font-weight: 600;
  font-size: 1vw;
  min-height: 7vw;
  color:#777777;
}

.buttonRow {
  display: flex;
  justify-content: space-between;
}

.knowButton {
  display: inline-block;
  text-decoration: none;
  font-family: "Typold-Book";
  font-weight: 600;
  font-size: .9vw;
  padding: 6px 0;
  color: #724ef4;
  text-transform: uppercase;
}

.knowButton:after {
  display: block;
  content: "";
  margin-top: 4px;
  transform: scaleX(0.4);
  transition: transform 600ms ease-in-out;
  border-bottom: 2px solid #724ef4;
  transform-origin: 0% 0%;
}

.knowButton:hover:after {
  transform: scaleX(1);
  transform-origin: 0% 0%;
}

@media screen and (max-width: 1240px) {
  .joinHeading {
    font-size: 1.2vw;
  }

  .motivationHeading {
    font-size: 3.4vw;
    padding-bottom: 2vw;
    padding-left: 1vw;
  }

  .teamRow {
    grid-template-columns: 35% 35%;
    grid-column-gap: 24vw;
    padding: 1vw 0vw 2vw 1vw;
  }

  .teamCard {
    margin-bottom: 3vw;
  }

  .teamHeading {
    font-size: 2vw;
    min-height: 3vw;
  }

  .teamDesc {
    font-size: 1.2vw;
    min-height: 10vw;
  }

  .buttonRow {
    display: flex;
    justify-content: space-between;
  }

  .knowButton {
    font-size: 1.1vw;
    padding: 6px 0;
  }

  .knowButton:after {
    display: block;
    content: "";
    margin-top: 4px;
    transform: scaleX(0.4);
    transition: transform 600ms ease-in-out;
    border-bottom: 2px solid #724ef4;
    transform-origin: 0% 0%;
  }

  .knowButton:hover:after {
    transform: scaleX(1);
    transform-origin: 0% 0%;
  }
}

@media screen and (max-width: 768px) {
  .joinHeading {
    font-size: 1.8vw;
    padding-left: 5.5vw;
  }

  .joinHeading:before {
    height: 0.2vw;
    top: 0.9vw;
  }

  .motivationHeading {
    font-size: 5vw;
    padding-bottom: 2vw;
    padding-left: 2vw;
  }

  .teamRow {
    grid-template-columns: 50% 50%;
    grid-column-gap: 0vw;
    padding: 1vw 0vw 2vw 0vw;
  }

  .teamCard {
    margin-bottom: 3vw;
    padding: 0vw 2vw;
  }

  .teamHeading {
    font-size: 3vw;
    min-height: 8vw;
    margin-bottom: 0;
  }

  .teamDesc {
    font-size: 1.6vw;
    min-height: 14vw;
  }

  .knowButton {
    font-size: 1.5vw;
    padding: 6px 0;
  }

  .knowButton:after {
    display: block;
    content: "";
    margin-top: 4px;
    transform: scaleX(0.4);
    transition: transform 600ms ease-in-out;
    border-bottom: 2px solid #724ef4;
    transform-origin: 0% 0%;
  }

  .knowButton:hover:after {
    transform: scaleX(1);
    transform-origin: 0% 0%;
  }
}

@media screen and (max-width: 540px) {
  .joinHeading {
    font-size: 1.125rem;
    padding-left: 45.5px;
  }

  .joinHeading:before {
    height: 0.2vw;
    top: 9px;
    width:40px;
  }

  .motivationHeading {
    font-size: 2.4rem;
    padding: 0vw 6vw 2vw 6vw;
  }

  .teamRow {
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 0vw;
    padding: 1vw 4vw 2vw 4vw;
  }

  .teamCard {
    margin-bottom: 3vw;
    padding: 0vw 2vw;
  }

  .teamHeading {
    font-size: 2rem;
    min-height: 3vw;
    margin-bottom:3vw;
  }

  .teamDesc {
    font-size: 1.125rem;
    min-height: 10vw;
  }

  .buttonRow {
    display: flex;
    justify-content: space-between;
  }

  .knowButton {
    font-size:1.125rem;
    padding: 6px 0;
  }

  .knowButton:after {
    display: block;
    content: "";
    margin-top: 4px;
    transform: scaleX(0.4);
    transition: transform 600ms ease-in-out;
    border-bottom: 2px solid #724ef4;
    transform-origin: 0% 0%;
  }

  .knowButton:hover:after {
    transform: scaleX(1);
    transform-origin: 0% 0%;
  }
}
