.lets-connect {
    background-color: #f7f7f7;
    background-image: url("../assets/Map.svg");
    background-position: 0 134px;
    background-repeat: no-repeat;
    width: 100%;
    overflow-x: hidden;
    .lets-connect-form {
        background: linear-gradient(to right top, rgba(0, 182, 152, 0.7), rgba(176, 78, 244, 0.7));
        @media screen and (min-width: 768px) {
            width: 60vw;
            transition: .2s;
        }
        @media screen and (max-width: 767px) {
            width: 75vw;
            transition: .2s;
        }
        @media screen and (max-width: 540px) {
            width: 75vw;
            transition: .2s;
        }
        text-align: center;
        margin: 50px auto;
        padding-bottom: 1em;
        form {
            margin: 0 6em;
            @media screen and (min-width: 768px) {
                margin: 0 4em;
                transition: .2s;
            }
            @media screen and (max-width: 767px) {
                margin: 0 2em;
                transition: .2s;
            }
            @media screen and (max-width: 540px) {
                margin: 0 1em;
                transition: .2s;
            }
            padding-top: 1em;
            ::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: #724EF4;
                opacity: 1;
                /* Firefox */
            }
            :-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                color: #724EF4;
            }
            ::-ms-input-placeholder {
                /* Microsoft Edge */
                color: #724EF4;
            }
            h2 {
                color: #fff;
                font-weight: bold;
                margin-bottom: 20px;
                @media screen and (min-width: 768px) {
                    font-size: 2.71vw;
                    transition: .2s;
                }
                @media screen and (max-width: 767px) {
                    font-size: 2.38vw;
                    transition: .2s;
                }
                @media screen and (max-width: 540px) {
                    font-size: 3.5vw;
                    transition: .2s;
                }
            }
            .form-control {
                color: #724EF4;
                border: 0px;
                border-radius: 0px;
            }
            .submit-button-container {
                .form-group {
                    position: relative;
                    button {
                        position: absolute;
                        left: 50%;
                        bottom: -10px;
                        transform: translateX(-50%);
                        border: 1px solid #724EF4;
                        color: #724EF4;
                        border-radius: 0px;
                        &:hover {
                            background: #fff;
                        }
                    }
                }
            }
            textarea {
                width: 100%;
                padding: 8px;
                color: #724EF4;
                border: 0px;
            }
        }
        .lets-connect-footer {
            margin: 1em;
            .social-icons {
                img {
                    padding: 0.5em;
                }
            }
            .addresses {
                color: #fff;
                img {
                    display: inline-block;
                    margin: 5px;
                }
                span {
                    display: inline-block;
                }
            }
        }
    }
}