@font-face {
  font-family: 'Typold-Black';
  src: url("../assets/fonts/Typold-Black.otf");
  src: url("../assets/fonts/Typold-Black.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Bold';
  src: url("../assets/fonts/Typold-Bold.otf");
  src: url("../assets/fonts/Typold-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Bold-Italic';
  src: url("../assets/fonts/Typold-Bold-Italic.otf");
  src: url("../assets/fonts/Typold-Bold-Italic.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Book';
  src: url("../assets/fonts/Typold-Book.otf");
  src: url("../assets/fonts/Typold-Book.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Regular';
  src: url("../assets/fonts/Typold-Regular.otf");
  src: url("../assets/fonts/Typold-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Condensed-Bold';
  src: url("../assets/fonts/Typold-Condensed-Bold.otf");
  src: url("../assets/fonts/Typold-Condensed-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Condensed-Regular';
  src: url("../assets/fonts/Typold-Condensed-Regular.otf");
  src: url("../assets/fonts/Typold-Condensed-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Condensed-Medium';
  src: url("../assets/fonts/Typold-Condensed-Medium.otf");
  src: url("../assets/fonts/Typold-Condensed-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Condensed-Book';
  src: url("../assets/fonts/Typold-Condensed-Book.otf");
  src: url("../assets/fonts/Typold-Condensed-Book.ttf") format("truetype");
}

@font-face {
  font-family: '';
  src: url("../assets/fonts/.otf");
  src: url("../assets/fonts/.ttf") format("truetype");
}

@font-face {
  font-family: '';
  src: url("../assets/fonts/.otf");
  src: url("../assets/fonts/.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Thin';
  src: url("../assets/fonts/Typold Thin.otf");
}

@font-face {
  font-family: 'Typold-Medium';
  src: url("../assets/fonts/Typold Medium.otf");
}

.letsConnectRow{
  background-color: #ffffff;
  padding: 4vw 4vw;
  display: grid;
  grid-template-columns: 50% 50%;
}

.provideInfoHeading{
  font-family: 'Typold-Regular';
  font-size:1.3vw;
  color:#777777;
  padding:0;
  margin-bottom: 1.5vw;
}

.formRow{
  display: grid;
  grid-template-columns: 50% 50% ;
  margin-bottom: .5vw;
}

.inputBox{
  padding:0vw 1vw 0vw 0vw;
}

.input::placeholder {
  color: #777777;
  opacity: 1; /* Firefox */
  font-family:'Typold-Thin';
  font-size:13px;
  font-weight:600;
}

.input{
  border-radius:5px;
  border:1px solid #777777;
  padding:18px 10px;
}

.textAreaBox{
  padding:0vw 1vw 0vw 0vw;
}

.textarea{
  border-radius:5px;
  border:1px solid #777777;
  padding:8px 12px;
  resize: none;
  height:144px !important;
}

.textarea::placeholder{
  color: #777777;
  font-family:'Typold-Thin';
  font-size:13px;
  font-weight:600;
}


.submitBtn{
  background: -webkit-linear-gradient(#00b698,#8e71f6 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  padding: 8px 16px;
  border: 2px solid;
  border-image: linear-gradient(45deg,#00b698, #8e71f6) 1;
  transform: skewX(-10deg);
  transition: .8s;
  font-family: 'Typold-Regular'
} 

.contactColumm{
  padding:0vw 3vw;
}

.matchHeading{
  color:#724ef4;
  font-size:1vw;
  font-family:'Typold-Book';
  font-weight:600;
}

.subheading{
  font-weight: bold;
  font-size: 1.3vw;
  margin:0;
  font-family:'Typold-Bold';
}
.para{
  font-size:1vw;
  font-family:'Typold-Thin';
  font-weight:600;
  color:#777777;
}


.heading {
  display: inline-block;
  color:#724ef4;
  font-weight: bold;
  font-size:2.8vw;
  margin:0;
  font-family:'Typold-Medium';
}

.heading:after {
  display: block;
  content: '';
  margin: 8px 0px;
  transform: scaleX(0.1);
  transition: transform 600ms ease-in-out;
  border-bottom: 2px solid #724ef4;
  transform-origin: 0% 0%;
}

.heading:hover:after {
  transform: scaleX(1);
  transform-origin: 0% 0%;
}

@media screen and (max-width: 1240px) {
  .letsConnectRow{
    padding: 4vw 4vw;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .provideInfoHeading{
    font-size:1.4vw;
    padding:0;
  }

  .formRow{
    display: grid;
    grid-template-columns: 50% 50% ;
  }

  .inputBox{
    padding-right:1vw;
  }
  
  .input::placeholder {
    font-size:1.1vw;
  }
  
  .input{
    border-radius:5px;
    border:.09vw solid #777777;
    padding:1vw 1vw;
  }
  
  .textarea{
    border-radius:5px;
    border:.09vw solid #777777;
    padding:.5vw .8vw;
    height:132px !important;
  }
  
  .textarea::placeholder{
    font-size:1.1vw;
  }
  
  .textAreaBox{
    padding:0vw 1vw 0vw 0vw;
  }
  
  
  .submitBtn{
    background: -webkit-linear-gradient(#00b698,#8e71f6 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    padding: 8px 16px;
    border: 2px solid;
    border-image: linear-gradient(45deg,#00b698, #8e71f6) 1;
    transform: skewX(-10deg);
    transition: .8s;
    font-family: 'Typold-Regular';
    font-size:1.2vw;
  } 
  
 
  .matchHeading{
    font-size:1vw;
    margin:0;
  }
  .heading {
    display: inline-block;;
    font-size:3vw;
    margin:0;
  }
  .heading:after {
    display: block;
    content: '';
    margin: 1.3vw 0vw;
    transform: scaleX(0.1);
    transition: transform 600ms ease-in-out;
    border-bottom: 2px solid #724ef4;
    transform-origin: 0% 0%;
  }
  .heading:hover:after {
    transform: scaleX(1);
    transform-origin: 0% 0%;
  }
  .subheading{
    font-size: 1.6vw;
    margin:0;
  }
  .para{
    font-size:1.1vw;
  }
}

@media screen and (max-width: 768px) {
  .letsConnectRow{
    padding: 4vw 1vw;
    display: grid;
    grid-template-columns: 50% 50%;
  }
 .formColumm{
   padding:0vw 3vw;
  }
  .formRow{
    display: grid;
    grid-template-columns: auto ;
  }
  .provideInfoHeading{
    font-size:2.2vw;
    margin-bottom: 3vw;
  }

  .inputBox{
    padding:0vw;
  }
  
  .input{
    border-radius:5px;
    border:1px solid #777777;
    padding:2vw 1vw;
  }

  .input::placeholder {
    font-size:1.6vw; 
  }
  
  .textarea{
    border-radius:5px;
    border:1px solid #777777;
  }
  
  .textarea::placeholder{
    font-size:1.6vw;
  }
  
  .textAreaBox{
    padding:0vw ;
  }

  .submitBtn{
    background: -webkit-linear-gradient(#00b698,#8e71f6 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: .8vw 1.6vw;
    border: 2px solid;
    border-image: linear-gradient(45deg,#00b698, #8e71f6) 1;
    transform: skewX(-10deg);
    transition: .8s;
    font-size:2.2vw;
  } 
  
  .contactColumm{
    padding:0 3vw;
  }
  .matchHeading{
    font-size:1.8vw;
    margin: 0vw;
  }
  
  .subheading{
    font-size: 2.4vw;
    margin:0;
  }
  .para{
    font-size:1.8vw;
  }
  
  .heading {
    display: inline-block;
    font-weight: bold;
    font-size:4vw;
    margin:0;
  }
  
  .heading:after {
    display: block;
    content: '';
    margin: 1.5vw 0vw;
    transform: scaleX(0.1);
    transition: transform 600ms ease-in-out;
    border-bottom: 2px solid #724ef4;
    transform-origin: 0% 0%;
  }
  
  .heading:hover:after {
    transform: scaleX(1);
    transform-origin: 0% 0%;
  }
}

@media screen and (max-width: 540px) {
  .letsConnectRow{
    padding: 4vw 4vw;
    grid-template-columns: 100%;
  }

  .formRow{
    display: grid;
    grid-template-columns: auto ;
  }

  .provideInfoHeading{
    font-size:1.5rem;
    margin-bottom: 3vw;
  }

  .inputBox{
    padding:0vw;
  }

  .input{
    border-radius:5px;
    border:1px solid #777777;
    padding:2vw 2vw;
  }

  .input::placeholder {
    font-size:1.125rem; 
  }
  
  .textarea{
    border-radius:5px;
    border:1px solid #777777;
  }
  
  .textarea::placeholder{
    font-size:1.125rem;
    padding:0vw 1vw;
  }
  
  .textAreaBox{
    padding:0vw;
  }

  .submitBtn{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    padding: .8vw 1.6vw;
    border: 2px solid;
    border-image: linear-gradient(45deg,#00b698, #8e71f6) 1;
    transform: skewX(-10deg);
    transition: .8s;
    font-size:1.375rem;
  } 
  
  .letsConnectRow{
    padding: 4vw 4vw;
  }

  .matchHeading{
    font-size:1.125rem;
    margin:10vw 0vw 0vw 0vw;
  }
  
  .subheading{
    font-weight: bold;
    font-size: 1.875rem;
    margin:0;
  }
  .para{
    font-size:1.125rem;
  }
  
  
  .heading {
    font-size:3rem;
    margin:0;
  }
  
  .heading:after {
    display: block;
    content: '';
    margin: 8px 0px;
    transform: scaleX(0.1);
    transition: transform 600ms ease-in-out;
    border-bottom: 2px solid #724ef4;
    transform-origin: 0% 0%;
  }
  
  .heading:hover:after {
    transform: scaleX(1);
    transform-origin: 0% 0%;
  }
}
