@font-face {
  font-family: 'Typold-Black';
  src: url("../assets/fonts/Typold-Black.otf");
  src: url("../assets/fonts/Typold-Black.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Bold';
  src: url("../assets/fonts/Typold-Bold.otf");
  src: url("../assets/fonts/Typold-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Bold-Italic';
  src: url("../assets/fonts/Typold-Bold-Italic.otf");
  src: url("../assets/fonts/Typold-Bold-Italic.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Book';
  src: url("../assets/fonts/Typold-Book.otf");
  src: url("../assets/fonts/Typold-Book.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Regular';
  src: url("../assets/fonts/Typold-Regular.otf");
  src: url("../assets/fonts/Typold-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Condensed-Bold';
  src: url("../assets/fonts/Typold-Condensed-Bold.otf");
  src: url("../assets/fonts/Typold-Condensed-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Condensed-Regular';
  src: url("../assets/fonts/Typold-Condensed-Regular.otf");
  src: url("../assets/fonts/Typold-Condensed-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Condensed-Medium';
  src: url("../assets/fonts/Typold-Condensed-Medium.otf");
  src: url("../assets/fonts/Typold-Condensed-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Condensed-Book';
  src: url("../assets/fonts/Typold-Condensed-Book.otf");
  src: url("../assets/fonts/Typold-Condensed-Book.ttf") format("truetype");
}

@font-face {
  font-family: '';
  src: url("../assets/fonts/.otf");
  src: url("../assets/fonts/.ttf") format("truetype");
}

@font-face {
  font-family: '';
  src: url("../assets/fonts/.otf");
  src: url("../assets/fonts/.ttf") format("truetype");
}

.menu-parent {
  position: fixed;
  width: auto;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  transition: 1s;
}

.menu-parent.open {
  filter: drop-shadow(8px 0px 4px rgba(145, 144, 135, 0.28));
}

.menu-parent .menu {
  font-family: 'Typold-Bold';
  position: fixed;
  width: 60px;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  transition: 1s;
  background: #ffffff;
  overflow: hidden;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

/* @media screen and (max-width: 768px) {
  .menu-parent .menu {
    width: 100%;
    height: 14vw;
  }
} */

@media screen and (max-width: 540px) {
  .menu-parent .menu {
    width: 100%;
    height: 11vw;
  }
}

.menu-parent .menu.open {
  background: #ffffff;
  width: 33vw;
  transition: .6s;
  -webkit-clip-path: polygon(0 0, 45% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 45% 0, 100% 100%, 0% 100%);
}

@media screen and (max-width: 540px) {
  .menu-parent .menu.open {
    width: 100vw;
    height: 100vh;
    clip-path: none;
  }
}

.menu-parent .menu.open .sidebar img {
  height: 0;
  width: 0;
  margin: 25px;
  transition: .8s;
}

.menu-parent .menu.open .sidebar img.mobile-excellence-logo {
  width: 45%;
  height: auto;
}

.menu-parent .menu img.close-menu, .menu-parent .menu .sidebar img {
  position: absolute;
  width: 30px;
  height: 30px;
  margin: 15px;
  transition: .6s;
}

@media screen and (max-width: 540px) {
  .menu-parent .menu img.close-menu, .menu-parent .menu .sidebar img {
    width: 7vw;
    height: 7vw;
    margin: 2vw;
  }
}

.menu-parent .menu .sidebar .menu-button {
  position: fixed;
  width: 30px;
  height: 30px;
  top: 30px;
  left: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 540px) {
  .menu-parent .menu .sidebar .menu-button {
    width: 7vw;
    height: 7vw;
    left: 85vw;
    top: 3vw;
  }
}

.menu-parent .menu .sidebar .menu-button.open span:nth-child(1) {
  top: 24px;
  width: 0%;
  left: 50%;
}

.menu-parent .menu .sidebar .menu-button.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu-parent .menu .sidebar .menu-button.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu-parent .menu .sidebar .menu-button.open span:nth-child(4) {
  top: 24px;
  width: 0%;
  left: 50%;
}

.menu-parent .menu .sidebar .menu-button span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #00B698;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.menu-parent .menu .sidebar .menu-button span:nth-child(1) {
  top: 0px;
}

.menu-parent .menu .sidebar .menu-button span:nth-child(2), .menu-parent .menu .sidebar .menu-button span:nth-child(3) {
  top: 8px;
}

.menu-parent .menu .sidebar .menu-button span:nth-child(4) {
  top: 16px;
}

.menu-parent .menu .sidebar .mobile-excellence-logo {
  display: none;
}

@media screen and (max-width: 540px) {
  .menu-parent .menu .sidebar .mobile-excellence-logo {
    display: block;
    width: 40vw;
    top: 0px;
    left: 5vw;
    height: auto;
  }
}

.menu-parent .menu .sidebar .excellence-logo {
  top: calc(50vh - 50px);
}

@media screen and (max-width: 540px) {
  .menu-parent .menu .sidebar .excellence-logo {
    display: none;
  }
}

.menu-parent .menu .sidebar .chat {
  bottom: 45px;
}

@media screen and (max-width: 540px) {
  .menu-parent .menu .sidebar .chat {
    display: none;
    top: 10px;
    right: 45px;
  }
}

.menu-parent .menu .menu-items {
  height: 0;
  width: 0;
  opacity: 0;
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .1s;
  overflow: hidden;
}

@media screen and (max-width: 540px) {
  .menu-parent .menu .menu-items {
    left: 50%;
    top: 59%;
    transform: translate(-50%, -50%);
    transition: .1s;
    overflow: hidden;
  }
}

.menu-parent .menu .menu-items ul {
  margin-top: -4px;
}

.menu-parent .menu.open .menu-items {
  height: auto;
  width: 31vw;
  opacity: 1;
  transition: .6s;
}

@media screen and (max-width: 540px) {
  .menu-parent .menu.open .menu-items {
    width: 80vw;
  }
}

.menu-parent .menu.open .menu-items ul {
  list-style-type: none;
  padding: 0;
}

.menu-parent .menu.open .menu-items ul li {
  font-size: 20px;
  padding: 4vh 0 1vh 3px;
  font-weight: 900;
  border-bottom: 1px solid #e5e5e5;
  border-left: 0px solid #3EC8AC;
  border-right: 0px solid #724EF4;
  border-radius: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-position: 0 100%, 0 100%;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 2px;
  -moz-background-size: 100% 2px;
  background-size: 100% 2px;
  background-color: #ffffff;
  background-image: linear-gradient(grey);
  transition: all ease-in-out .6s;
}

.menu-parent .menu.open .menu-items ul li a {
  text-decoration: none;
}

.menu-parent .menu.open .menu-items ul li span {
  color: #3EC8AC;
  transition: .6s;
}

.menu-parent .menu.open .menu-items ul li:hover {
  transition: all ease-in-out .6s;
  background-image: -webkit-linear-gradient(to right, #724EF4 10%, #3EC8AC 40%), -webkit-linear-gradient(to right, #724EF4 0%, #3EC8AC 65%);
  background-image: -moz-linear-gradient(to right, #724EF4 10%, #3EC8AC 40%), -moz-linear-gradient(to right, #724EF4 0%, #3EC8AC 65%);
  background-image: -o-linear-gradient(to right, #724EF4 10%, #3EC8AC 40%), -o-linear-gradient(to right, #724EF4 0%, #3EC8AC 65%);
  background-image: linear-gradient(to right, #724EF4 10%, #3EC8AC 40%), linear-gradient(to right, #724EF4 0%, #3EC8AC 65%);
}

.menu-parent .menu.open .menu-items ul li:hover span {
  transition: .2s;
  background-color: #ffffff;
  background: -webkit-linear-gradient(-90deg, #3EC8AC, #724EF4);
  background: linear-gradient(-90deg, #3EC8AC, #724EF4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-parent .menu.open .menu-items ul li:nth-child(1) {
  box-shadow: inset 0 2px 0 0px #ffffff;
}

.menu-parent .menu .social {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3vh 1vw 3vh 2.8vw;
}

.menu-parent .menu .social img {
  height: 0px;
  width: 0px;
  border-radius: 3px;
  margin: 2vh 0px;
  transition: all ease 1s;
}

.menu-parent .menu.open .social {
  display: block;
}

.menu-parent .menu.open .social img {
  width: 2.3vw;
  height: 2.3vw;
  margin: 2vh 2vw;
  transition: all ease 1s;
}

@media screen and (max-width: 768px) {
  .menu-parent .menu.open .social img {
    margin: 2vh 1.6vw;
  }
}

@media screen and (max-width: 540px) {
  .menu-parent .menu.open .social img {
    height: 9vw;
    margin: 2vh 6vw;
  }
}
