@import 'general.scss';

.menu {
    position: fixed;
    width: 50px;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    transition: 1s;
    background: $white;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    &.open {
        background: $white;
        width: 350px;
        transition: .6s;
        -webkit-clip-path: polygon(0 0, 45% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 45% 0, 100% 100%, 0% 100%);
        .sidebar img {
            height: 0;
            width: 0;
            margin: 25px;
            transition: .8s;
        }
    }
    img.close-menu, .sidebar img {
        position: absolute;
        width: 18px;
        height: auto;
        margin: 16px;
        transition: .6s;
    }
    .sidebar {
        .menu-button {
            position: fixed;
            width: 18px;
            height: 20px;
            top: 30px;
            left: 16px;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            cursor: pointer;
            &.open {
                span{
                    &:nth-child(1) {
                        top: 18px;
                        width: 0%;
                        left: 50%;
                    }
                    &:nth-child(2) {
                        -webkit-transform: rotate(45deg);
                        -moz-transform: rotate(45deg);
                        -o-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }
                    &:nth-child(3) {
                        -webkit-transform: rotate(-45deg);
                        -moz-transform: rotate(-45deg);
                        -o-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                    }
                    &:nth-child(4) {
                        top: 18px;
                        width: 0%;
                        left: 50%;
                    }
                }
            }

            span {
                display: block;
                position: absolute;
                height: 2px;
                width: 100%;
                background: $light-green;
                opacity: 1;
                left: 0;
                margin: 3px 0;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: .25s ease-in-out;
                -moz-transition: .25s ease-in-out;
                -o-transition: .25s ease-in-out;
                transition: .25s ease-in-out;
                &:nth-child(1) {
                    top: 0px;
                }
                &:nth-child(2), &:nth-child(3) {
                    top: 6px;
                }
                &:nth-child(4) {
                    top: 12px;
                }
            }
        }
        .excellence-logo {
            top: calc(50vh - 25px);
        }
        .chat {
            bottom: 45px;
        }
                
    }
    .menu-items {
        height: 0;
        width: 0;
        opacity: 0;
        position: absolute;
        left: 60%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: .1s;
    }
    &.open {
        .menu-items {
            height: auto;
            width: 300px;
            opacity: 1;
            transition: .6s;
            ul {
                list-style-type: none;
                padding: 0;
                li {
                    font-size: 18px;
                    padding: 25px 0 4px;
                    font-weight: 900;
                    border-top: 0px solid $white;
                    border-left: 0px solid $gradient-green;
                    border-right: 0px solid #4E90A4;
                    border-radius: 1px;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    background-position: 0 0, 0 100%;
                    background-repeat: no-repeat;
                    -webkit-background-size: 100% 1px;
                    -moz-background-size: 100% 1px;
                    background-size: 100% 1px;
                    background-image: -webkit-linear-gradient(left, $gradient-green 0%, #4E90A4 100%), -webkit-linear-gradient(left, $gradient-green 0%, #4E90A4 100%);
                    background-image: -moz-linear-gradient(left, $gradient-green 0%, #4E90A4 100%), -moz-linear-gradient(left, $gradient-green 0%, #4E90A4 100%);
                    background-image: -o-linear-gradient(left, $gradient-green 0%, #4E90A4 100%), -o-linear-gradient(left, $gradient-green 0%, #4E90A4 100%);
                    background-image: linear-gradient(to right, $gradient-green 0%, #4E90A4 100%), linear-gradient(to right, $gradient-green 0%, #4E90A4 100%);
                    margin: -1px;
                    span {
                        color: $gradient-green;
                        transition: .6s;
                    }
                    &:hover {
                        span {
                            transition: .2s;
                            background: linear-gradient(-90deg, $gradient-green, #4E90A4);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                    &:nth-child(1) {
                        box-shadow: inset 0 2px 0 0px $white;
                    }
                }
            }
        }
    }
    .social {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 20px;
        img {
            height: 0px;
            width: 0px;
            border-radius: 3px;
            margin: 20px 0px;
            transition: .6s;
        }
    }
    &.open {
        .social {
            img {
                height: 20px;
                width: 20px;
                margin: 40px 25px;
                transition: .6s;
            }
        }   
    }
}
