.header {
    background-image: url(./../assets/newsletter/Group\ 15.png);
    background-repeat: no-repeat;
    /* height: 400vw; */
    background-size: contain;
    padding-left: 13%;
}

.logo {
    width: 20%;
    padding-top: 25px;
}

.solutions_head {
    padding-top: 100px;
    font-size: 35px;
    width: 45%;
    line-height: 50px;
    color: #ffffff;
    font-family: 'Montserrat';
}

.margin {
    margin-top: 40px;
}

.margin-top {
    margin-top: 0%;
}

.margin-12 {
    margin-top: 12%;
}

.padding-0 {
    padding:0px 0px;
}

.padding-3 {
    padding: 3vw 0vw;
}

.text-white {
    color: #ffffff;
}

.anchor {
    color: #9895C1;
    text-decoration: underline;
}

.row_margin {
    margin-top: 15vw;
}

.panel {
    border-radius: 8px;
}

.panel-padding {
    padding: 10px;
}

.panel-width {
    width: 19vw;
    transition: box-shadow .2s;
}

.panel-width:hover {
    box-shadow: 4px 4px 14px 7px #EBEDEE;
}

.img1 {
    margin: 0 auto;
    width: 4vw;
}

.img_mobile {
    margin: 0 auto;
    width: 2.8vw;
}
.firebase{
    width:3vw;
    margin: 0 auto;
}

.grid-heading {
    margin: 8px 0px;
    line-height: 1.2;
    font-size:  20px;
    font-family: 'Montserrat';
    color: #44555f;
}

.grid-text {
    font-size: .9vw;
    line-height: 18px;
    padding: 0px 5px 10px 5px;
    color: #44555f;
    font-family: 'Montserrat-light';
}

.third-column-first-heading {
    color: #f0f1f2;
    text-align: center;
    font-family: 'Montserrat-bold';
    letter-spacing: 7px;
    font-size: 150px;
    margin-top: 3vw;
}

.third-column-second-heading {
    margin-top: -80px;
    text-align: center;
    font-size: 36px;
    letter-spacing: 2px;
    color: #44555f;
    font-family: 'Montserrat-regular';
}

.third-column {
    padding: 10px 50px 10px 50px;
    font-size: 16px;
    line-height: 20px;
}

.row-padding {
    padding: 0% 13%;
    margin-top: 4%;
}

.node {
    width: 130px;
}

.mongo {
    width: 2vw;
}

.shopify_image {
    width: 25%;
}

.wordpress {
    width: 100px;
}

.php {
    width: 60px;
}

.tech_name {
    margin-bottom: 2vw;
    color: #44555f;
}

.tech_container {
    min-height: 65px;
}

.php_container {
    padding-top: 10px;
}

.techNode_container{
    max-height: 60px;
    padding-top:12px;
}

.padding {
    padding: 0% 10%;
    margin-top: 0%;
    text-align: left;
}

.projects {
    margin-top: -80px;
    font-size: 36px;
    letter-spacing: 2px;
    color: #44555f;
    padding-left: 11%;
    font-family: 'Montserrat-regular';
}

.project-row {
    padding: 0% 10%;
    margin-top: 3%;
    position: relative;
}

.oakerImage {
    width: 48%;
}

.zarpoImage {
    width: 44%;
    margin-left: -2.2vw;
}

.programmingHubImage {
    width: 25%;
    position: absolute;
    left: 61%;
    top: -25%;
}

.clients-row {
    padding: 0% 13%;
    margin-top: 5%;
}

.bumbagLogo {
    width: 15%;
}

.zarpoLogo {
    padding: 0% 2%;
    width: 15%;
}

.waterbedsLogo {
    width: 35%;
}

.programmingLogo {
    width: 7%;
}

.rudsakLogo {
    padding: 0% 2%;
    width: 23%;
}

.ourProducts {
    position: relative;
}

.product_two {
    display:grid;
    grid-template-columns: 50% 50%;
}

.product_three {
    display:grid;
    grid-template-columns:30% 40% 30%;
    padding: 3%;
}

.OurProductimage {
    position: absolute;
    top: 8%;
    width: 50%;
}

.product {
    font-size: 16px;
    width: 16vw;
    font-family: 'Montserrat';
    color: #44555f;
}

.radius {
    padding: 15px 0px;
    width: inherit;
    border-radius: 6px;
    box-shadow: 1px 1px 5px 2.5px #EBEDEE;
    transition: box-shadow .2s;
}

.radius:hover{
    box-shadow: 4px 4px 14px 7px #EBEDEE;
}

.product_heading {
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 60px;
    color: #44555f;
    font-family: 'Roboto-regular';
    font-weight: 600;
}

.product_description {
    width: 430px;
    line-height: initial;
    margin-top: -10px;
    font-size: 14px;
    letter-spacing: 0px;
    color: #44555f;
    font-family: 'Montserrat-light';
}

.product_link {
    margin-top: 7px;
    color: #44555f;
    font-family: 'Montserrat-light';
}

.coming_leftImg {
    position: absolute;
    top: -60px;
    width: 44%;
}

.coming_rightImg {
    right: 0;
    width: 25%;
    position: absolute;
}

.coming_form_row {
    padding-left: 10%;
    margin: 5% auto;
}

.product_center {
    font-size: 25px;
}

.form {
    padding: 1% 1% 5% 4%;
    background-color: #ffffff;
}

.form_image {
    width: 70%;
}

.coming_heading {
    margin-top: 25%;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: 'Montserrat';
}

.coming_AI {
    padding: 5px 50px 5px 0px;
    font-size: 25px;
    line-height: 30px;
    font-family: 'Montserrat-bold';
}

.coming_AIdescription {
    font-size: 13px;
    margin: 5px 0px;
    line-height: 22px;
    font-family: 'Montserrat-regular';
}

.msg_Image {
    background-image: url(./../assets/newsletter/msg.png);
    background-repeat: round;
    width: 100%;
}

.get_start {
    font-size: 48px;
    font-family: 'Montserrat-light';
}

.height {
    height: 181px;
}

.start {
    text-align: center;
    color: #44555f;
}

.footer_image {
    background-image: url(./../assets/newsletter/layer.png);
    background-repeat: round;
}

.about {
    display: block;
    font-size: 13px;
    margin-top: 15px;
    line-height: 20px;
    letter-spacing: 0.8px;
    font-family: 'Montserrat-regular';
}

.social_id {
    position: absolute;
    word-spacing: 2px;
    font-size: 15px;
    right: 15vw;
    top: 5vw;
    color: #ffffff;
    line-height: 25px;
    font-family: 'Montserrat-regular';
}

.bold {
    font-family: 'Montserrat-bold';
}

@media screen and (max-width: 1440px) {
    .product {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .solutions_head {
        font-size: 30px;
        padding-top: 50px;
        line-height: 35px;
    }

    .row_margin {
        margin-top: 2vw;
    }

    .grid-heading {
        font-size: 12px;
        padding: 0px;
    }

    .panel-width {
        margin: 10px 0px;
    }

    .third-column {
        margin-top: 10px;
        padding: 0px 5px;
        line-height: 12px;
        font-size: 10px;
    }

    .third-column-first-heading {
        font-size: 50px;
    }

    .third-column-second-heading{
        font-size: 14px;
    }
    .node {
        width: 80px;
    }

    .php {
        width: 45px;
    }

    .wordpress {
        width: 70px;
    }

    .tech_name {
        margin-top: 0px;
    }

    .programmingHubImage {
        top: 0%;
    }

    .clients-row{
        margin-top: 12%;
        padding: 0% 10% 0% 13%;
    }

    .rudsakLogo {
        width: 20%;
    }

    .product {
        padding: 10%;
        width: auto;
    }

    .panel {
        margin-bottom: 0px;
    }
    
    .product_center {
        font-size: 25px;
    }
    .coming_leftImg {
        top: -20px;
        width: 50%;
    }

    .coming_heading{
        margin-top: 0%;
        font-size: 13px;
    }
    
    .coming_AI {
        font-size: 15px;
        line-height: 20px;
        padding-right: 0px;
    }

    .coming_AIdescription {
        font-size: 11px;
        line-height: 15px;
    }

    .msg_Image {
        margin-top: 12%;
    }

    .OurProductimage {
        width: 65%;
    }

    .social_id {
        right: 30px;
        font-size: 12px;
        top: 70px;
    }

    .form_image {
        width: 85%;
    }

    .coming_form_row {
        margin: 7% auto;
    }
}