.implementationFirstRow {
  display: grid;
  grid-template-columns: 60% 40%;
  background-image: linear-gradient(#b7eae2 10%, #ffffff 40%);
  padding: 4vw 0vw;
}

.implementationFirstCol div {
  padding-left: 1vw;
}

.servicesMainHeading {
  font-family: "Typold-Bold";
  color: #444444;
  font-size: 3.4vw;
  padding-bottom: 1vw;
  line-height: 1.2;
}

.servicesDesc {
  font-family: "Typold-Thin";
  font-weight:600;
  font-size: 1.2vw;
  padding-bottom: 2vw;
  margin: 0;
  color: #777777;
}

.implementationSecondCol {
  position: relative;
}

.implementationSecondCol div {
  position: absolute;
  bottom: 10%;
  left: 32%;
}

.implementationSecondCol p {
  font-size: 1vw;
  font-family: "Typold Book";
  color: #724ef4;
  font-weight:600;
}

.implementationSecondCol li {
  font-size: 1.2vw;
  font-family: "Typold Light";
  list-style-type: none;
  padding-left: 1vw;
  position: relative;
  color: #444444;
  font-weight:600;
}

.implementationSecondCol li::before {
  content: "";
  width: 0.6vw;
  height: 1px;
  background: #444444;
  position: absolute;
  left: 0;
  top: 0.9vw;
  transition: 0.2s;
}

.implementationSecondRow {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  background-color: #ffffff;
  padding: 2vw 0vw;
}

.ImplementationBox {
  padding-right: 3.2vw;
  padding-left: 1vw;
}

.numbers {
  font-size: 1vw;
  font-family: "Typold Thin";
  font-weight:600;
  margin-top: 0.5vw;
  margin-bottom: 0;
  color:#777777;
}

.implementationHeading {
  font-family: "Typold Medium";
  font-weight:600;
  font-size: 1.3vw;
  color: #492f5c;
  min-height: 4vw;
}

.implementationDesc {
  font-family: "Typold Thin";
  font-size: 1vw;
  color: #777777;
  font-weight:600;
}

@media screen and (max-width: 1240px) {
  .servicesMainHeading {
    font-size: 3vw;
    padding-bottom: 1vw;
  }
  .servicesDesc {
    font-size: 1.3vw;
  }
  .implementationSecondCol div {
    bottom: 20%;
    left: 32%;
  }
  .implementationSecondCol p {
    font-size: 1.2vw;
  }

  .implementationSecondCol li {
    font-size: 1.3vw;
    padding-left: 1vw;
  }

  .implementationSecondCol li::before {
    top: 1vw;
  }
  .ImplementationBox {
    padding-right: 3.2vw;
    padding-left: 1vw;
  }

  .numbers {
    font-size: 1vw;
    margin-top: 1.5vw;
    margin-bottom: 0;
  }

  .implementationHeading {
    font-size: 1.4vw;
  }

  .implementationDesc {
    font-size: 1.2vw;
  }
}

@media screen and (max-width: 768px) {
  .implementationFirstRow {
    grid-template-columns: 63% 37%;
    padding: 4vw 0vw;
  }
  .servicesMainHeading {
    font-size: 4.8vw;
    padding-bottom: 3vw;
  }
  .servicesDesc {
    font-size: 1.8vw;
    padding-bottom: 4vw;
  }
  .implementationSecondCol div {
    bottom: 21%;
    left: 20%;
  }
  .implementationSecondCol p {
    font-size: 1.8vw;
  }
  .implementationSecondCol li {
    font-size: 1.8vw;
    padding-left: 1.3vw;
  }
  .implementationSecondCol li::before {
    width: 0.8vw;
    height: 1px;
    top: 1.3vw;
  }
  .implementationSecondRow {
    grid-template-columns: 33% 33% 33%;
    padding: 2vw 0vw;
  }
  .ImplementationBox {
    padding: 3vw 3.8vw 3vw 1vw;
  }
  .numbers {
    font-size: 1.6vw;
    margin-bottom: 0.75vw;
    text-align: center;
  }
  .implementationHeading {
    font-size: 2.4vw;
    min-height: 6.9vw;
  }
  .implementationDesc {
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 540px) {
  .implementationFirstRow {
    background-image: linear-gradient(#b7eae2 10%, #ffffff 29%);
    grid-template-columns: 100%;
    padding: 10vw 0vw;
  }

  .implementationFirstCol div {
    padding:0vw 6vw;
  }

  .servicesMainHeading {
    font-size: 3rem;
  }

  .servicesDesc {
    font-size: 1.25rem;
    padding-bottom: 5vw;
  }

  .implementationSecondCol {
    position: relative;
    padding: 2vw 6vw;
  }

  .implementationSecondCol div {
    position: initial;
  }

  .implementationSecondCol p {
    font-size: 1.125rem;
    margin-bottom: 0.5vw;
  }

  .implementationSecondCol li {
    font-size: 1.25rem;
    padding-left: 15px;
    
  }

  .implementationSecondCol li::before {
    width:7px;
    height: 0.2vw;
    top: 12px;
  }

  .implementationSecondRow {
    grid-template-columns: 100%;
    padding: 2vw 4vw;
  }

  .ImplementationBox {
    padding: 0vw 2vw 8vw 2vw;
  }

  .numbers {
    font-size: 1rem;
    margin-top: 2.5vw;
    margin-bottom: 1.5vw;
    text-align: left;
  }

  .implementationHeading {
    font-size: 1.5rem;
    min-height: 4vw;
  }

  .implementationDesc {
    font-size: 1.125rem;
  }
}
