.portfolioRow {
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
}
.portfolioFirstCol {
  position: relative;
  background-color: #8975f3;
  padding: 3vw 10vw 3vw 4vw;
}
.arrowImg {
  position: absolute;
  width: 2.5vw;
  height: auto;
  right: 6vw;
  bottom: 16.5vw;
}
.porfolioInnerBox {
  padding-left: 1vw;
}
.portfolioHeading {
  color: #ffffff;
  font-family: "Typold-Book";
  font-weight:600;
  font-size: 1.1vw;
  text-transform: uppercase;
  position: relative;
  padding-left: 5vw;
}
.portfolioHeading:before {
  content: "";
  width: 4.7vw;
  height: 2px;
  background: #ffffff;
  position: absolute;
  left: 0;
  top: 0.7vw;
  transition: 0.2s;
}

.portfolioMainHeading {
  font-family: "Typold-Medium";
  color: #ffffff;
  font-size: 3.4vw;
  padding-bottom: 1vw;
  line-height: 1.2;
  font-weight: 500;
}

.porfolioLine {
  font-family: "Typold Regular";
  font-size: 1.6vw;
  color: #ffffff;
  font-weight:600;
}

.portfolioDesc {
  font-family: "Typold Thin";
  font-size: 1vw;
  font-weight:600;
  color: #ffffff;
  padding-top: 1vw;
}

.PortfolioList {
  list-style: none;
  padding-top: 1.5vw;
}

.PortfolioList li {
  font-family: "Typold Light";
  font-weight:600;
  font-size: 1vw;
  color: #ffffff;
  position: relative;
  padding-left: 1vw;
}

.PortfolioList li::before {
  content: "";
  width: 0.5vw;
  height: 1px;
  background: #ffffff;
  position: absolute;
  left: 0;
  top: 0.7vw;
  transition: 0.2s;
}

.viewBox {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-top: 1vw;
}

.viewBtn {
  border: 0.5px solid #ffffff;
  border-radius: 8px;
  color: #ffffff;
  padding: 0.5vw 1.5vw;
  font-size: 1vw;
  font-family: "Typold Thin";
  font-weight:600;
}

.portfolioSecondCol {
  background-image: url("./../assets/portfolio/portfolio1.png");
  background-size: contain;
}

.screenImg {
  position: absolute;
  width: 40vw;
  left: 46%;
  top: 21%;
}

@media screen and (max-width: 1240px) {
  .portfolioFirstCol {
    padding: 3vw 10vw 3vw 4vw;
  }
  .arrowImg {
    position: absolute;
    width: 2.5vw;
    height: auto;
    right: 6vw;
    bottom: 16.5vw;
  }
  .porfolioInnerBox {
    padding-left: 1vw;
  }
  .portfolioHeading {
    font-size: 1.2vw;
  }
  .portfolioHeading:before {
    height: 1px;
  }
  .portfolioMainHeading {
    font-size: 3vw;
    padding-bottom: 1vw;
  }
  .porfolioLine {
    font-size: 1.2vw;
  }
  .portfolioDesc {
    font-size: 1.2vw;
    padding-top: 1vw;
  }
  .PortfolioList li {
    font-size: 1.2vw;
    padding-left: 1vw;
  }
  .viewBtn {
    border-radius: 8px;
    padding: 0.5vw 1.5vw;
    font-size: 1.2vw;
  }
  .screenImg {
    position: absolute;
    width: 40vw;
    left: 46%;
    top: 21%;
  }
}

@media screen and (max-width: 768px) {
  .portfolioRow {
    grid-template-columns: 50% 50%;
  }
  .portfolioFirstCol {
    padding: 3vw 10vw 8vw 4vw;
  }

  .porfolioInnerBox {
    padding-left: 1vw;
  }
  .portfolioHeading {
    font-size: 1.8vw;
    padding-left: 5.5vw;
  }
  .portfolioHeading:before {
    height: 0.2vw;
    top: 1.1vw;
  }

  .portfolioMainHeading {
    font-size: 5vw;
    padding-bottom: 1vw;
  }

  .porfolioLine {
    font-size: 2.2vw;
  }

  .portfolioDesc {
    font-size: 1.8vw;
    padding-top: 1vw;
  }

  .PortfolioList {
    padding-top: 1.8vw;
  }

  .PortfolioList li {
    font-size: 1.4vw;
    position: relative;
    padding-left: 1.3vw;
  }

  .PortfolioList li::before {
    width: .6vw;
    height: 1px;
    top: 0.9vw;
    transition: 0.2s;
  }

  .viewBox {
    padding-top: 1vw;
  }

  .viewBtn {
    border-radius: 7px;
    padding: 0.75vw 2vw;
    font-size: 1.8vw;
  }

  .portfolioSecondCol {
    background-position: bottom;
    background-size: cover;
  }

  .arrowImg {
    width: 3.5vw;
    right: 6vw;
    bottom: 25vw;
  }

  .screenImg {
    width: 50vw;
    left: 44.7%;
    top: 30%;
  }
}

@media screen and (max-width: 540px) {
  .portfolioRow {
    display: flex;
    flex-direction: column-reverse;
  }
  .portfolioFirstCol {
    padding: 20vw 6vw 10vw 6vw;
  }
  .arrowImg {
    width: 6vw;
    right: 48vw;
    top: 7vw;
    transform: rotateZ(90deg);
  }
  .porfolioInnerBox {
    padding-left: 1vw;
  }
  .portfolioHeading {
    font-size: 1.125rem;
    padding-left: 45.5px;
  }
  .portfolioHeading:before {
    height: 0.2vw;
    top: 9px;
    width: 40px;
  }

  .portfolioMainHeading {
    font-size: 3rem;
    padding-bottom: 1vw;
    line-height: 1.2;
  }

  .porfolioLine {
    font-size: 1.7rem;
  }

  .portfolioDesc {
    font-size: 1.125rem;
    padding-top: 1vw;
  }

  .PortfolioList {
    padding-top: 1.5vw;
  }

  .PortfolioList li {
    font-size: 1.125rem;
    padding-left: 15px;
  }

  .PortfolioList li::before {
    width: 8px;
    height: 0.2vw;
    top: 10px;
  }

  .viewBox {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-top: 1vw;
  }

  .viewBtn {
    border-radius: 8px;
    padding: 1vw 3.5vw;
    font-size: 1.25rem;
  }

  .portfolioSecondCol {
    height: 62vw;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }

  .screenImg {
    width: 70vw;
    left: 17%;
    top: 14%;
  }
}
