.section-container {
    margin-bottom: 2em;
    .sub-heading {
        max-width: 60%;
        margin: 1em auto;
        letter-spacing: 1px;
        line-height: 1.5;
    }
}

/* Section Heading Styles */