@import 'general.scss';
/* Section Heading Styles */

.services {
    background-color: #f7f7f7;
    position: relative;
    width: 100%;
    overflow-x: hidden;
    .service-footer {
        background: url(../assets/blur-close-up-design-196645.png);
        @media screen and (min-width: 768px) {
            padding: 1.5em 0 1.5em 3em;
            background-position: 96%;
            background-size: 77vw auto;
            background-repeat: no-repeat;
            margin-bottom: 2em;
            transition: .2s;
        }
        @media screen and (max-width: 767px) {
            padding: 1.5em 0 1.5em 3em;
            background-size: cover;
            background-repeat: no-repeat;
            margin-bottom: 2em;
            transition: .2s;
        }
        @media screen and (max-width: 540px) {
            padding: 1.5em 0 1.5em 1.5em;
            background-size: cover;
            background-repeat: no-repeat;
            margin-bottom: 2em;
            transition: .2s;
        }
        .drop-shadow {
            display: inline-block;
            filter: drop-shadow(6px 3px 5px rgba(0, 0, 0, 0.2));
            @media screen and (min-width: 768px) {
                width: 40%;
                transition: .2s;
            }
            @media screen and (max-width: 767px) {
                width: 92%;
                transition: .2s;
            }
        }
        .service-nav-menu {
            list-style-type: none;
            padding: 1em 0;
            display: inline-block;
            background: linear-gradient(to right top, rgba(0, 182, 152, 0.7), rgba(176, 78, 244, 0.7));
            width: 100%;
            clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
            @media screen and (max-width: 540px) {
                font-size: 2.8vw;
                transition: .2s;
            }
            li {
                padding: .5em 0;
                width: 100%;
                transition: 1s;
                color: #fff;
                padding-left: 2em;
                font-size: 1.6em;
                font-weight: 600;
                &:hover,
                &:active {
                    transition: .6s;
                    background: #fff;
                    color: darkblue;
                    span {
                        background: linear-gradient(to right, rgba(0, 182, 152, 0.7) 0%, rgba(176, 78, 244, 0.7) 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
                &.active {
                    transition: .6s;
                    background: #fff;
                    color: darkblue;
                    span {
                        background: linear-gradient(to right, rgba(0, 182, 152, 0.7) 0%, rgba(176, 78, 244, 0.7) 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }
        }
        .service-content {
            display: inline-block;
            vertical-align: top;
            width: 50%;
            color: $gradient-purple;
            margin-top: 1em;
            font-size: 1.2em;
            letter-spacing: 1px;
            padding: 1em;
            @media screen and (max-width: 767px) {
                width: 92%;
                margin-top: 0em;
                transition: .2s;
            }
            div {
                display: none;
                transition: opacity 1s ease-out;
                opacity: 0;
                &.active {
                    opacity: 1;
                    display: block;
                }
            }
            span {
                margin-top: .5em;
                display: inline-block;
            }
            img {
                width: 50px;
            }
            a {
                text-decoration: none;
            }
            a:hover {
                font-weight: bold;
                color: $gradient-purple;
                padding-bottom: 4px;
                border-bottom: 2px solid $gradient-purple;
                font-weight: 600;
                color: #724EF4;
                &:hover,
                &:active {
                    transition: .2s;
                    border-bottom: 2px solid #724EF4;
                }
            }
        }
    }
}

.clear-fix::after {
    content: '';
    display: table;
    clear: both;
}

a {
    color: inherit;
    text-decoration: none;
}