@font-face {
  font-family: 'Typold-Black';
  src: url("../assets/fonts/Typold-Black.otf");
  src: url("../assets/fonts/Typold-Black.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Bold';
  src: url("../assets/fonts/Typold-Bold.otf");
  src: url("../assets/fonts/Typold-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Bold-Italic';
  src: url("../assets/fonts/Typold-Bold-Italic.otf");
  src: url("../assets/fonts/Typold-Bold-Italic.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Book';
  src: url("../assets/fonts/Typold-Book.otf");
  src: url("../assets/fonts/Typold-Book.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Regular';
  src: url("../assets/fonts/Typold-Regular.otf");
  src: url("../assets/fonts/Typold-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Condensed-Bold';
  src: url("../assets/fonts/Typold-Condensed-Bold.otf");
  src: url("../assets/fonts/Typold-Condensed-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Condensed-Regular';
  src: url("../assets/fonts/Typold-Condensed-Regular.otf");
  src: url("../assets/fonts/Typold-Condensed-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Condensed-Medium';
  src: url("../assets/fonts/Typold-Condensed-Medium.otf");
  src: url("../assets/fonts/Typold-Condensed-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Condensed-Book';
  src: url("../assets/fonts/Typold-Condensed-Book.otf");
  src: url("../assets/fonts/Typold-Condensed-Book.ttf") format("truetype");
}

@font-face {
  font-family: '';
  src: url("../assets/fonts/.otf");
  src: url("../assets/fonts/.ttf") format("truetype");
}

@font-face {
  font-family: '';
  src: url("../assets/fonts/.otf");
  src: url("../assets/fonts/.ttf") format("truetype");
}

@font-face {
  font-family: 'Typold-Thin';
  src: url("../assets/fonts/Typold Thin.otf");
}

@font-face {
  font-family: 'Typold-Medium';
  src: url("../assets/fonts/Typold Medium.otf");
}

@font-face {
  font-family: 'Typold-Light';
  src: url("../assets/fonts/Typold Light.otf");
}

.techRow{
  padding:24px 0px;
  display: grid;
  grid-template-columns: 50% 50%;
}
.techRow1{
  padding:0 32px;
  display: grid;
  grid-template-columns: 25%  25% 25% 25%;
  /* grid-column-gap: vw; */
}

.headPara{
  margin-bottom:0px;
  font-size: 1.5vw;
  font-weight: lighter;
  padding:12px 0px;
  font-family: 'Typold-Light';
  font-weight: 600;
  color:#777777;
}
.coreServicesBox{
  background-color: #ffffff;
}

.coreServicesBox .headSection .section-heading{
  margin:2vw 0vw;
  margin-left: 50%;
}

.headSection{
  background-image: linear-gradient(#b7eae2 ,#ffffff 70%);
  padding:1.2vw 0vw;
}

.developmentRow{
  padding-bottom: 2vw;
  display: grid;
  grid-template-columns: 25%  25% 25% 25% ;
  padding:0vw 2vw;
}

.developmentImg{
  width:4vw;
  height:4vw;
}
.serviceBox{
  padding:3.5vw 2.15vw;
}
.imgBox{
  padding:20px 0px;
}
.techBox{
  min-height: 4.5vw;
  font-size:.9vw;
  font-family: 'Typold-Thin';
  font-weight: 600;
  color:#777777;
}
.techHeading{
  font-size:1.4vw;
  min-height: 4vw;
  font-family: 'Typold-Medium';
  font-weight: 600;
  color:#444444;
}
.colBox{
  padding:0vw 3vw;
}
.amazingHeading{
  font-size: .9vw;
  color:#ffffff;
  font-family: 'Typold-Book';
  font-weight: 600;
}
.regularHeading{
  font-size:3vw;
  font-family: 'Typold-Bold';
  color:#ffffff;
  line-height:1.1;
  margin: 0;
}
.serviceDesc{
  font-size:1vw;
  font-family: 'Typold-Thin';
  font-weight: 600;
  color:#777777;
}
.technologies{
  background-image: linear-gradient(to right top,#34c4ad,#817fea 70%);
  padding:32px 48px;
}
.techIconBox{
  min-height: 3.5vw;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.techImg{
  width:3.5vw;
  height:3.5vw;
}
.wooImg{
  width:4.4vw;
  height:2.6vw;
}
.nodeImg{
  width:8vw;
  height:2.2vw;
}
.techName{
  color:#ffffff;
  font-size:.7vw;
  padding:8px 0px;
}

.techDesc{
  font-size: .9vw;
  color:#ffffff;
  line-height:1.4;
  padding:2.5vw 0vw;
  font-family: 'Typold-Thin';
  font-weight: 600;
}

.expandingLine{
  display: inline-block;
  text-decoration: none;
  font-family:'Typold-Medium';
  padding: 6px 0;
  color: #ffffff;
}

.expandingLine:after {
  display: block;
  content: '';
  margin-top: 8px;
  transform: scaleX(0.1);
  transition: transform 600ms ease-in-out;
  border-bottom: 3px solid #ffffff;
  transform-origin: 0% 0%;
}

.expandingLine:hover:after {
  transform: scaleX(1);
  transform-origin: 0% 0%;
}

@media screen and (max-width: 1240px) {
  .techRow{
    padding:1.2vw 1.8vw;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .techRow1{
    padding:0vw 0vw;
    display: grid;
    grid-template-columns: 25%  25% 25% 25%;
  }
  .headPara{
    margin-bottom:0px;
    font-size: 1.8vw;
    padding:12px 0px;
  }
  .coreServices{
    background-color: #ffffff;
  }
  .headSection{
    background-image: linear-gradient(#b7eae2 ,#ffffff 70%);
    padding:12px 0px;
  }
  .developmentRow{
    padding-bottom: 2vw;
    display: grid;
    grid-template-columns: 50%  50% ;
  }
  .developmentImg{
    width:6vw;
    height:6vw;
  }
  .serviceBox{
    padding:32px 32px;
  }
  .imgBox{
    padding:20px 0px;
  }
  .techBox{
    min-height: 4vw;
    font-size:1.3vw;
  }
  .techHeading{
    font-size:1.8vw;
    min-height: 3.5vw;
  }
  .serviceDesc{
    font-size:1.4vw;
  }
  .colBox{
    padding-left:3vw;
    padding-right: 0;
  }
  .amazingHeading{
    font-size: 1.3vw;
  }
  .regularHeading{
    font-size:3vw;
    line-height:1.2;
    margin: 0;
  }

  .techDesc{
    font-size: 1.2vw;
    line-height:1.4;
    padding:2.5vw 0vw;
  }
  
  .technologies{
    background-image: linear-gradient(to right top,#34c4ad,#817fea 70%);
    padding:32px 48px;
  }
  .techIconBox{
    min-height: 4.5vw;
  }
  .techName{
    font-size:.9vw;
    padding:8px 0px;
  }
  .techImg{
  width:4vw;
  height:4vw;
}
.wooImg{
  width:5.5vw;
  height:3.5vw;
}
.nodeImg{
  width:9vw;
  height:2.3vw;
}
 
  .expandingLine{
    display: inline-block;
    text-decoration: none;
    font-family:'Typold-Medium';
    padding: 6px 0;
    color: #ffffff;
  }
  
  .expandingLine:after {
    display: block;
    content: '';
    margin-top: 8px;
    transform: scaleX(0.1);
    transition: transform 600ms ease-in-out;
    border-bottom: 3px solid #ffffff;
    transform-origin: 0% 0%;
  }
  
  .expandingLine:hover:after {
    transform: scaleX(1);
    transform-origin: 0% 0%;
  }
}


@media screen and (max-width: 768px) {
  .techRow{
    padding:2.4vw 0vw;
    display: grid;
    grid-template-columns:  100%;
  }
  .techRow1{
    padding:0vw 0vw;
    display: grid;
    grid-template-columns: 25%  25% 25% 25%;
  }
  .headPara{
    font-size: 2.2vw;
    padding:12px 0px;
  }
  .headSection{
    padding:1.2vw 0vw;
  }
  .developmentRow{
    padding-bottom: 2vw;
    padding-left: 0;
    padding-right:0;
    display: grid;
    grid-template-columns: 50% 50% ;
  }
  .developmentImg{
    width:8vw;
    height:8vw;
  }
  .serviceBox{
    padding:1.6vw 3.2vw;
  }
  .imgBox{
    padding:20px 0px;
  }
  .techBox{
    min-height: 4.2vw;
    font-size:1.6vw;
  }
  .techHeading{
    font-size:2.4vw;
    min-height: 6vw;
    margin:0;
  }
  .serviceDesc{
    font-size:1.8vw;
  }
  .technologies{
    background-image: linear-gradient(to right top,#34c4ad,#817fea 70%);
    padding:3.2vw 4vw;
  }
  .techImg{
    width:6vw;
    height:6vw;
  }
  .wooImg{
    width:8vw;
    height:5vw;
  }
  .nodeImg{
    width:13vw;
    height:3vw;
  }
  .techIconBox{
    min-height: 8vw;
  }
  .techName{
    font-size:1.4vw;
    padding:.8vw 0vw;
  }
  .colBox{
    padding:5vw 5vw 0vw 5vw;
  }
  .amazingHeading{
    font-size: 1.8vw;
    margin-top: 0;
  }
  .regularHeading{
    font-size:6vw;
    line-height:1.1;
    margin: 0;
  }
  .techDesc{
    font-size: 1.8vw;
    line-height:1.4;
    padding:2.5vw 0vw;
  }
  
  span.expanding-link {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    padding: 6px 0;
    font-weight: 600;
    color: #ffffff;
  }
  
  span.expanding-link:after {
    display: block;
    content: '';
    margin-top: 4px;
    transform: scaleX(0.1);
    transition: transform 600ms ease-in-out;
    border-bottom: 3px solid #ffffff;
    transform-origin: 0% 0%;
  }
  
  span.expanding-link:hover:after {
    transform: scaleX(1);
    transform-origin: 0% 0%;
  }
}

@media screen and (max-width: 540px) {
  .techRow{
    padding:2.4vw 0vw;
    display: grid;
    grid-template-columns: auto ;
  }
  .techRow1{
    padding:0vw 0vw;
    display: grid;
    grid-template-columns: 33%  33% 33%;
  }

  .headPara{
    font-size: 1.6rem;
    padding:12px 6vw;
  }
  .headSection{
    padding:1.2vw 0vw;
  }
  .developmentRow{
    padding-bottom: 2vw;
    display: grid;
    grid-template-columns: auto  ;
  }
  .developmentImg{
    width:15vw;
    height:15vw;
  }
  .serviceBox{
    padding:1.6vw 6vw;
  }
  .imgBox{
    padding:20px 0px;
  }
  .techBox{
    min-height: 3.2vw;
    font-size:1rem;
  }
  .techHeading{
    font-size:1.5rem;
    min-height: 6vw;
    margin:0;
  }
  .serviceDesc{
    font-size:1.125rem;
  }
  .technologies{
    background-image: linear-gradient(to right top,#34c4ad,#817fea 70%);
    padding:3.2vw 4vw;
  }
  .techImg{
    width:10vw;
    height:10vw;
  }
  .wooImg{
    width:12vw;
    height:8vw;
  }
  .nodeImg{
    width:20vw;
    height:6vw;
  }
  .techIconBox{
    min-height: 13vw;

  }
  .techName{
    font-size:1rem;
    padding:2vw 0vw;
  }
  .colBox{
    padding:5vw 2vw 0vw 2vw;
  }
  .amazingHeading{
    font-size: 1.125rem;
    margin-top: 0;
  }
  .regularHeading{
    font-size:2.4rem;
    line-height:1.1;
    margin: 0;
  }
  .techDesc{
    font-size: 1.125rem;
    line-height:1.4;
    padding:2.5vw 0vw;
  }
  
  span.expanding-link {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    padding: 6px 0;
    font-weight: 600;
    color: #ffffff;
  }
  
  span.expanding-link:after {
    display: block;
    content: '';
    margin-top: 4px;
    transform: scaleX(0.1);
    transition: transform 600ms ease-in-out;
    border-bottom: 3px solid #ffffff;
    transform-origin: 0% 0%;
  }
  
  span.expanding-link:hover:after {
    transform: scaleX(1);
    transform-origin: 0% 0%;
  }
}