.servicesBanner {
    min-height: 28vw;
    background-image: linear-gradient(to right top, #01b599 25%, #724ef4 75%);
  }
  
  .servicesBannerHeading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.75vw;
    font-family: "Typold-Medium";
    color: #ffffff;
    text-align: center;
    line-height: 1.2;
    min-width: 68vw;
  }
  
  .servicesBannerHeading > span {
    font-size: 3.4vw;
    color:#444444;
    text-transform: uppercase;
    font-family: "Typold-Bold";
    font-weight: 600;
  }
  
  @media screen and (max-width: 1240px) {
    .servicesBanner {
      min-height: 25vw;
    }
  
    .servicesBannerHeading {
      min-width: 80vw;
      font-size: 2.4vw;
    }
  
    .servicesBannerHeading > span {
      font-size: 3vw;
    }
  }
  
  @media screen and (max-width: 768px) {
    .servicesBanner {
      min-height: 45vw;
    }
  
    .servicesBannerHeading {
      min-width: 80vw;
      font-size: 3.5vw;
    }
  
    .servicesBannerHeading > span {
      font-size: 5vw;
    }
  }
  
  @media screen and (max-width: 540px) {
    .servicesBanner {
      min-height: 55vw;
    }
  
    .servicesBannerHeading {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 4.5vw;
      text-align: center;
      line-height: 1.3;
      min-width: 91vw;
    }
  
    .servicesBannerHeading > span {
      font-size: 6vw;
    }
  }
  