@font-face {
  font-family: "Typold-Black";
  src: url("../assets/fonts/Typold-Black.otf");
  src: url("../assets/fonts/Typold-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Bold";
  src: url("../assets/fonts/Typold-Bold.otf");
  src: url("../assets/fonts/Typold-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Bold-Italic";
  src: url("../assets/fonts/Typold-Bold-Italic.otf");
  src: url("../assets/fonts/Typold-Bold-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Book";
  src: url("../assets/fonts/Typold-Book.otf");
  src: url("../assets/fonts/Typold-Book.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Regular";
  src: url("../assets/fonts/Typold-Regular.otf");
  src: url("../assets/fonts/Typold-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Condensed-Bold";
  src: url("../assets/fonts/Typold-Condensed-Bold.otf");
  src: url("../assets/fonts/Typold-Condensed-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Condensed-Regular";
  src: url("../assets/fonts/Typold-Condensed-Regular.otf");
  src: url("../assets/fonts/Typold-Condensed-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Condensed-Medium";
  src: url("../assets/fonts/Typold-Condensed-Medium.otf");
  src: url("../assets/fonts/Typold-Condensed-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Condensed-Book";
  src: url("../assets/fonts/Typold-Condensed-Book.otf");
  src: url("../assets/fonts/Typold-Condensed-Book.ttf") format("truetype");
}

@font-face {
  font-family: "";
  src: url("../assets/fonts/.otf");
  src: url("../assets/fonts/.ttf") format("truetype");
}

@font-face {
  font-family: "";
  src: url("../assets/fonts/.otf");
  src: url("../assets/fonts/.ttf") format("truetype");
}

@font-face {
  font-family: "Typold-Light";
  src: url("../assets/fonts/Typold Light.otf");
}

@font-face {
  font-family: "Typold-Thin";
  src: url("../assets/fonts/Typold Thin.otf");
}

.welcomeExcellence {
  background-image: linear-gradient(#b7eae2, #ffffff 70%);
  overflow-x: hidden;
  padding: 30px 0;
  color: #585858;
}

.sub-heading {
  line-height: 1.5;
  font-size: 1.3vw;
  font-family: "Typold-Light";
  font-weight: 600;
  margin: 0px;
  padding: 2vw 0vw;
  color:#444444;
}

.welcomeExcellence {
  padding: 0 0 15px;
  width: 768px;
  background: #f7f7f7;
}

.welcomeExcellence {
  padding-top: 15px;
}

.welcomeExcellence .bg-gradient {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-grow: 1;
}

.welcomeExcellence .bg-gradient > div {
  position: relative;
  float: left;
  width: 36%;
  background: #724ef4;
  padding: 7vw 2vw;
  color: #ffffff;
  transform: skew(-6.7deg);
  transition: all ease 0.4s;
}

.welcomeExcellence .bg-gradient > div::before {
  content: "";
  background-size: 100% 100% !important;
  background-position: center center !important;
  background-repeat: no-repeat;
  transition: all ease 0.4s;
  padding: 12px;
  position: absolute;
  left: -10%;
  width: 120%;
  top: 0;
  transform: skew(6.7deg);
  height: 100%;
}

.welcomeExcellence .bg-gradient > div:nth-child(1)::before {
  background: url("../assets/png/large/testimonial1.png"),
    url("../assets/png/large/left.png");
}

.welcomeExcellence .bg-gradient > div:nth-child(2)::before {
  background: url("../assets/png/large/testimonial2.png"),
    url("../assets/png/large/middle.png");
}

.welcomeExcellence .bg-gradient > div:nth-child(3) {
  margin-right: -2%;
}

.welcomeExcellence .bg-gradient > div:nth-child(3)::before {
  background: url("../assets/png/large/testimonial3.png"),
    url("../assets/png/large/right.png");
}

.welcomeExcellence .bg-gradient > div span {
  position: relative;
  color: #ffffff;
  font-size: 1.9vw;
  font-family: "Typold-Condensed-Bold";
  transform: skew(6.7deg);
  letter-spacing: 0%;
  z-index: 1;
}

.welcomeExcellence .bg-gradient > div p {
  font-family: "Typold-Bold";
  width: 80%;
  margin: 20px auto 0;
  transform: skew(6.7deg);
}

.welcomeExcellence .bg-gradient > div:hover {
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.2),
    0px -6px 12px 0px rgba(0, 0, 0, 0.2);
  transition: all ease 0.6s;
}

.welcomeExcellence .bg-gradient > div:hover::before {
  background-size: 110% 110% !important;
  transition: all ease 0.6s;
}

.welcomeExcellence .bg-gradient .skew {
  border-left: 10px solid white;
  border-right: 10px solid white;
  transform: skewX(-6.7deg);
  z-index: 4;
  overflow: hidden;
}

.welcomeExcellence .bg-gradient .skew div {
  transform: skewX(0deg);
}

.welcomeExcellence .testimonials .section-heading {
  /* animation-duration: 2s;
  animation-name: welcome; */
  color: #6b53ef;
}

/* @keyframes welcome {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
  }
} */

.welcomeExcellence .testimonials {
  background-color: #ffffff;
  padding-bottom: 10vw;
  padding-top: 1vw;
}

.welcomeExcellence .testimonials .welcomeHead {
  background-image: linear-gradient(#b7eae2, #ffffff 70%);
  padding-top: 2vw;
  padding-bottom: 1vw;
}

.welcomeExcellence .slider-parent .client-slider {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  overflow-x: hidden;
  height: 26vw;
  margin-left: -15px;
}

.welcomeExcellence .testimonials .slider-parent .client-slider > div {
  width: 36vw;
  height: 24vw;
  position: absolute;
  float: left;
  transform: skewX(-6.7deg) scale(0.6, 0.6);
  margin: 10px -11vw;
  opacity: 0.6;
  transition: all ease-in-out 1s;
  left: 0;
}

.welcomeExcellence .testimonials .slider-parent .client-slider > div.left {
  left: 17.5vw;
  z-index: 3;
  transition: all ease-in-out 1s;
}

.welcomeExcellence .testimonials .slider-parent .client-slider > div.center {
  opacity: 1;
  transition: 0.6s;
  z-index: 4;
  transform: skewX(-6.7deg) scale(0.9);
  left: 39vw;
  transition: all ease-in-out 1s;
  background-position: center -1vw !important;
}

.welcomeExcellence
  .testimonials
  .slider-parent
  .client-slider
  > div.center.active:after {
  content: "";
  position: absolute;
  left: -15%;
  right: -11%;
  top: -16%;
  bottom: -10%;
  transform: scale(0.8);
  border-left: 4px solid #00b698;
  border-right: 4px solid #6e51f1;
  border-radius: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-position: 0 0, 100% 100%;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 4px;
  -moz-background-size: 100% 4px;
  background-size: 100% 4px;
  background-image: -webkit-linear-gradient(left, #00b698 0%, #6e51f1 100%),
    -webkit-linear-gradient(left, #00b698 0%, #6e51f1 100%);
  background-image: -moz-linear-gradient(left, #00b698 0%, #6e51f1 100%),
    -moz-linear-gradient(left, #00b698 0%, #6e51f1 100%);
  background-image: -o-linear-gradient(left, #00b698 0%, #6e51f1 100%),
    -o-linear-gradient(left, #00b698 0%, #6e51f1 100%);
  background-image: linear-gradient(to right, #00b698 0%, #6e51f1 100%),
    linear-gradient(to right, #00b698 0%, #6e51f1 100%);
  z-index: 2;
}

.welcomeExcellence .testimonials .slider-parent .client-slider > div.right {
  left: 60.6vw;
  z-index: 3;
  transition: all ease-in-out 1s;
}

.welcomeExcellence
  .testimonials
  .slider-parent
  .client-slider
  > div:nth-child(1) {
  background: url("../assets/png/clients/client1.png") no-repeat;
  background-size: 112%;
}

.welcomeExcellence
  .testimonials
  .slider-parent
  .client-slider
  > div:nth-child(2) {
  background: url("../assets/png/clients/client2.png") no-repeat;
}

.welcomeExcellence
  .testimonials
  .slider-parent
  .client-slider
  > div:nth-child(3) {
  background: url("../assets/png/clients/client3.png") no-repeat;
  background-size: 112%;
}

.welcomeExcellence .testimonials .slider-parent .client-slider > div:after {
  transition: 1s;
}

@media screen and (max-width: 1240px) {
  .welcomeExcellence .testimonials {
    width: 100%;
  }

  .welcomeExcellence .testimonials .section-heading {
    font-size: 3vw;
    padding: 16px 1vw;
    min-width: 46vw;
  }

  .welcomeExcellence .sub-heading {
    font-size: 1.7vw;
    line-height: 1.5;
    margin: 0px;
    padding: 2vw 2vw;
  }
}

@media screen and (max-width: 768px) {
  .welcomeExcellence .testimonials .section-heading {
    font-size: 3.4vw;
    padding: 3vw 1vw;
    min-width: 54vw;
  }

  .welcomeExcellence .testimonials {
    width: 100%;
  }

  .welcomeExcellence .sub-heading {
    font-size: 1.8vw;
    line-height: 1.5;
    margin: 0px;
    padding: 2vw 2vw;
  }

  .welcomeExcellence .bg-gradient > div {
    width: 37%;
  }
  .welcomeExcellence .bg-gradient > div:nth-child(3) {
    margin-right: -5%;
    margin-left: -5%;
  }
  .welcomeExcellence .bg-gradient > div span {
    margin-right: -5%;
    font-size: 1.8vw;
  }
}

@media screen and (max-width: 540px) {
  .welcomeExcellence .testimonials .section-heading {
    font-size: 3.5vw;
    padding: 3vw 1vw;
    min-width: 55vw;
  }

  .welcomeExcellence .testimonials {
    width: 100%;
  }

  .welcomeExcellence .sub-heading {
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0px;
    padding: 2vw 6vw;
  }
  .welcomeExcellence .bg-gradient {
    display: block;
  }

  .welcomeExcellence .bg-gradient > div {
    min-width: 100%;
    width: 100%;
    float: none;
    margin: 10px;
    margin-right: 0px;
  }

  .welcomeExcellence .bg-gradient > div::before {
    transform: skewX(0deg);
  }

  .welcomeExcellence .bg-gradient > div span {
    margin-right: 0;
    font-size: 5vw;
  }

  .welcomeExcellence .bg-gradient .skew {
    transform: skewX(0deg);
    border: 0 solid transparent;
  }

  .welcomeExcellence .bg-gradient .skew div {
    transform: skewX(0deg);
  }

  .welcomeExcellence .slider-parent .client-slider {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    overflow-x: hidden;
    height: 30vw;
    left: 15px;
  }

  .welcomeExcellence .testimonials .slider-parent .client-slider > div.left {
    left: 21vw;
  }

  .welcomeExcellence .testimonials .slider-parent .client-slider > div.center {
    left: 43vw;
  }

  .welcomeExcellence .testimonials .slider-parent .client-slider > div.right {
    left: 64.6vw;
  }
}
