.whyExcellence {
  background-color: #ffffff;
}

.whyExcellenceOuterRow {
  padding: 0vw 1vw;
}

.whyExcellenceRow {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 2vw 0vw;
}

.whyExcellenceImg {
  width: 9vw;
  height: auto;
}

.whyExcellenceInnerRow {
  display: grid;
  grid-template-columns: 23% 56%;
  padding-bottom: 3vw;
}

.whyExcellenceInnerImgBox {
  padding-top: 0.7vw;
}

.whyExcellenceInnerRow:nth-child(even) {
  grid-template-columns: 29% 59%;
  padding-bottom: 3vw;
  padding-left: 4vw;
}

.whyExcellenceHeading {
  font-size: 1.6vw;
  font-family: "Typold Medium";
  font-weight: bold;
  color: #492f5c;
}

.knowMoreBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 6vw;
}

.knowMoreBtn {
  border: 0.5px solid #724ef4;
  border-radius: 8px;
  color: #724ef4;
  padding: 0.5vw 1vw;
  font-size: 1vw;
  font-family: "Typold Thin";
  font-weight:600;
}

@media screen and (max-width: 1240px) {
      .whyExcellenceOuterRow {
        padding: 0vw 1vw;
      }
      .whyExcellenceRow {
        grid-template-columns: 50% 50%;
        padding: 2vw 0vw;
      }
      .whyExcellenceInnerRow {
        display: grid;
        grid-template-columns: 23% 56%;
        padding-bottom: 3vw;
      }
      .whyExcellenceInnerImgBox {
        padding-top: 0.7vw;
      }
      .whyExcellenceInnerRow:nth-child(even) {
        grid-template-columns: 29% 59%;
        padding-bottom: 3vw;
        padding-left: 4vw;
      }
      .whyExcellenceHeading {
        font-size: 1.8vw;
      }
      .knowMoreBtn {
        border-radius: 8px;
        padding: 0.5vw 1vw;
        font-size: 1.2vw;
      }
}

@media screen and (max-width: 768px) {
  .whyExcellence {
    padding: 1vw 0vw !important;
  }
  .whyExcellenceOuterRow {
    padding: 0vw 1vw;
  }
  .whyExcellenceRow {
    grid-template-columns: 50% 50%;
    padding: 2vw 0vw;
  }
  .whyExcellenceInnerImgBox {
    padding-top: 1vw;
  }
  .whyExcellenceImg {
    width: 10vw;
    height: auto;
  }
  .whyExcellenceInnerRow {
    grid-template-columns: 30% 70%;
    padding-bottom: 5vw;
    padding-right: 4vw;
  }
  .whyExcellenceInnerImgBox:nth-child(odd) {
    text-align: left;
  }
  .whyExcellenceInnerRow:nth-child(even) {
    grid-template-columns: 30% 70%;
    padding-left: 0vw;
    padding-right: 3vw;
    padding-bottom: 5vw;
  }
  .whyExcellenceHeading {
    font-size: 2.6vw;
  }
  .knowMoreBtn {
    padding: 1vw 2vw;
    font-size: 1.8vw;
    border-radius: 9px;
  }
}

@media screen and (max-width: 540px) {
  .whyExcellenceOuterRow {
    padding: 6vw 6vw;
  }

  .whyExcellenceRow {
    grid-template-columns: 100%;
    padding: 10vw 0vw;
  }

  .whyExcellenceImg {
    width: 15vw;
    height: auto;
  }

  .whyExcellenceInnerRow {
    grid-template-columns: 100%;
    padding-bottom: 5vw;
    padding-right: 0vw;
  }

  .whyExcellenceInnerImgBox:nth-child(odd) {
    text-align: center;
    padding:2vw 0vw;
  }

  .whyExcellenceInnerRow:nth-child(even) {
    grid-template-columns: 100%;
    padding-left: 0vw;
    padding-bottom: 5vw;
    padding-right: 0vw;
  }

  .whyExcellenceHeading {
    font-size: 1.7rem;
  }

  .knowMoreBtn {
    padding: 1.25vw 2.75vw;
    font-size: 1.125rem;
    border-radius: 8px;
  }
}
