@import 'general.scss';
//  work banner
.work-banner {
    position: relative;
    min-height: 538px;
    background: linear-gradient(45deg, rgba(0, 182, 152, 0.5), rgba(114, 78, 244, 0.5)), url(../assets/banner-bg.png) center center no-repeat fixed;
    background-size: cover;
    .work-banner-heading {
        position: absolute;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        left: 45%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 50vw;
        line-height: 1.35em;
        font-weight: 900;
        letter-spacing: 4px;
        transition: .2s;
        .section-heading {
            color: #fff;
            &::before,
            &::after {
                border-color: #fff;
            }
        }
    }
}

// END: work banner
// START: work menu
.work-menu {
    .work-menu-container {
        min-height: 253px;
        background-color: #fff;
        display: flex;
        align-items: center;
        ul {
            list-style-type: none;
            display: flex;
            justify-content: space-around;
            width: 100%;
            li {
                display: inline-block;
                font-family: "Typold Extended";
                line-height: normal;
                font-size: 29px;
                color: #724EF4;
                &.active {
                    color: #00B698;
                    border-bottom: 4px solid #00B698;
                }
            }
        }
    }
}

// END: work menu
//  START: work projects
.categories {
    .slider-container {
        background: #fff;
        padding-bottom: 2em;
        .slides {
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-start; // transform: translateX(-2538px);
        }
        .slide {
            width: 100vw;
            text-align: center;
            flex: none;
            @media screen and (max-width: 768px) {
                width: 95vw;
                transition: .2s;
            }
            @media screen and (max-width: 540px) {
                width: 85vw;
                transition: .2s;
            }
        }
        .pagination {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                float: left;
                width: 12px;
                margin: 0em 4em;
                cursor: pointer;
                @media screen and (max-width: 768px) {
                    margin: 0em 2em;
                    transition: .2s;
                }
                @media screen and (max-width: 540px) {
                    margin: 0em 1em;
                    transition: .2s;
                }
            }
            .bullets {
                border: 2px solid $bullet-purple;
                padding: 5px;
                width: 5px;
                float: left;
                display: inline-block;
                position: relative;
                margin: 0 2.6em;
                cursor: pointer;
                transition: .5s;
                @media screen and (max-width: 768px) {
                    margin: 0 2em;
                    transition: .2s;
                }
                @media screen and (max-width: 540px) {
                    margin: 0 1em;
                    transition: .2s;
                }
                &::before {
                    content: '';
                    cursor: default;
                    border: 1px solid $bullet-purple;
                    position: absolute;
                    width: 40px;
                    left: -40px;
                    top: 4px;
                    @media screen and (max-width: 768px) {
                        width: 30px;
                        left: -30px;
                        transition: .2s;
                    }
                    @media screen and (max-width: 540px) {
                        width: 16px;
                        left: -16px;
                        transition: .2s;
                    }
                }
                &::after {
                    content: '';
                    cursor: default;
                    border: 1px solid $bullet-purple;
                    position: absolute;
                    width: 40px;
                    right: -40px;
                    top: 4px;
                    @media screen and (max-width: 768px) {
                        width: 30px;
                        right: -30px;
                        transition: .2s;
                    }
                    @media screen and (max-width: 540px) {
                        width: 16px;
                        right: -16px;
                        transition: .2s;
                    }
                }
                &.active {
                    background-color: $bullet-purple;
                    transition: .5s;
                }
            }
        }
    }
    .card {
        width: 455px;
        display: inline-block;
        margin: 1em;
        font-family: "Typold";
        line-height: normal;
        font-size: 27px;
        text-align: center;
        text-transform: uppercase;
        box-shadow: 10px 4px 30px rgba(0, 0, 0, 0.05);
        background: #FFFFFF;
        color: #00B698;
        .details {
            position: relative;
            margin-bottom: 1em;
            .icon {
                position: absolute;
                top: -74px;
                left: 50%;
                transform: translate(-50%);
                width: 106px;
                height: 106px;
                background: #FFFFFF;
                box-shadow: 5px 4px 20px rgba(0, 0, 0, 0.16);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .title {
                font-family: "Typold";
                line-height: normal;
                font-size: 27px;
                text-align: center;
                text-transform: uppercase;
                color: #00B698;
                padding-top: 2em;
            }
            .detail-text {
                font-family: "Typold";
                line-height: normal;
                font-size: 20px;
                color: #00B698;
                width: 70%;
                margin: auto;
                padding-bottom: 2em;
            }
            .see-more {
                font-family: "Typold Extended";
                line-height: normal;
                font-size: 18px;
                text-align: center;
                text-transform: uppercase;
                color: #724EF4;
                text-decoration: none;
                border-bottom: 2px solid #724EF4;
                padding-bottom: 2px;
            }
        }
    }
}

//  work projects