.work-banner {
  position: relative;
  min-height: 538px;
  background: linear-gradient(45deg, rgba(0, 182, 152, 0.5), rgba(114, 78, 244, 0.5)), url(../assets/banner-bg.png) center center no-repeat fixed;
  background-size: cover;
}

.work-banner .work-banner-heading {
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  left: 45%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  line-height: 1.35em;
  font-weight: 900;
  letter-spacing: 4px;
  transition: .2s;
}

.work-banner .work-banner-heading .section-heading {
  color: #fff;
}

.work-banner .work-banner-heading .section-heading::before, .work-banner .work-banner-heading .section-heading::after {
  border-color: #fff;
}

.work-menu .work-menu-container {
  min-height: 253px;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.work-menu .work-menu-container ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.work-menu .work-menu-container ul li {
  display: inline-block;
  font-family: "Typold Extended";
  line-height: normal;
  font-size: 29px;
  color: #724EF4;
}

.work-menu .work-menu-container ul li.active {
  color: #00B698;
  border-bottom: 4px solid #00B698;
}

.categories .slider-container {
  background: #fff;
  padding-bottom: 2em;
}

.categories .slider-container .slides {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.categories .slider-container .slide {
  width: 100vw;
  text-align: center;
  flex: none;
}

@media screen and (max-width: 768px) {
  .categories .slider-container .slide {
    width: 95vw;
    transition: .2s;
  }
}

@media screen and (max-width: 540px) {
  .categories .slider-container .slide {
    width: 85vw;
    transition: .2s;
  }
}

.categories .slider-container .pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.categories .slider-container .pagination img {
  float: left;
  width: 12px;
  margin: 0em 4em;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .categories .slider-container .pagination img {
    margin: 0em 2em;
    transition: .2s;
  }
}

@media screen and (max-width: 540px) {
  .categories .slider-container .pagination img {
    margin: 0em 1em;
    transition: .2s;
  }
}

.categories .slider-container .pagination .bullets {
  border: 2px solid #7a7af4;
  padding: 5px;
  width: 5px;
  float: left;
  display: inline-block;
  position: relative;
  margin: 0 2.6em;
  cursor: pointer;
  transition: .5s;
}

@media screen and (max-width: 768px) {
  .categories .slider-container .pagination .bullets {
    margin: 0 2em;
    transition: .2s;
  }
}

@media screen and (max-width: 540px) {
  .categories .slider-container .pagination .bullets {
    margin: 0 1em;
    transition: .2s;
  }
}

.categories .slider-container .pagination .bullets::before {
  content: '';
  cursor: default;
  border: 1px solid #7a7af4;
  position: absolute;
  width: 40px;
  left: -40px;
  top: 4px;
}

@media screen and (max-width: 768px) {
  .categories .slider-container .pagination .bullets::before {
    width: 30px;
    left: -30px;
    transition: .2s;
  }
}

@media screen and (max-width: 540px) {
  .categories .slider-container .pagination .bullets::before {
    width: 16px;
    left: -16px;
    transition: .2s;
  }
}

.categories .slider-container .pagination .bullets::after {
  content: '';
  cursor: default;
  border: 1px solid #7a7af4;
  position: absolute;
  width: 40px;
  right: -40px;
  top: 4px;
}

@media screen and (max-width: 768px) {
  .categories .slider-container .pagination .bullets::after {
    width: 30px;
    right: -30px;
    transition: .2s;
  }
}

@media screen and (max-width: 540px) {
  .categories .slider-container .pagination .bullets::after {
    width: 16px;
    right: -16px;
    transition: .2s;
  }
}

.categories .slider-container .pagination .bullets.active {
  background-color: #7a7af4;
  transition: .5s;
}

.categories .card {
  width: 455px;
  display: inline-block;
  margin: 1em;
  font-family: "Typold";
  line-height: normal;
  font-size: 27px;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 10px 4px 30px rgba(0, 0, 0, 0.05);
  background: #FFFFFF;
  color: #00B698;
}

.categories .card .details {
  position: relative;
  margin-bottom: 1em;
}

.categories .card .details .icon {
  position: absolute;
  top: -74px;
  left: 50%;
  transform: translate(-50%);
  width: 106px;
  height: 106px;
  background: #FFFFFF;
  box-shadow: 5px 4px 20px rgba(0, 0, 0, 0.16);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categories .card .details .title {
  font-family: "Typold";
  line-height: normal;
  font-size: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #00B698;
  padding-top: 2em;
}

.categories .card .details .detail-text {
  font-family: "Typold";
  line-height: normal;
  font-size: 20px;
  color: #00B698;
  width: 70%;
  margin: auto;
  padding-bottom: 2em;
}

.categories .card .details .see-more {
  font-family: "Typold Extended";
  line-height: normal;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #724EF4;
  text-decoration: none;
  border-bottom: 2px solid #724EF4;
  padding-bottom: 2px;
}
