<div>
    <div>
        <div class="aboutUsRow">
            <div>
                <p class="aboutUsHeading" data-aos="fade-left" data-aos-duration="500" data-aos-delay="500" >About Us</p>
                <div class="aboutUsBox">
                    <p class="aboutUsMainHeading" data-aos="fade-up" data-aos-duration="500" data-aos-delay="600" >We Believe Growth <br>
                        is a Team Sport</p>
                    <p class="aboutUsDesc" data-aos="fade-up" data-aos-duration="500" data-aos-delay="650" >We are India based IT Services company found in 2009, with the vision to
                        provide Excellence in Software Solution.We at Excellence Technologies bring innovative ideas and
                        cutting edge technologies into business of customers. </p>
                    <p class="aboutUsDesc" data-aos="fade-up" data-aos-duration="500" data-aos-delay="650" >Excellence Technologies specialized in providing high technology, end-to-end
                        solutions in Web Application,Mobile Application, eCommerce Development and Back-End Development.
                    </p>
                    <p class="aboutUsDesc" data-aos="fade-up" data-aos-duration="500" data-aos-delay="650" >We aren't just helping companies globally grow, we are helping more than one
                        thousand employees grow personally and professionally.</p>
                </div>
            </div>
            <div class="officeImgBox">
                <img class="officeImg" src="./assets/aboutUs/Layer 1.png">
            </div>
        </div>
        <div class="directorRow">
            <div class="directorDescRow">
                <div data-aos="flip-left" data-aos-duration="1000" data-aos-delay="500" >
                    <img class="directorImg" src="./assets/aboutUs/Layer 4.png">
                </div>
                <div class="directorDescColumn">
                    <p class="aboutUsHeading" data-aos="fade-left" data-aos-duration="500" data-aos-delay="500" >Director</p>
                    <div class="directorDescBox">
                        <p class="aboutUsMainHeading" data-aos="fade-up" data-aos-duration="500" data-aos-delay="600" >Manish Prakash</p>
                        <p class="aboutUsDesc" data-aos="fade-up" data-aos-duration="500" data-aos-delay="600" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                            sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                            laborum.
                        </p>
                    </div>
                </div>
            </div>
            <div class="yellowBox">
                <img class="topQuote" src="./assets/aboutUs/Layer 5.png">
            </div>
            <div class="greyColumn">
                <div class="greyBox">
                    <img class="btmQuote" src="./assets/aboutUs/Layer 6.png">
                </div>
            </div>
        </div>
    </div>
</div>