<div class="aboutUsBanner" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500" >
    <p class="aboutUsBannerHeading">IT Services company <br>
        with vision to provide Excellence in <br>
        <span>Software Solutions</span></p>
    </div>
</div>