<div class='banner-content'>
    <video autoplay muted loop id="myVideo">
        <source src="./assets/video/Excellencelanding2.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    <img class='logo' data-aos="fade-up" data-aos-duration="500" data-aos-delay="200"  src="assets/svg/excellence-logo-white.svg" />
    
    <h1 class='banner-text' data-aos="fade-up" data-aos-duration="500" data-aos-delay="500" align="center">
        Providing Modernistic software Solutions For Your Business needs
    </h1>
    <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="700">
        <h2  class="section-heading">
            <span> Work With Us </span>
        </h2>
    </div>
</div>