<div class="firstRow">
    <img class="carrer2Logo" src="./assets/png/Group 1.png">
    <p class="jobDescHeading">Senior Software Engineer</p>
    <p class="jobDesc">
        <span class="clk"><i class="fa fa-clock-o "></i></span>
        <span>3-4 years</span>
    </p>
    <p class="jobDesc">
        <span class="location"> <i class="fa fa-map-marker"></i></span>
       <span>Noida</span></p>
</div>
<div class="secondRow">
    <p class="backheading">BACK TO CURRENT OPENINGS</p>
    <p class="carrer2Heading">Job Description</p>
    <ul class="carrer2List">
        <li>This opening only for 0 to 6 months experience.</li>
        <li>Web Developer - Experience in PHP, MySQL, CSS, HTML and Jquery required.</li>
        <li>Knowledge in Magento, Laravel or Shopify</li>
        <li>Looking for self motivated individual with zeal to learn and grow with the company.</li>
    </ul>
    <p class="carrer2Heading">Required Candidate Profile</p>
    <ul class="carrer2List">
        <li>Knowledge of PHP, MySQL.</li>
        <li>Knowledge of CSS/Jquery</li>
        <li>Knowledge of database designing.</li>
        <li>Good Programming Logic.</li>
        <li>Basic/Advanced knowledge of JavaScript, Magento, Laravel, Shopify, Jquery.</li>
        <li>Self Learner and Self Motivated Person.</li>
        <li>Freshers can also apply</li>
    </ul>
    <div class="requiredCandidateRow">
        <div class="career2Desc">
            <ul>
                <li>Role:</li>
                <li>Software Developer</li>
                <li>Industry Type:</li>
                <li>IT-Software / Software Services</li>
                <li>Functional Area:</li>
                <li> IT Software - Application Programming, Maintenance</li>
                <li>Employment Type:</li>
                <li>Full Time, Permanent</li>
                <li>Role Category:</li>
                <li>Programming & Design</li>
            </ul>
        </div>
    </div>
    <p class="carrer2Heading">Key Skills</p>
    <div class="career2SkillBox"><span class="career2Skill">css</span><span class="career2Skill">web
            technologies</span><span class="career2Skill">php</span><span class="career2Skill">html</span><span
            class="career2Skill">mysql</span><span class="career2Skill">web development</span> <span
            class="career2Skill">Shopify</span><span class="career2Skill">Laravel</span><span
            class="career2Skill">jquery</span><span class="career2Skill">magento</span>
    </div>
    <p class="carrer2Heading">About Excellence</p>
    <p class="career2Desc">We are India based IT Services company found in August 2009, with the vision to provide
        Excellence in Software Solutions. We work with US clients on web development projects. Our current team strength
        is 45+ and we are operating from Sector 8 Noida.</p>
    <p class="carrer2Heading">SEND QUERY</p>
    <div class="career2formRow">
        <div class="form-group">
            <input type="text" class="form-control carrer2input" placeholder="Email">
        </div>
        <div class="form-group">
            <textarea class="form-control carrer2textarea" placeholder="Query" cols="20" rows="5"></textarea>
        </div>
    </div>
    <p class="carrer2Heading">ATTACH resume</p>
    <div class="attachBtnBox">
        <input class="attachInput" type="file">
    </div>
    <button type="submit" class="submitBtn">APPLY</button>
</div>