<div>
    <h5 class="pre-heading" data-aos="fade-left" data-aos-duration="500" data-aos-delay="500">Current Openings</h5>
    <h1 class='opening-title' data-aos="fade-up" data-aos-duration="500" data-aos-delay="600">We’re always looking for people with self motivation</h1>
</div>
<div class="row opening-grid" data-aos="fade-up" data-aos-duration="500" data-aos-delay="700">
    <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6">
        <div class="job-container">
            <h2 class="job-heading">Digital Marketing Executive</h2>
            <div class="job-description">
                <span>Hands-on experience with SEO/SEM/SMM Build brand image activities through digital channels Plan and execute optimization of our online marketing efforts. Analyse and monitor marketing responses. Initiate optimized online adverts through Google adword</span>
            </div>
            <div class="job-links-container">
                <div class="job-links">
                    <div class="pull-left know-more">
                        <a href="./career2.html"><span>Know More</span></a>
                    </div>
                    <div class="pull-right apply">
                        <a href="#"><span>Apply Now</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6">
        <div class="job-container">
            <h2 class="job-heading">Front End Developer JavaScript</h2>
            <div class="job-description">
                <span>This opening only for 0 to 6 months experience.
                    Working on Hybrid Mobile App Using Technologies like ReactJS, Angular/VueJS/MEAN stack
                    Expertise in HTML/HTML5, CSS3, JavaScript, jQuery
                    Work with Agile Tools with US Clients/Projects</span>
            </div>
            <div class="job-links-container">
                <div class="job-links">
                    <div class="pull-left know-more">
                        <a href="#"><span>Know More</span></a>
                    </div>
                    <div class="pull-right apply">
                        <a href="#"><span>Apply Now</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6">
        <div class="job-container">
            <h2 class="job-heading">NodeJS Fresher</h2>
            <div class="job-description">
                <span>This opening only for 0 to 6 months experience.
                    Working Nodejs, Mysql, Mongodb
                    Work with Agile Tools with US Clients/Projects</span>
            </div>
            <div class="job-links-container">
                <div class="job-links">
                    <div class="pull-left know-more">
                        <a href="#"><span>Know More</span></a>
                    </div>
                    <div class="pull-right apply">
                        <a href="#"><span>Apply Now</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6">
        <div class="job-container">
            <h2 class="job-heading">Junior Web Developer</h2>
            <div class="job-description">
                <span>This opening only for 0 to 6 months experience.
                    Web Developer - Experience in PHP, MySQL, CSS, HTML and Jquery required.
                    Work on frontend technologies like PHP, Javascript, Frontend, Backend
                    Looking for self motivated individual with zeal to learn an
                    </span>
            </div>
            <div class="job-links-container">
                <div class="job-links">
                    <div class="pull-left know-more">
                        <a href="#"><span>Know More</span></a>
                    </div>
                    <div class="pull-right apply">
                        <a href="#"><span>Apply Now</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>