<div data-aos="fade-up" data-aos-duration="500" data-aos-delay="400" >
    <h3 class='banner-text'>
        Do great work alongside other talented, passionate, and creatives.
    </h3>
    <h1 class='banner-title'>JOIN THE TEAM</h1>
</div>