<div class="section">
    <p class="expanding-line" data-aos="fade-right" data-aos-delay="0" data-aos-duration="500">WE'VE WORKED WITH</p>
    <div class="text-center">
        <p class="greyHeading" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200" >As an interdisciplinary company, we’ve worked with:</p>
        <p class="blackHeading" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300"><span class="greenHeading">MEDIUM SIZE COMPANIES</span><br>
            by allowing growth & reaching their goals</p>
        <p class="greyHeading" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">By creating Solutions that are customized
            to reach their goals.</p>
    </div>
</div>