<div class="contact-details-container">
    <h4 class="sub-heading" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
        We are located in India, Noida but 100% of our business is internationally focused.<br />We have clients from all over the world.
    </h4>
    <div class="row">
        <div class="col-xs-12 col-4 col-md-4 col-sm-4 col-lg-4 contact-content-main contact-address-conntainer" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
            <div class="icon-container">
                <div class="icon img">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
            </div>
            <div class="detail-box contact-address">
                <h5>OFFICE</h5>
                <p>C 86 B, Sector 8</p>
                <p>Noida</p>
                <p>UP 201301</p>
            </div>
        </div>
        <div class="col-xs-12 col-4 col-md-4 col-sm-4 col-lg-4 contact-content-main contact-details-conntainer" data-aos="fade-up" data-aos-duration="500" data-aos-delay="600">
            <div class="icon-container">
                <div class="icon img">
                    <i class="fa fa-at-bold" aria-hidden="true"></i>
                </div>
            </div>
            <div class="detail-box contact-address">
                <h5>GET IN TOUCH</h5>
                <p><a href="mail:contact@excellencetechnologies.in">contact@excellencetechnologies.in</a></p>
                <p><strong>INDIA</strong>  <a href="tel:101204113772">+1 0120-4113772</a></p>
            </div>
        </div>
        <div class="col-xs-12 col-4 col-md-4 col-sm-4 col-lg-4 contact-content-main contact-skype-conntainer" data-aos="fade-up" data-aos-duration="500" data-aos-delay="700">
            <div class="icon-container">
                <div class="icon img">
                    <i class="fa fa-skype" aria-hidden="true"></i>
                </div>
            </div>
            <div class="detail-box contact-address">
                <h5>SKYPE</h5>
                <p><a href="skype:sales@excellencetechnologies">sales@excellencetechnologies</a></p>
            </div>
        </div>
    </div>
</div>