<div class="container forms-container first-load" data-aos="fade-up" data-aos-duration="500" data-aos-delay="600">
    <ul class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" href="#form1">
                <div class="count"><span>01.</span></div>
                <h3 class="step-name">New Project</h3>
            </a>
        </li>
        <li>
            <a data-toggle="tab" href="#form2">
                <div class="count"><span>02.</span></div>
                <h3 class="step-name">Joining Our Team</h3>
            </a>
        </li>
        <li>
            <a data-toggle="tab" href="#form3">
                <div class="count"><span>03.</span></div>
                <h3 class="step-name">General Inquiries</h3>
            </a>
        </li>
        <li class="nav-zoomout">
            <div class="panel-position" id="panel-position"></div>
        </li>
    </ul>
  
    <div class="tab-content">
        <div id="form1" class="tab-pane fade in active form1">
            <div class="row">
                <h4 class="sub-heading">
                    Have a project in mind that you think we'd be a great fit for?<br/> We'd love to know what you're thinking.
                </h4>
                <form action="">
                    <div class="col-xxs-12 col-xs-12 col-sm-4 col-md-4 col-lg-4 inputBox">
                        <div class="form-group required">
                            <input type="text" class="form-control input" name="name" placeholder="* Your Name" required />
                        </div>
                        <div class="form-group required">
                            <input type="email" class="form-control input" name="email" placeholder="* Email" required />
                        </div>
                        <div class="form-group required">
                            <input type="text" class="form-control input" name="company-name" placeholder="* Company Name" required />
                        </div>
                    </div>
                    <div class="col-xxs-12 col-xs-12 col-sm-8 col-md-8 col-lg-8 textAreaBox">
                        <div class="form-group">
                            <textarea class="form-control textarea" name="messsage" placeholder="Message (Optional)"></textarea>
                        </div>
                    </div>
                    <div class="col-xxs-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 submit-button-container">
                        <button type="submit" class="submitBtn"><span>SUBMIT</span></button>
                    </div>
                </form>
            </div>
        </div>
        <div id="form2" class="tab-pane fade">
            <div class="row">
                <h4 class="sub-heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4>
                <div class="col-xxs-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 submit-button-container">
                    <a href="#" class="submitBtn"><span>KNOW MORE</span></a>
                </div>
            </div>
        </div>
        <div id="form3" class="tab-pane fade">
            <div class="row">
                <h4 class="sub-heading">
                    Have a question or comment in mind?<br/> We'd love to know what you're thinking.
                </h4>
                <form action="">
                    <div class="col-xxs-12 col-xs-12 col-sm-4 col-md-4 col-lg-4 inputBox">
                        <div class="form-group required">
                            <input type="text" class="form-control input" name="name" placeholder="* Your Name" required />
                        </div>
                        <div class="form-group required">
                            <input type="email" class="form-control input" name="email" placeholder="* Email" required />
                        </div>
                        <div class="form-group required">
                            <input type="tel" class="form-control input" name="phone" placeholder="* Phone Number" required />
                        </div>
                    </div>
                    <div class="col-xxs-12 col-xs-12 col-sm-8 col-md-8 col-lg-8 textAreaBox">
                        <div class="form-group">
                            <textarea class="form-control textarea" name="messsage" placeholder="Message (Optional)"></textarea>
                        </div>
                    </div>
                    <div class="col-xxs-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 submit-button-container">
                        <button type="submit" class="submitBtn"><span>SUBMIT</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>