<div class="contactHeadingSectionBox">
    <h2 class="section-heading" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">LET'S CONNECT</h2>
    <h4 class="sub-heading"  data-aos="fade-up" data-aos-duration="500" data-aos-delay="600">
        Reach out to us anywhere and we’ll get back to you. <br/> Let’s talk about:
    </h4>
    <div class="">
        <div class=" slider-parent">
            <div class="client-slider">
                <div class='1 left'></div>
                <div class='2 center'></div>
                <div class='3 right'></div>
                <div class='center active'></div>
            </div>
            <div class="bullets">
                <i class='1'></i>
                <i class='2 active'></i>
                <i class='3'></i>
            </div>
        </div>
    </div>
</div>