
    <p class="servicesHeading" data-aos="fade-left" data-aos-duration="500" data-aos-delay="500">core services</p>
    <div class="servicesRow">
            <div class="servicesBox text-center" data-aos="fade-up" data-aos-duration="500" data-aos-delay="600">
                <div class="servicesInnerBox active">
                <div class="coreServiceImgBox"><img class="coreServiceImg" src="./assets/png/roundedRect/Group 4.png"></div>
                <p class="number">01.</p>
                <p class="servicesCoreHeading">Web Application Development</p>
                </div>  
            </div>
            <div class="servicesBox text-center" data-aos="fade-up" data-aos-duration="500" data-aos-delay="700">
                <div class="servicesInnerBox">
                <div class="coreServiceImgBox"><img class="coreServiceImg" src="./assets/png/roundedRect/Group 5.png"></div>
                <p class="number">02.</p>
                <p class="servicesCoreHeading">Mobile Application Development</p>
                </div>  
            </div>
            <div class="servicesBox text-center" data-aos="fade-up" data-aos-duration="500" data-aos-delay="800">
                <div class="servicesInnerBox">
                <div class="coreServiceImgBox"><img class="coreServiceImg" src="./assets/png/roundedRect/Group 6.png"></div>
                <p class="number">03.</p>
                <p class="servicesCoreHeading">eCommerce <br>Development</p>
                </div>  
            </div>
            <div class="servicesBox text-center" data-aos="fade-up" data-aos-duration="500" data-aos-delay="900">
                <div class="servicesInnerBox">
                <div class="coreServiceImgBox"><img class="coreServiceImg" src="./assets/png/roundedRect/Group 3.png"></div>
                <p class="number">04.</p>
                <p class="servicesCoreHeading">Back-End <br> Development</p>
                </div>  
</div>