<div class="footerRow">
    <div>
        <div class="headingBox">
            <p class="footerHeading expanding-link">ALWAYS STAY IN THE LOOP</p>
        </div>
        <div class="socialBox">
            <div>
                <img class="socialImage" src="./assets/social/twitter-sign (1).png">
            </div>
            <div class="socialImgBox">
                <img class="socialImage" src="./assets/social/facebook-logo.png">
            </div>
            <div>
                <img class="socialImage" src="./assets/social/linkedin-logo (1).png">
            </div>
            <div class="socialImgBox">
                <img class="socialImage" src="./assets/social/instagram copy.png">
            </div>
        </div>
        <p class="copyright">© 2018 - Excellence Technologies Pvt. Ltd.<br> All right reserved</p>
    </div>
    <div class="footerListRow ">
        <div class="footerListBox">
            <div class="headingBox">
                <p class="footerHeading expanding-link">QUICK LINKS</p>
            </div>
            <ul class="footerList">
                <li>Home</li>
                <li>Domains</li>
                <li>Core Services</li>
                <li>Technologies</li>
                <li>Testinomials</li>
                <li>Contact Us</li>
            </ul>
        </div>
        <div class="footerListBox">
            <div class="headingBox">
                <p class="footerHeading expanding-link">SERVICES</p>
            </div>
            <ul class="footerList">
                <li>Mobile App Devlopment</li>
                <li>eCommerce Solutions</li>
                <li>Web Application Development</li>
                <li>Back-End Development</li>
            </ul>
        </div>
        <div class="footerListBox">
            <div class="headingBox">
                <p class="footerHeading expanding-link">TECHNOLOGIES</p>
            </div>
            <div class="technologiesListRow">
                <div>
                    <ul class="footerList">
                        <li>iOS/ Android Development</li>
                        <li>Magento</li>
                        <li>Shopify</li>
                        <li>WooCommerce</li>
                        <li>PrestaShop</li>
                        <li>Single Page Applications</li>
                        <li>ReactJS</li>
                        <li>VueJS</li>
                        <li>AngularJS</li>
                        <li>Native App with Ionic</li>
                    </ul>
                </div>
                <div class="technologiesSecondList">
                    <ul class="footerList">
                        <li>React Native</li>
                        <li>Wordpress</li>
                        <li>Laravel</li>
                        <li>Custom CMS</li>
                        <li>Custom eCommerce</li>
                        <li>API Development</li>
                        <li>Anything PHP Based</li>
                        <li>NodeJS</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>