<div class="row clients-list">
    <h4 class="sub-heading">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a gallery fog perie volle bellie vold
        bogg does
    </h4>
    <div class="col-xs-12 clients-view">
        <div class="row bg-gradient">
            <div class="">
                <span class='h4'>CLIENT</span>
                <p>elacus auctor, sit elit gravida aliqua sed nec ligula, neque elit curabitur nunc per
                    fusce vitae, erat libero sollicitudin nec. </p>
            </div>
            <div class="skew">
                <div>
                    <span class='h4'>JOB</span>
                    <p>elacus auctor, sit elit gravida aliqua sed nec ligula, neque elit curabitur nunc per
                        fusce vitae, erat libero sollicitudin nec. </p>
                </div>
            </div>
            <div class="">
                <span class='h4'>ROLE</span>
                <p>elacus auctor, sit elit gravida aliqua sed nec ligula, neque elit curabitur nunc per
                    fusce vitae, erat libero sollicitudin nec. </p>
            </div>
        </div>
    </div>
</div>

<div class="row projects">
    <div class="col-xs-12">
        <div class="slider-container">
            <div class="slides">
                <div class="slide" id="slide1">
                    <img src="assets/portfolio/project1.png" alt="">
                    <p class="slider-test">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a gallery fog
                        perie
                        volle bellie vold bogg does
                    </p>
                </div>
                <div class="slide" id="slide2">
                    <img src="assets/portfolio/project2.png" alt="">
                    <p class="slider-test">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a gallery fog
                        perie
                        volle bellie vold bogg does
                    </p>
                </div>
                <div class="slide" id="slide3">
                    <img src="assets/portfolio/project3.png" alt="">
                    <p class="slider-test">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a gallery fog
                        perie
                        volle bellie vold bogg does
                    </p>
                </div>
                <div class="slide" id="slide4">
                    <img src="assets/portfolio/project4.png" alt="">
                    <p class="slider-test">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a gallery fog
                        perie
                        volle bellie vold bogg does
                    </p>
                </div>
                <div class="slide" id="slide5">
                    <img src="assets/portfolio/project5.png" alt="">
                    <p class="slider-test">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a gallery fog
                        perie
                        volle bellie vold bogg does
                    </p>
                </div>
            </div>
            <div class="pagination">
                <img src="assets/left-arrow.svg" alt="">
                <div data-target="#slide1" class="bullets active"></div>
                <div data-target="#slide2" class="bullets"></div>
                <div data-target="#slide3" class="bullets"></div>
                <div data-target="#slide4" class="bullets"></div>
                <div data-target="#slide5" class="bullets"></div>
                <img src="assets/right-arrow.svg" alt="">
            </div>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="row project-pagination">
            <div class="col-md-4">
                <div class="text left-arrow">
                    PERVIOUS PROJECT
                </div>
            </div>
            <div class="col-md-4">
                <div class="text">
                    SEE ALL PROJECTS
                </div>
            </div>
            <div class="col-md-4">
                <div class="text right-arrow">
                    NEXT PROJECT
                </div>
            </div>
        </div>
    </div>
</div>