<div>
    <p class="joinHeading" data-aos="fade-left" data-aos-duration="500" data-aos-delay="500" >Join The Team</p>
    <h2 class="motivationHeading" data-aos="fade-up" data-aos-duration="500" data-aos-delay="600" >
        We’re always looking for people</br>
        with self motivation
    </h2>
</div>
<div class="teamRow">
    <div class="teamCard" data-aos="fade-up" data-aos-duration="500" data-aos-delay="550">
        <h3 class="teamHeading">Digital Marketing Executive</h3>
        <p class="teamDesc">Hands-on experience with SEO/SEM/SMM Build brand image activities through digital channels
            Plan and execute optimization of our online marketing efforts. Analyse and monitor marketing responses.
            Initiate optimized online adverts through Google adword</p>
        <div class="buttonRow">
            <div class="knowButton">Know more</div>
            <div class="knowButton">Apply Now</div>
        </div>
    </div>
    <div class="teamCard" data-aos="fade-up" data-aos-duration="500" data-aos-delay="550" >
        <h3 class="teamHeading">Front End Developer JavaScript</h3>
        <p class="teamDesc">This opening only for 0 to 6 months experience. Working on Hybrid Mobile App Using
            Technologies like ReactJS, Angular/VueJS/MEAN stack Expertise in HTML/HTML5, CSS3, JavaScript, jQuery Work
            with Agile Tools with US Clients/Projects</p>
        <div class="buttonRow">
            <div class="knowButton">Know more</div>
            <div class="knowButton">Apply Now</div>
        </div>
    </div>
    <div class="teamCard" data-aos="fade-up" data-aos-duration="500" data-aos-delay="600" >
        <h3 class="teamHeading">NodeJS Fresher</h3>
        <p class="teamDesc">This opening only for 0 to 6 months experience. Working Nodejs, Mysql, Mongodb Work with
            Agile Tools with US Clients/Projects</p>
        <div class="buttonRow">
            <div class="knowButton">Know more</div>
            <div class="knowButton">Apply Now</div>
        </div>
    </div>
    <div class="teamCard" data-aos="fade-up" data-aos-duration="500" data-aos-delay="600" >
        <h3 class="teamHeading">Junior Web Developer</h3>
        <p class="teamDesc">This opening only for 0 to 6 months experience. Web Developer - Experience in PHP, MySQL,
            CSS, HTML and Jquery required. Work on frontend technologies like PHP, Javascript, Frontend, Backend Looking
            for self motivated individual with zeal to learn an
        </p>
        <div class="buttonRow">
            <div class="knowButton">Know more</div>
            <div class="knowButton">Apply Now</div>
        </div>
    </div>
</div>