<div class="letsConnectRow" >
    <div class="formColumm" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
        <p class="provideInfoHeading">Please, provide us with as much detailed information as possible</p>
        <form>
            <div class="formRow">
                <div class=" inputBox">
                    <div class="form-group">
                        <input type="text" class="form-control input" placeholder="Your Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control  input" placeholder="Contact Number">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input" placeholder="Email Address">
                    </div>
                </div>
                <div class="textAreaBox">
                    <div class="form-group">
                        <textarea class="form-control textarea" placeholder="Message"
                            cols="20" rows="6"></textarea>
                    </div>
                </div>
            </div>
            <button type="submit" class="submitBtn">SUBMIT</button>
        </form>
    </div>
    <div class="contactColumm" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
        <p class="matchHeading">THINK WE’D BE A MATCH?</p>
        <p class="heading">LET’S CONNECT</p>
        <p class="subheading">Email</p>
        <p class="para">contact@excellencetechnologies.in</p>
        <p class="subheading">Address</p>
        <p class="para">C86 B,Sector 8,Noida (Uttar Pradesh)</p>
        <p class="subheading">Phone</p>
        <p class="para">0120- 4278603</p>
    </div>
</div>