<div class="menu">
    <div class="sidebar">
        <a href='javascript:void(0);' onclick="return false;">
            <div id="nav-icon3" class='menu-button'>
                <span></span> <span></span> <span></span> <span></span>
            </div>
        </a>
        <a href="./index.html#excellence"><img src="./assets/ex.png" alt="excellence-logo"
                class='excellence-logo' /></a>
        <img src="./assets/svg/excellence-logo-green.svg" alt="excellence-logo" class='mobile-excellence-logo' />
        <img src="./assets/svg/chaticon.svg" alt="chat" class='chat' />
    </div>
    <div class='menu-items'>
        <ul>
            <li><a href="./"><span>Home</span></a></li>
            <li><a href="./aboutUs.html"><span>About Us</span></a></li>
            <li><a href="./services.html"><span>Services</span></a></li>
            <li><a href="./work.html"><span>Work</span></a></li>
            <li><a href="./careers.html"><span>Careers</span></a></li>
            <li><a href="https://excellencetechnologies.in/blog/" target="_blank"><span>Blog</span></a></li>
            <li><a href="./contact-us.html"><span>Contact Us</span></a></li>
            <li><a href="./newsletter.html"><span>Newsletter</span></a></li>
        </ul>
    </div>
    <div class="social">
        <img src="./assets/svg/linkedin.svg" alt="linkedin" class="linkedin" />
        <img src="./assets/svg/fb.svg" alt="fb" class="fb" />
        <img src="./assets/svg/insta.svg" alt="insta" class="insta" />
        <img src="./assets/svg/whatsapp.svg" alt="whatsapp" class="whatsapp" />
    </div>
</div>