<div class="header">
    <img src="./assets/newsletter/logo-multiColor.png" class="logo">
    <div class="solutions_head">
        <span>Providing Modernistic Software Solutions for your Business Needs</span>
    </div>
    <div class="container-fluid">
        <div class="row row_margin">
            <div class="col-sm-3">
                <div class="panel panel-width">
                    <div class="panel-padding text-center">
                        <img src="./assets/newsletter/Layer 12.png" class="img-responsive img1">
                        <p class="grid-heading">Web Application Development</p>
                        <div class="grid-text">
                            Our team members are highly skilled and are equipped for building up any sort of web application that are adaptable and effortlessly oversaw so they can give you the control expected to develop your business
                        </div>
                    </div>
                </div>
                <div class="panel panel-width">
                    <div class="panel-padding text-center">
                        <img src="./assets/newsletter/icon.png" class="img-responsive img1">
                        <p class="grid-heading">eCommerce Development</p>
                        <div class="grid-text">
                            Our eCommerce developers provide compplete online store solutions to customers. Choose our eCommerce development services, and get full market place features and mobile commerce solutions.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-width margin">
                    <div class="panel-padding text-center">
                        <img src="./assets/newsletter/icon copy.png" class="img-responsive img_mobile">
                        <p class="grid-heading">Mobile Application Development</p>
                        <div class="grid-text">
                            Our Mobile App Development Services that change the definition of innovation because we implement feature-rich, authentic and conversion-optimized. At the point when done right, client experience communication and application utility consolidate to fuel your business domain.
                        </div>
                    </div>
                </div>
                <div class="panel panel-width">
                        <div class="panel-padding text-center">
                            <img src="./assets/newsletter/Layer 13.png" class="img-responsive img1">
                            <p class="grid-heading">Back-end Development</p>
                            <div class="grid-text">
                                We develop ultra modern, proficient and smooth functioning applicatios for Android platforms with ease and expertise of our highly skill team. 
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="third-column-first-heading"> WHY</div>
                <div class="third-column-second-heading">WHY EXCELLENCE!</div>
                <div class="third-column grid-text">
                    <p>Founded in 2009, we have extensive experience in software development. Excellence is not too big, not too small, quiet sensible and completely independent. We have worked on top-notch projects for companies from start-ups to large enterprises.</p>
                    <p>We approach every single project with special attention,care and flexibility to grow their business according to the latest market trends.</p>
                </div>
            </div>
        </div>
    </div>
</div>