<div class="clientSectionBox testimonials">
    <h2 class="section-heading" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">OUR PEOPLE</h2>
    <h4 class="sub-heading"  data-aos="fade-up" data-aos-duration="500" data-aos-delay="600">
        Our office is our castle. Immerse into our working atmosphere with a few office shots.
    </h4>
    <div data-aos="fade-left" data-aos-duration="1000" data-aos-delay="800">
        <div class=" slider-parent">
            <div class="client-slider">
                <div class='1 left'></div>
                <div class='2 center'></div>
                <div class='3 right'></div>
                <div class='center active'></div>
            </div>
            <div class="bullets">
                <i class='1'></i>
                <i class='2 active'></i>
                <i class='3'></i>
            </div>
        </div>
    </div>
</div>