<div>
  <div class="third-column-first-heading">PRODUCTS</div>
  <div class="third-column-second-heading">OUR PRODUCTS</div>
  <div class="ourProducts container-fluid">
    <img src="./assets/newsletter/ouProducts.png" class="OurProductimage" />
    <div class="row project-row margin-top">
      <div class="col-md-6 col-sm-12 margin-12">
        <div class="product_two">
          <div class="product">
            <div class="panel text-center radius">
              <span>Human Resource Management System</span>
            </div>
          </div>
          <div class="product">
            <div class="panel text-center radius">
              <span>Recruitment Career Mobile App</span>
            </div>
          </div>
        </div>
        <div class="product_three">
          <div></div>
          <div class="panel">
            <div class="panel-padding text-center radius">
              <span class="grid-heading product_center padding-0">PRODUCTS</span>
            </div>
            <div></div>
          </div>
        </div>
        <div class="product_two">
          <div class="col-sm-6 product">
            <div class="panel text-center radius">
              <span>Team Management System</span>
            </div>
          </div>
          <div class="col-sm-6 product">
            <div class="panel text-center radius">
              <span>Recruitment Management System</span>
            </div>
          </div>
        </div>
      </div>

       <div class="col-md-6 col-sm-12">
        <div>
          <span class="product_heading">Human Resource Management System</span>
          <div class="product_description">
            We have developed a HR Management System which provides a single
            360-degree view of the complete functioning of the business and
            helps in managing employee attendance, Inventory management, invoice
            report, document management, leaves management and other modules
            too.
          </div>
          <div class="product_link">
            Visit:
            <a
              href="https://hr.excellencetechnologies.in/#/"
              class="anchor"
              target="blank"
              >https://hr.excellencetechnologies.in/#/</a
            >
          </div>
        </div>
        <div>
          <span class="product_heading">Recruitment Career Mobile App</span>
          <div class="product_description">
            We have developed a HR recruitment mobile applications through which
            job applicant can get latest job opening details, give interviews
            from home, get real time interview results, contact our hr easily
            and ask questions etc.
          </div>
          <div class="product_link">
            Visit:
            <a
              href="https://play.google.com/store/apps/details?id=com.hrrecruits&hl=en_IN"
              class="anchor"
              target="blank"
              >https://play.google.com/store/apps/details?id=com.hrrecruits&hl=en_IN</a
            >
          </div>
        </div>
        <div>
          <span class="product_heading">Team Management System</span>
          <div class="product_description">
            Team Management System for company to analyze the performance of
            staff members such as company employees, managers, management etc.
            It allow employee to submit their work reports, managers can give
            feedback on the reports and management see a full reports for
            appraisals, promotions.
          </div>
          <div class="product_link">
            Visit:
            <a
              href="http://tms.excellencetechnologies.in/"
              class="anchor"
              target="blank"
              >http://tms.excellencetechnologies.in/</a
            >
          </div>
        </div>
      </div> 
    </div>
  </div>
  <div class="ourProducts padding-3">
    <div>
      <img src="./assets/newsletter/triBack.png" class="coming_leftImg" />
    </div>
    <div>
      <img
        src="./assets/newsletter/product_rightBg.png"
        class="coming_rightImg"
      />
    </div>
    <div class="row coming_form_row">
      <div class="col-sm-4 text-white">
        <div class="coming_heading">Coming Soon</div>
        <div class="coming_AI">AI based Recruitment Management System</div>
        <div class="coming_AIdescription">
          From identifying talent to assessments of candidates,Excellence RMS
          can help you shortlist candidates thay best suit your requirement.Our
          powerful AI recruitment features let's you focus on the genuine
          candidate and improve the quality of hires
        </div>
      </div>
      <div class="col-sm-7 padding-0">
        <img src="./assets/newsletter/clientform.png" class="form_image" />
      </div>
    </div>
  </div> 
  <div class="ourProducts msg_Image">
    <div class="start">
      <div class="get_start">
        Let's <strong>Get Started</strong>
      </div>
      <div class="about">
        <strong>Excellence Technologies</strong>
        <div>
          C-86 B, Sector-8, Noida, Uttar Pradesh
        </div>
        <div>
          India 201301
        </div>
        <div>
          <u>Email:</u> contact@excellencetechnologies.in
        </div>
        <div>
          <u>Open:</u> Monday to Saturday (10.00 am to 8:00pm)
        </div>
      </div>
    </div>
  </div>
  <div class="ourProducts footer_image height">
    <div class="social_id">
      <div>
        <span class="bold">Skype:</span> sales@excellencetechnologies
      </div>
      <div>
        <span class="bold">Facebook:</span> https://bit.ly/39IS7XV
      </div>
      <div>
        <span class="bold">LinkedIn:</span> https://bit.ly/322TA8S
      </div>
      <div>
        <span class="bold">Clutch:</span> https://bit.ly/39ISkdF
      </div>
    </div>
  </div> 
</div>
