<div>
    <div class="implementationFirstRow">
        <div class="implementationFirstCol">
            <p class="servicesHeading" data-aos="fade-left" aos-duration="500" aos-delay="500">
                FROM PLANNING TO IMPLEMENTATION
            </p>
            <div>
                <p class="servicesMainHeading" data-aos="fade-up" aos-duration="500" aos-delay="700">
                    Thinking to have a website that<br>
                    you can update yourself?
                </p>
                <p class="servicesDesc" data-aos="fade-left" aos-duration="500" aos-delay="700">
                    A dynamic website is essential to keep visistors engaged. We engineer technology that adapts to the
                    needs of our clients using contemporary languages and softwares, that are scalable across all
                    computer platforms creating a packaged solution to the benefit of consumer.
                </p>
                <p class="servicesDesc" data-aos="fade-left" aos-duration="500" aos-delay="700">
                    From front-end to back-end, our in-house web development team works seamlesly to build a website
                    supported by engaging and purposeful interactions. We offer flexible services to ensure that your
                    web platform is aligned with your business initiatives and marketing goals. From custo code, to
                    seamless integration, to exclusive functionality, our dedicated team of devlopers have the
                    capabilities to take your website to the next level.
                </p>
            </div>
        </div>
        <div class="implementationSecondCol">
            <div data-aos="fade-left" aos-duration="500" aos-delay="700">
                <p>TECHNOLOGIES</p>
                <ul>
                    <li>Single Page Application</li>
                    <li>ReactJS</li>
                    <li>VueJS</li>
                    <li>AngularJS</li>
                    <li>Native App with Ionic</li>
                    <li>React Native</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="implementationSecondRow" data-aos="fade-up" aos-duration="500" aos-delay="1000">
        <div class="text-center ImplementationBox">
            <div>
                <img class="coreServiceImg" src="./assets/png/roundedRect/implementation1.png">
            </div>
            <p class="numbers">01.</p>
            <p class="implementationHeading text-left">Planning & Stratergy</p>
            <p class="implementationDesc text-left">
                Our project plan defines the time frame until the completion of the project and our strategic concept
                includes, your business goals and necessary measures to achieve these goals.
            </p>
        </div>
        <div class="text-center ImplementationBox" data-aos="fade-up" aos-duration="500" aos-delay="1200">
            <div>
                <img class="coreServiceImg" src="./assets/png/roundedRect/implementation2.png">
            </div>
            <p class="numbers">02.</p>
            <p class="implementationHeading text-left">UX Concept & Design</p>
            <p class="implementationDesc text-left">
                Send your specification and we’ll send back a high-quality design that embraces your vision. Simply
                provide us with the wireframes, sitemap,and your guidelines, watch them transform into a top notch UI
                design.
            </p>
        </div>
        <div class="text-center ImplementationBox" data-aos="fade-up" aos-duration="500" aos-delay="1400">
            <div>
                <img class="coreServiceImg" src="./assets/png/roundedRect/implementation3.png">
            </div>
            <p class="numbers">03.</p>
            <p class="implementationHeading text-left">Front and back end development</p>
            <p class="implementationDesc text-left">
                Our code is fully commented, handwritten and well structured, which makes it easily integratable with
                any CMS- based website, depending upon the requirements.
            </p>
        </div>
        <div class="text-center ImplementationBox" data-aos="fade-up" aos-duration="500" aos-delay="1600">
            <div>
                <img class="coreServiceImg" src="./assets/png/roundedRect/implementation4.png">
            </div>
            <p class="numbers">04.</p>
            <p class="implementationHeading text-left">Testing and quality assurance</p>
            <p class="implementationDesc text-left">
                We are there to support you and your developers throughout the entire development phase and ensure that
                the end result fits. We assign Project Managers to every project to ensure code qulity. We test in all
                stages of product development to create bug-free, relaibale, safe and secure solutions
            </p>
        </div>
        <div class="text-center ImplementationBox" data-aos="fade-up" aos-duration="500" aos-delay="1800">
            <div>
                <img class="coreServiceImg" src="./assets/png/roundedRect/implementation5.png">
            </div>
            <p class="numbers">05.</p>
            <p class="implementationHeading text-left">Advice & Support</p>
            <p class="implementationDesc text-left">
                Since we prefer to maintain customer relationships rather than simply hand them in, we naturally also
                offer you technical support after going online. Together we analyze user feedback and visitor numbers
                and thus work on the continuous improvement of your products or services.
            </p>
        </div>
    </div>
</div>