<div class="portfolioRow">
  <div class="portfolioFirstCol">
    <img
      class="arrowImg"
      data-aos="fade-out"
      data-aos-duration="1000"
      data-aos-delay="1000"
      src="./assets/portfolio/arrow icon.png"
    />
    <p
      class="portfolioHeading"
      data-aos="fade-up"
      data-aos-duration="500"
      data-aos-delay="500"
    >
      Our Portfolio
    </p>
    <div class="porfolioInnerBox">
      <p
        class="portfolioMainHeading"
        data-aos="fade-up"
        data-aos-duration="500"
        data-aos-delay="600"
      >
        Selected Samples
      </p>
      <p
        class="porfolioLine"
        data-aos="fade-up"
        data-aos-duration="500"
        data-aos-delay="600"
      >
        Programming Hub- Responsive Project
      </p>
      <p
        class="portfolioDesc"
        data-aos="fade-up"
        data-aos-duration="500"
        data-aos-delay="600"
      >
        React JS/ NodeJS project with pixel perfect responsive designs and api
        integration.
      </p>
      <ul
        class="PortfolioList"
        data-aos="fade-up"
        data-aos-duration="500"
        data-aos-delay="700"
      >
        <li>ReactJS</li>
        <li>Redux</li>
        <li>NodeJS</li>
        <li>Slack / Github / Invision</li>
        <li>Responsive</li>
        <li>API Integration</li>
        <li>Full Stack</li>
      </ul>
      <div
        class="viewBox"
        data-aos="fade-left"
        data-aos-duration="500"
        data-aos-delay="800"
      >
        <div class="viewBtn">
          View
        </div>
      </div>
    </div>
  </div>
  <div class="portfolioSecondCol">
    <img
      class="screenImg"
      data-aos="fade-up"
      data-aos-duration="500"
      data-aos-delay="600"
      src="./assets/portfolio/screen.png"
    />
  </div>
</div>
