<div class="container-fluid">
    <div class="third-column-first-heading padding">PROJECTS</div>
    <div class="projects padding">EXCELLENCE PROJECTS</div>
    <div class="row project-row">
        <div class="col-sm-9">
            <img src="./assets/newsletter/Group 15(edit).png" class="oakerImage">
            <img src="./assets/newsletter/Layer 32 copy.png" class="zarpoImage">
        </div>
        <img src="./assets/newsletter/programming.png" class="programmingHubImage">
    </div>
    <div class="row clients-row">
        <img src="./assets/newsletter/clients/bumbag.png" class="bumbagLogo">
        <img src="./assets/newsletter/clients/zarpo.png" class="zarpoLogo">
        <img src="./assets/newsletter/clients/waterbeds3.png" class="waterbedsLogo">
        <img src="./assets/newsletter/clients/programming_logo.png" class="programmingLogo">
        <img src="./assets/newsletter/clients/rudsak_logo.png" class="rudsakLogo">
    </div>
</div>