<div class="row">
    <div class="reasons-content">
        <div class="reasons-content-blocks" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
            <div class="col-xs-12 col-md-9 col-sm-9 col-lg-9 reasons-content-main">
                <h5 class="pre-heading">REASONS TO WORK HERE</h5>
                <h2 class="reasons-heading">Our Culture is our biggest perk.<br/>Work hard, play hard.</h2>
                <div class="reasons-content-desc">
                    <p>
                        Join a team of passionate technology experts who create progress everyday, and take care of each other at every step of the professional journey. Our culture is build on open communication, togetherness and equal opportunities. It is easy to be creative and enthusiastic about your work, when you are a part of such a supportive environment.
                    </p>
                    <p>
                        We believe in passionate people. We don't offer perks to make people happy. Our work does that. We believe in building a culture. Our highly skilled teams work together to do what's never been done before, every day. We are designing and developing, meaningful and challenging projects using cutting-edge technology, with the ultimate goal to raise the bar even higher.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-sm-3 col-lg-3 reasons-content-values-main">
                <h5 class="values-heading">CORE VALUES</h5>
                <div class="values-desc">
                    <p>Creativity</p>
                    <p>Collaboration</p>
                    <p>Simplicity</p>
                    <p>Innovation</p>
                    <p>Passion</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 perk-points">
            <div class="col-xs-12 col-xxs-12 col-5 perk-point perk-point1" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                <div class="icon-container">
                    <div class="icon img">
                        <img src="./assets/careers/Tight-Knit-Team.png" alt="Tight Knit Team" title="Tight Knit Team" />
                    </div>
                </div>
                <h5 class="perk-point-title">Tight Knit Team</h5>
                <div class="perk-point-description">
                    <span>We're a close group of talented people who enjoy working (and not working) together.</span>
                </div>
            </div>
            <div class="col-xs-12 col-xxs-12 col-5 perk-point perk-point2" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
                <div class="icon-container">
                    <div class="icon img">
                        <img src="./assets/careers/Inspiring-Work.png" alt="Inspiring Work" title="Inspiring Work" />
                    </div>
                </div>
                <h5 class="perk-point-title">Inspiring Work</h5>
                <div class="perk-point-description">
                    <span>We're a close group of talented people who enjoy working (and not working) together.</span>
                </div>
            </div>
            <div class="col-xs-12 col-xxs-12 col-5 perk-point perk-point3" data-aos="fade-up" data-aos-duration="500" data-aos-delay="600">
                <div class="icon-container">
                    <div class="icon img">
                        <img src="./assets/careers/Professional-Development.png" alt="Professional Development" title="Professional Development" />
                    </div>
                </div>
                <h5 class="perk-point-title">Professional Development</h5>
                <div class="perk-point-description">
                    <span>Every day here offers the opportunity to create something amazing.</span>
                </div>
            </div>
            <div class="col-xs-12 col-xxs-12 col-5 perk-point perk-point4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="700">
                <div class="icon-container">
                    <div class="icon img">
                        <img src="./assets/careers/Great-Atmosphere.png" alt="Great Atmosphere" title="Great Atmosphere" />
                    </div>
                </div>
                <h5 class="perk-point-title">Great Atmosphere</h5>
                <div class="perk-point-description">
                    <span>Work alongside like minded individuals in an environment that fosters creativity and embraces growth.</span>
                </div>
            </div>
            <div class="col-xs-12 col-xxs-12 col-5 perk-point perk-point5" data-aos="fade-up" data-aos-duration="500" data-aos-delay="800">
                <div class="icon-container">
                    <div class="icon img">
                        <img src="./assets/careers/Training-Mentorship.png" alt="Training Mentorship" title="Training Mentorship" />
                    </div>
                </div>
                <h5 class="perk-point-title">Training Mentorship</h5>
                <div class="perk-point-description">
                    <span>Get ahead at work with regular training programs planned at every level.</span>
                </div>
            </div>
        </div>
    </div>
</div>