<div class="coreServicesBox">
    <div class="headSection">
        <h2 class="section-heading" data-aos="fade-up" data-aos-delay="500" data-aos-duration="500">OUR CORE SERVICES</h2>
        <p class="text-center headPara" data-aos="fade-up" data-aos-delay="600" data-aos-duration="500">
            We’ve developed skills and know-how in different fields of expertise. Our team of trained professional</br>
            developers and technologists work towards creating customized solutions</br>
            as per your business needs.</p>
    </div>
    <div>
        <div class="developmentRow">
            <div class="serviceBox">
                <div class="text-center imgBox">
                    <img data-aos="fade-up" data-aos-delay="500" data-aos-duration="500"
                     class="developmentImg" src="./assets/png/roundedRect/Group 4.png" />
                </div>
                <div class="text-left" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
                    <p class="techBox">Single Page Application, ReactJS,
                        VueJS,
                        AngularJS, Native App with Ionic, React Native</p>
                    <p class="techHeading">Web Application
                        Development
                    </p>
                    <p class="serviceDesc">We develop ultra modern,
                        proficient and
                        smooth functioning applications for Android
                        platforms with ease and expertise of our highly skilled team.</p>
                </div>
            </div>
            <div class="serviceBox">
                <div class="text-center imgBox">
                    <img data-aos="fade-up" data-aos-delay="600" data-aos-duration="500" class="developmentImg" src="./assets/png/roundedRect/Group 5.png" />
                </div>
                <div class="text-left" data-aos="fade-up"  data-aos-duration="500" data-aos-delay="600">
                    <p class="techBox">iOS, Android, Windows</p>
                    <p class="techHeading">Mobile Application
                        Development</p>
                    <p class="serviceDesc">We develop ultra modern,
                        proficient
                        and
                        smooth functioning applications for Android
                        platforms with ease and expertise of our highly skilled team.</p>
                </div>
            </div>
            <div class="serviceBox">
                <div class="text-center imgBox">
                    <img data-aos="fade-up" data-aos-delay="700" data-aos-duration="500" class="developmentImg" src="./assets/png/roundedRect/Group 6.png" />
                </div>
                <div class="text-left" data-aos="fade-up"  data-aos-duration="500" data-aos-delay="700">
                    <p class="techBox">Magento, Shopify, WooCommerce,
                        PrestaShop
                    </p>
                    <p class="techHeading">eCommerce Development</p>
                    <p class="serviceDesc">We adapt E-commerce to the
                        demanding needs
                        of end users, while making it secure and scalable using Magento
                        customisation, inclusive of module development and theme design.</p>
                </div>
            </div>
            <div class="serviceBox">
                <div class="text-center imgBox">
                    <img data-aos="fade-up" data-aos-delay="800" data-aos-duration="500" class="developmentImg" src="./assets/png/roundedRect/Group 6.png" />
                </div>
                <div class="text-left" data-aos="fade-up" data-aos-duration="500" data-aos-delay="800">
                    <p class="techBox">Wordpress, Laravel, Custom CMS, Custom ecommerce, API Development, PHP,
                        NodeJS</p>
                    <p class="techHeading">Back-End Development</p>
                    <p class="serviceDesc">We develop ultra modern,
                        proficient and
                        smooth functioning applications for Android
                        platforms with ease and expertise of our highly skilled team.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="technologies">
    <div class="techRow" >
        <div class="techRow1">
            <div class="text-center" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
                <div class="techIconBox">
                    <img class="techImg" src="./assets/technologies/Layer 19.png">
                </div>
                <p class="techName">iOS</p>
            </div>
            <div class="text-center" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
                <div class="techIconBox">
                    <img class="techImg" src="./assets/technologies/Layer 20.png">
                </div>
                <p class="techName">ANDROID</p>
            </div>
            <div class="text-center" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
                <div class="techIconBox">
                    <img class="techImg" src="./assets/technologies/Layer 21.png">
                </div>
                <p class="techName">WINDOWS</p>
            </div>
            <div class="text-center" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
                <div class="techIconBox">
                    <img class="techImg" src="./assets/technologies/Layer 10.png">
                </div>
                <p class="techName">REACT NATIVE</p>
            </div>
            <div class="text-center" data-aos="fade-up" data-aos-duration="500" data-aos-delay="600">
                <div class="techIconBox">
                    <img class="techImg" src="./assets/technologies/Layer 11.png">
                </div>
                <p class="techName">ANGULAR JS</p>
            </div>
            <div class="text-center" data-aos="fade-up" data-aos-duration="500" data-aos-delay="600">
                <div class="techIconBox">
                    <img class="techImg" src="./assets/technologies/Layer 12.png">
                </div>
                <p class="techName">VUE JS</p>
            </div>
            <div class="text-center" data-aos="fade-up" data-aos-duration="500" data-aos-delay="600">
                <div class="techIconBox">
                    <img class="techImg" src="./assets/technologies/Layer 16.png">
                </div>
                <p class="techName">IONIC</p>
            </div>
            <div class="text-center" data-aos="fade-up" data-aos-duration="500" data-aos-delay="600">
                <div class="techIconBox">
                    <img class="techImg" src="./assets/technologies/Layer 17.png">
                </div>
                <p class="techName">MAGENTO</p>
            </div>
            <div class="text-center" data-aos="fade-up" data-aos-duration="500" data-aos-delay="700">
                <div class="techIconBox ">
                    <img class="techImg" src="./assets/technologies/Layer 18.png">
                </div>
                <p class="techName">SHOPIFY</p>
            </div>
            <div class="text-center" data-aos="fade-up" data-aos-duration="500" data-aos-delay="700">
                <div class="techIconBox">
                    <img class="wooImg" src="./assets/technologies/Layer 22.png">
                </div>
                <p class="techName">WOOCOMMERCE</p>
            </div>
            <div class="text-center" data-aos="fade-up" data-aos-duration="500" data-aos-delay="700">
                <div class="techIconBox">
                    <img class="techImg" src="./assets/technologies/Layer 23.png">
                </div>
                <p class="techName">WORDPRESS</p>
            </div>
            <div class="text-center" data-aos="fade-up" data-aos-duration="500" data-aos-delay="700">
                <div class="techIconBox">
                    <img class="nodeImg" src="./assets/technologies/Layer 24.png">
                </div>
                <p class="techName">NODE JS</p>
            </div>
        </div>
        <div class="colBox" data-aos="fade-up" data-aos-delay="900" data-aos-duration="500" >
            <p class="amazingHeading"> OUR SERVICES ARE DRIVEN BY AMAZING TECHNOLOGIES </p>
            <p class="regularHeading">Technologies we work
                <br><span class='expandingLine'> on regular basis</span></p>
            <p class="techDesc">We are not fanatical about single solution. We pride ourselves on finding the best
                fit for our client’s needs. Among the tools at our disposal are technologies such as Single Page
                Application, ReactJS, VueJS, AngularJS, Native App with Ionic, React Native, iOS,Android, Windows,
                Magento, Shopify, WooCommerce, PrestaShop, Wordpress, Laravel, Custom CMS, Custom eCommerce, API
                Development, PHP, NodeJS,and more.</p>
        </div>
    </div>
</div>