<div class="servicesBanner" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400" >
    <p class="servicesBannerHeading">Our Core Team is all about CODE,<br>
        and we associate with companies New &<br>
        those Already Established, by <br>
        <span>CREATING CUSTOMIZED SOLUTIONS</span></p>
</div>