<div class="clientSectionBox testimonials">
    <p class="miniHeading text-center">You're in good company</p>
    <h2 class="serviceSectionHeading" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">WHAT ARE THEY SAYING</h2>
    <h4 class="sub-heading" data-aos="fade-up" data-aos-duration="500" data-aos-delay="700">
        Making our client’s happy isn’t just about building beautiful websites. It’s about building a relationship,
        </br>earning trust and growing together
    </h4>
    <div class="" data-aos="fade-up" data-aos-duration="500" data-aos-delay="800">
        <div class=" slider-parent">
            <div class="client-slider">
                <div class='1 left'></div>
                <div class='2 center'></div>
                <div class='3 right'></div>
                <div class='center active'></div>
            </div>
            <div class="testimonials-comments">
                <div>
                    <h2 class='headName'>JOHN DOE 1</h2>
                    <h4 class='designation'>SENIOR VICE PRESIDENT, ABD TECH</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                </div>
                <div>
                    <h2 class='headName'>JOHN DOE 2</h2>
                    <h4 class='designation'>SENIOR VICE PRESIDENT, ABD TECH</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                </div>
                <div>
                    <h2 class='headName'>JOHN DOE 3</h2>
                    <h4 class='designation'>SENIOR VICE PRESIDENT, ABD TECH</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="bullets">
                <i class='1'></i>
                <i class='2 active'></i>
                <i class='3'></i>
            </div>
        </div>
    </div>
</div>