<div class="testimonials">
    <div class="welcomeHead">
        <h2 class="section-heading" data-aos="fade-left" data-aos-duration="500" data-aos-delay="500" >WELCOME TO EXCELLENCE</h2>
        <h4 class="sub-heading" data-aos="fade-up" data-aos-duration="500" data-aos-delay="600">
            Our office is our castle. Immerse into our working atmosphere with a few office shots.
        </h4>
    </div>
    <div>
        <div class=" slider-parent" data-aos="fade-up" data-aos-duration="500" data-aos-delay="700" >
            <div class="client-slider">
                <div class='1 left'></div>
                <div class='2 center'></div>
                <div class='3 right'></div>
                <div class='center active'></div>
            </div>
        </div>
    </div>
</div>