<div class="container-fluid">
  <div class="third-column-first-heading">WHAT</div>
  <div class="third-column-second-heading">WHAT WE DO</div>
  <div class="row row-padding">
    <div class="col-sm-2 ">
      <div class="row  text-center">
        <div class="row tech_container techNode_container">
          <img
            src="./assets/newsletter/technology-logo/node.png"
            class="node tech_image"
          />
        </div>
        <div class="row tech_name">
          NodeJS
        </div>
      </div>
      <div class="row text-center">
        <div class="row tech_container">
          <img
            src="./assets/newsletter/technology-logo/postgreSQL.png"
            class="img1 tech_image"
          />
        </div>
        <div class="row tech_name">PostgreSQL</div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="row text-center">
        <div class="row tech_container">
          <img
            src="./assets/newsletter/technology-logo/react.png"
            class="img1 tech_image"
          />
        </div>
        <div class="row tech_name">
          ReactJS
        </div>
      </div>
      <div class="row text-center">
        <div class="row tech_container">
          <img
            src="./assets/newsletter/technology-logo/mongo.png"
            class="mongo tech_image"
          />
        </div>
        <div class="row tech_name">MongoDB</div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="row text-center">
        <div class="row tech_container">
          <img
            src="./assets/newsletter/technology-logo/angular.png"
            class="img1 tech_image"
          />
        </div>
        <div class="row tech_name">AgularJS</div>
      </div>
      <div class="row  text-center">
        <div class="row tech_container">
          <img
            src="./assets/newsletter/technology-logo/pyhton.png"
            class="img1 tech_image"
          />
        </div>
        <div class="row tech_name">Pyhton</div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="row  text-center">
        <div class="row tech_container">
          <img
            src="./assets/newsletter/technology-logo/vue.png"
            class="img1 tech_image"
          />
        </div>
        <div class="row text-center tech_name">VueJS</div>
      </div>
      <div class="row text-center">
        <div class="row tech_container">
          <img
            src="./assets/newsletter/technology-logo/shopify.png"
            class="img1 shopify_image tech_image"
          />
        </div>
        <div class="row tech_name">Shopify</div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="row text-center">
        <div class="row tech_container">
          <img
            src="./assets/newsletter/technology-logo/firebase.png"
            class="firebase tech_image"
          />
        </div>
        <div class="row tech_name">Firebase</div>
      </div>
      <div class="row text-center">
        <div class="row tech_container php_container">
          <img
            src="./assets/newsletter/technology-logo/php.png"
            class="php tech_image"
          />
        </div>
        <div class="row tech_name">PHP</div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="row text-center">
        <div class="row tech_container">
          <img
            src="./assets/newsletter/technology-logo/magento.png"
            class="img1 tech_image"
          />
        </div>
        <div class="row tech_name">Magento</div>
      </div>
      <div class="row text-center">
        <div class="row tech_container php_container">
          <img
            src="./assets/newsletter/technology-logo/wordpress.png"
            class="wordpress tech_image"
          />
        </div>
        <div class="row tech_name">WordPress</div>
      </div>
    </div>
  </div>
</div>
