<p class="servicesHeading" data-aos="fade-left" data-aos-duration="500" data-aos-delay="500">
    Why Excellence Technologies for Web Development?
</p>
<div class="whyExcellenceOuterRow">
    <p class="servicesMainHeading" data-aos="fade-up" data-aos-duration="500" data-aos-delay="700">
        What Web Development means to us<br>
        at Excellence Technologies
    </p>
    <div>
        <div class="whyExcellenceRow">
            <div class="whyExcellenceInnerRow" data-aos="fade-up" data-aos-duration="500" data-aos-delay="800">
                <div class="whyExcellenceInnerImgBox text-left">
                    <img class="whyExcellenceImg" src="./assets/png/roundedRect/whyExcellence1.png">
                </div>
                <div>
                    <p class="whyExcellenceHeading">Custom application development</p>
                    <p class="implementationDesc">We develop custom software development as per requirements to serve
                        with strategic benefits. We maintain constant communication with the client so that nothing goes
                        unnoticed and if any risks are identified it can be dealt immediately. We have a dynamic team of
                        talented software developers who are experienced in developing robust and efficient systems.</p>
                </div>

            </div>
            <div class="whyExcellenceInnerRow" data-aos="fade-up" data-aos-duration="500" data-aos-delay="800">
                <div class="whyExcellenceInnerImgBox text-center">
                    <img class="whyExcellenceImg" src="./assets/png/roundedRect/whyExcellence2.png">
                </div>
                <div>
                    <p class="whyExcellenceHeading">Portal development</p>
                    <p class="implementationDesc">We create web portals as well as enterprise portals. Our web portals
                        offer the best of performance, cost-efficiency and growth potential.</p>
                </div>
            </div>
            <div class="whyExcellenceInnerRow" data-aos="fade-up" data-aos-duration="500" data-aos-delay="800">
                <div class="whyExcellenceInnerImgBox text-left">
                    <img class="whyExcellenceImg" src="./assets/png/roundedRect/whyExcellence3.png">
                </div>
                <div>
                    <p class="whyExcellenceHeading">E-Commerce development</p>
                    <p class="implementationDesc">We offer end-to-end eCommerce solutions with payment gateway
                        integration, plug-in high-end modules, round-the-clock maintenance</p>
                </div>
            </div>
            <div class="whyExcellenceInnerRow" data-aos="fade-up" data-aos-duration="500" data-aos-delay="800">
                <div class="whyExcellenceInnerImgBox text-center">
                    <img class="whyExcellenceImg" src="./assets/png/roundedRect/whyExcellence4.png">
                </div>
                <div>
                    <p class="whyExcellenceHeading">Website development and maintenance</p>
                    <p class="implementationDesc">We create websites with easy navigation, robust information
                        architecture, visual cues for users, and action-oriented design. Our websites work wonderfully,
                        regardless of the screen size or resolution.</p>
                </div>
            </div>
            <div class="whyExcellenceInnerRow" data-aos="fade-up" data-aos-duration="500" data-aos-delay="900">
                <div class="whyExcellenceInnerImgBox text-left">
                    <img class="whyExcellenceImg" src="./assets/png/roundedRect/whyExcellence5.png">
                </div>
                <div>
                    <p class="whyExcellenceHeading">Open source web development and revamp</p>
                    <p class="implementationDesc">Open source development is a concept that allows you to develop or
                        revamp your website with the same source code. The only difference being the source codes are
                        visible on the web page of the website. With our open source website revamp and development, you
                        can alter the source code for your website from its native design to reach unattainable roll-out
                        times and limited budgets.</p>
                </div>
            </div>
            <div class="whyExcellenceInnerRow" data-aos="fade-up" data-aos-duration="500" data-aos-delay="900">
                <div class="whyExcellenceInnerImgBox text-center">
                    <img class="whyExcellenceImg" src="./assets/png/roundedRect/whyExcellence6.png">
                </div>
                <div>
                    <p class="whyExcellenceHeading">Web application support and maintenance</p>
                    <p class="implementationDesc">Creating a website isn’t a one time affair. It must be regularly
                        audited and updated to stay ahead of competition and continue providing a fantastic web
                        experience to your users. Be it support for your CMS, accessibility updates, security updates,
                        bug fixing or just routine web maintenance services, our dedicated maintenance team will be with
                        you every step of the way.</p>
                </div>
            </div>
            <div>
            </div>
        </div>
        <div class="knowMoreBox" data-aos="fade-left" data-aos-duration="500" data-aos-delay="700">
            <div class="knowMoreBtn">
                Know More
            </div>
        </div>
    </div>
</div>