<div class="col-xs-12 work-menu-container">
    <ul>
        <li>SHOPIFY</li>
        <li class="active">MAGENTO</li>
        <li>REACT</li>
        <li>REACT NATIVE</li>
    </ul>
</div>
<div class="col-xs-12">
    <div class="row categories">
        <div class="col-xs-12">
            <div class="slider-container">
                <div class="slides">
                    <div class="slide" id="slide1">
                        <div class="card">
                            <img src="assets/categories/magento/project1.png" alt="">
                            <div class="details">
                                <div class="icon">
                                    <img src="assets/appdesign.svg" alt="">
                                </div>
                                <h3 class="title">
                                    Panda Shoes
                                </h3>
                                <p class="detail-text">
                                    Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere
                                    vulputate. Etiam elit
                                </p>
                                <a href="" class="see-more">SEE MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination">
                    <img src="assets/left-arrow.svg" alt="">
                    <div data-target="#slide1" class="bullets active"></div>
                    <div data-target="#slide2" class="bullets"></div>
                    <div data-target="#slide3" class="bullets"></div>
                    <div data-target="#slide4" class="bullets"></div>
                    <div data-target="#slide5" class="bullets"></div>
                    <img src="assets/right-arrow.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>